<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html class="no-js"  lang="en">

	<head>
    <% include ../shared/user/styles.ejs %>
	</head>

	<body>
		<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
			your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<!-- main-menu Start -->
		<% include ../shared/user/navigation.ejs %>
		<!-- main-menu End -->

        <!--travel-box end-->
        
        <section class="product-detail ht-csl-series">
            <div class="box box-bg1">
                <div class="box-item">
                    <div class="box-img">
                        <img src="../images/products/ht-01.png" alt="HT Series">
                    </div>
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title">
                            <h1>HT Series</h1>
                            <span class="sub-title">
                                225/250KW ∣ Three Phase ∣ 12 MPPT
                            </span> 
                        </div>
                        <div class="borderBottom-title"></div>
                        <div class="box-content-main">
                            <p>
                                The new HT 1500V Series (225/250kW) is GoodWe’s top inverter for utilization in solar utilities with an extensive list of features designed to reduce system and O&M costs. This inverter boasts 12 MPPTs, PLC communication and is compatible with bifacial modules. The HT-1500V Series features string level monitoring and incorporated I-V curve diagnosis for intelligent detection of voltage and current issues. It features internal humidity detection, optional PID repair function and AC terminal over-temperature protection. It can realize 24-hour monitoring and O&M during nighttime. The configuration of the HT 1500V can be easily done via Bluetooth and firmware diagnosis and upgrading can be operated remotely. These outstanding sets of features were conceived to ensure the lowest levelized cost of energy (LCOE).
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-bg2">
				<div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>Max. Current per String 15A
                            </h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                Supporting max. 15A DC input current per string, and MPPT-level maximum 30A DC input current, GoodWe HT series is the ideal choice for high-power & bifacial modules on the market. It makes full use of power generated and guarantees IRR for clients.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
			
			<div class="box box-bg3">
                <div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>PLC 2.0</h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                The second generation of Power Line Communication includes all the benefits of the first generation (savings on cost of communication cables and stable data transmission) but with much faster communication speed, which allows for quick and smart monitoring.
                            </p>
                        </div>
                    </div>
                </div>
			</div>
			
			<div class="box box-bg4">
                <div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>Data Security and<br>
                                Fault Recording</h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                The inverter can record specific fault data, so even if it goes off-line, no data loss will occur. Furthermore, the breakpoint resuming function allows continuous data upload to the monitoring system when it reconnects to the server after recovery. The inverter is equipped with dual flash memory to ensure data security. The entire data transmission process is fully encrypted while all the data is stored on the server for backup.
                            </p>
                        </div>
                    </div>
                </div>
			</div>
			
			<div class="box box-bg5">
                <div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>Temperature and<br>
                                Humidity Detection</h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                With advanced sensors integrated, HT Inverters are able to detect the temperature of the AC connector and the internal humidity of the machine. This function is designed to send alarms if either the connector’s temperature or the inverter’s interior relative humidity is too high.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-bg6">
                <div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1> 24 Hour Monitoring<br>
                                and Maintenance</h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                With power supplied from the AC side, the inverter can monitor the PV system at night, allowing for 24 hour monitoring. What else? It can carry out maintenance work at night. This means it does not interfere with PV generation during daylight.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-bg7">
                <div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>I-V Curve Diagnosis</h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                HT Series allows string level monitoring, and supports intelligent detection of voltage and current issues, ensuring fast troubleshooting and maximum O&M efficiency.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

		<% include ../shared/user/footer.ejs %>
		<% include ../shared/user/scripts.ejs %>
	</body>

</html>