<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html class="no-js"  lang="en">

	<head>
    <% include ../shared/user/styles.ejs %>
	</head>

	<body>
		<!-- main-menu Start -->
		<% include ../shared/user/navigation.ejs %>
		<!-- main-menu End -->

		<% include ../shared/user/banner.ejs %>
        
        <section class="products">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="allproduct_redpoint"></div>
                        <h3 class="products-title">Ground Utility Inverters</h3>
                    </div>
                </div>
                <div class="row">
                    <hr class="line-pr">
                </div>
                <div class="row">
                    <div class="col-sm-3 p-5 products-item">
						<a href="/bien-tan-cong-suat-lon/dong-ht">
							<div>
								<img src="/images/products/img_ground_01.png" alt="HT Series">
								<div class="products-desc">
                                    <h4>HT Series</h4>
                                    <p>
                                        225/250KW ∣ Three Phase ∣  <br>  12 MPPT
                                    </p>
								</div>
							</div>
						</a>
                    </div>
                </div>
            </div>
        </section>

		<% include ../shared/user/footer.ejs %>
		<% include ../shared/user/scripts.ejs %>
	</body>

</html>