<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html class="no-js"  lang="en">

	<head>
    <% include ../shared/user/styles.ejs %>
	</head>

	<body>
		<!-- main-menu Start -->
		<% include ../shared/user/navigation.ejs %>
		<!-- main-menu End -->

		<!--about-us start -->
		<section id="home" class="about-us">
			<div class="container">
				<div class="about-us-content">
					<div class="row">
						<div class="col-sm-12">
							<div class="single-about-us">
								<div class="about-us-txt">
									<h2>
                    Dự Án
									</h2>
								</div><!--/.about-us-txt-->
							</div><!--/.single-about-us-->
						</div><!--/.col-->
						<div class="col-sm-0">
							<div class="single-about-us">
								
							</div><!--/.single-about-us-->
						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.about-us-content-->
			</div><!--/.container-->

		</section><!--/.about-us-->
		<!--about-us end -->
        
        <section class="quan-ly-du-an">
          <div class="container-fluid p-0">
            <div class="row row-custom">
              <div class="col-sm-4 p-5">
                <a href="#">
                  <div class="quan-ly-du-an-item">
                    <img src="/images/du-an/du-an-01.jpg" alt="">
                    <div class="quan-ly-du-an-desc">
                      <h2 class="quan-ly-du-an-title">5kW Pretoria, South Africa</h2>
                      <p>5kW Pretoria, South Africa</p>
                      <a href="#">
                        <div class="btn-viewDetail">
                          <span>View Details</span>
                        </div>
                      </a>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-sm-4 p-5">
                <a href="#">
                  <div class="quan-ly-du-an-item">
                    <img src="/images/du-an/du-an-02.jpg" alt="">
                    <div class="quan-ly-du-an-desc">
                      <h2 class="quan-ly-du-an-title">6.6kW Austria, Europe</h2>
                      <p>6.6kW Austria, Europe</p>
                      <a href="#">
                        <div class="btn-viewDetail">
                          <span>View Details</span>
                        </div>
                      </a>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-sm-4 p-5">
                <a href="#">
                  <div class="quan-ly-du-an-item">
                    <img src="/images/du-an/du-an-03.jpg" alt="">
                    <div class="quan-ly-du-an-desc">
                      <h2 class="quan-ly-du-an-title">6.6kW North-Rhine Westphalia, Germany</h2>
                      <p>6.6kW North-Rhine Westphalia, Germany</p>
                      <a href="#">
                        <div class="btn-viewDetail">
                          <span>View Details</span>
                        </div>
                      </a>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </section>

		<% include ../shared/user/footer.ejs %>
		<% include ../shared/user/scripts.ejs %>
	</body>
</html>