<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html class="no-js"  lang="en">

	<head>
    <% include ../shared/user/styles.ejs %>
	</head>

	<body>
		<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
			your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<!-- main-menu Start -->
		<% include ../shared/user/navigation.ejs %>
		<!-- main-menu End -->
        
      <section class="quan-ly-chat-luong">
        <div class="bg-01">
          <div class="container text-white content">
            <div class="row">
              <div class="col-sm-12">
                <h1 class="title-01"><i>Lựa chọn nguyên liệu thô</i></h1>
                <p class="text-white title-02">Quan tâm đến những chi tiết nhỏ nhặt nhất</p>
                <p class="text-white title-03">Chỉ những thành phần đáng tin cậy và nổi bật nhất vượt qua được những cuộc kiểm tra nghiêm ngặt mới được chọn cho biến tần của chúng tôi. 90% trong số các thành phần này đến từ các công ty thuộc Top 500 thế giới bởi vì chúng tôi cho rằng những chi tiết nhỏ nhặt cũng rất quan trọng.</p>
              </div>
            </div>
            
          </div>
        </div>

        <div class="bg-02">
          <div class="owl-carousel owl-theme" id="testemonial-carousel">

            <div class="home1-testm item">
              <div class="home1-testm-single text-center">
                <div class="home1-testm-img">
                  <img src="/images/client/testimonial1.jpg" alt="img"/>
                </div><!--/.home1-testm-img-->
                <div class="home1-testm-txt">
                  <span class="icon section-icon">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </span>
                  <p>
                    Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad minim veniam. 
                  </p>
                  <h3>
                    <a href="#">
                      kevin watson
                    </a>
                  </h3>
                  <h4>london, england</h4>
                </div><!--/.home1-testm-txt-->	
              </div><!--/.home1-testm-single-->
  
            </div><!--/.item-->
  
            <div class="home1-testm item">
              <div class="home1-testm-single text-center">
                <div class="home1-testm-img">
                  <img src="/images/client/testimonial2.jpg" alt="img"/>
                </div><!--/.home1-testm-img-->
                <div class="home1-testm-txt">
                  <span class="icon section-icon">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </span>
                  <p>
                    Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad minim veniam. 
                  </p>
                  <h3>
                    <a href="#">
                      kevin watson
                    </a>
                  </h3>
                  <h4>london, england</h4>
                </div><!--/.home1-testm-txt-->	
              </div><!--/.home1-testm-single-->
  
            </div><!--/.item-->
  
            <div class="home1-testm item">
              <div class="home1-testm-single text-center">
                <div class="home1-testm-img">
                  <img src="/images/client/testimonial1.jpg" alt="img"/>
                </div><!--/.home1-testm-img-->
                <div class="home1-testm-txt">
                  <span class="icon section-icon">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </span>
                  <p>
                    Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad minim veniam. 
                  </p>
                  <h3>
                    <a href="#">
                      kevin watson
                    </a>
                  </h3>
                  <h4>london, england</h4>
                </div><!--/.home1-testm-txt-->	
              </div><!--/.home1-testm-single-->
  
            </div><!--/.item-->
  
            <div class="home1-testm item">
              <div class="home1-testm-single text-center">
                <div class="home1-testm-img">
                  <img src="/images/client/testimonial1.jpg" alt="img"/>
                </div><!--/.home1-testm-img-->
                <div class="home1-testm-txt">
                  <span class="icon section-icon">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </span>
                  <p>
                    Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad minim veniam. 
                  </p>
                  <h3>
                    <a href="#">
                      kevin watson
                    </a>
                  </h3>
                  <h4>london, england</h4>
                </div><!--/.home1-testm-txt-->	
              </div><!--/.home1-testm-single-->
  
            </div><!--/.item-->
  
            <div class="home1-testm item">
              <div class="home1-testm-single text-center">
                <div class="home1-testm-img">
                  <img src="/images/client/testimonial2.jpg" alt="img"/>
                </div><!--/.home1-testm-img-->
                <div class="home1-testm-txt">
                  <span class="icon section-icon">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </span>
                  <p>
                    Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad minim veniam. 
                  </p>
                  <h3>
                    <a href="#">
                      kevin watson
                    </a>
                  </h3>
                  <h4>london, england</h4>
                </div><!--/.home1-testm-txt-->	
              </div><!--/.home1-testm-single-->
  
            </div><!--/.item-->
  
            <div class="home1-testm item">
              <div class="home1-testm-single text-center">
                <div class="home1-testm-img">
                  <img src="/images/client/testimonial1.jpg" alt="img"/>
                </div><!--/.home1-testm-img-->
                <div class="home1-testm-txt">
                  <span class="icon section-icon">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </span>
                  <p>
                    Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad minim veniam. 
                  </p>
                  <h3>
                    <a href="#">
                      kevin watson
                    </a>
                  </h3>
                  <h4>london, england</h4>
                </div><!--/.home1-testm-txt-->	
              </div><!--/.home1-testm-single-->
  
            </div><!--/.item-->
  
            <div class="home1-testm item">
              <div class="home1-testm-single text-center">
                <div class="home1-testm-img">
                  <img src="/images/client/testimonial1.jpg" alt="img"/>
                </div><!--/.home1-testm-img-->
                <div class="home1-testm-txt">
                  <span class="icon section-icon">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </span>
                  <p>
                    Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad minim veniam. 
                  </p>
                  <h3>
                    <a href="#">
                      kevin watson
                    </a>
                  </h3>
                  <h4>london, england</h4>
                </div><!--/.home1-testm-txt-->	
              </div><!--/.home1-testm-single-->
  
            </div><!--/.item-->
  
            <div class="home1-testm item">
              <div class="home1-testm-single text-center">
                <div class="home1-testm-img">
                  <img src="/images/client/testimonial2.jpg" alt="img"/>
                </div><!--/.home1-testm-img-->
                <div class="home1-testm-txt">
                  <span class="icon section-icon">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </span>
                  <p>
                    Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad minim veniam. 
                  </p>
                  <h3>
                    <a href="#">
                      kevin watson
                    </a>
                  </h3>
                  <h4>london, england</h4>
                </div><!--/.home1-testm-txt-->	
              </div><!--/.home1-testm-single-->
  
            </div><!--/.item-->
  
            <div class="home1-testm item">
              <div class="home1-testm-single text-center">
                <div class="home1-testm-img">
                  <img src="/images/client/testimonial1.jpg" alt="img"/>
                </div><!--/.home1-testm-img-->
                <div class="home1-testm-txt">
                  <span class="icon section-icon">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </span>
                  <p>
                    Lorem ipsum dolor sit amet, contur adip elit, sed do mod incid ut labore et dolore magna aliqua. Ut enim ad minim veniam. 
                  </p>
                  <h3>
                    <a href="#">
                      kevin watson
                    </a>
                  </h3>
                  <h4>london, england</h4>
                </div><!--/.home1-testm-txt-->	
              </div><!--/.home1-testm-single-->
  
            </div><!--/.item-->
  
          </div><!--/.testemonial-carousel-->        
        </div>

        <div class="bg-03"></div>

        <div class="bg-04"></div>
      </section>

		<!-- footer-copyright start -->
		<footer  class="footer-copyright">
			<div class="container">
				<div class="footer-content">
					<div class="row">

						<div class="col-sm-3">
							<div class="single-footer-item">
								<div class="footer-logo">
									<a href="index.html">
										tour<span>Nest</span>
									</a>
									<p>
										best travel agency
									</p>
								</div>
							</div><!--/.single-footer-item-->
						</div><!--/.col-->

						<div class="col-sm-3">
							<div class="single-footer-item">
								<h2>link</h2>
								<div class="single-footer-txt">
									<p><a href="#">home</a></p>
									<p><a href="#">destination</a></p>
									<p><a href="#">spacial packages</a></p>
									<p><a href="#">special offers</a></p>
									<p><a href="#">blog</a></p>
									<p><a href="#">contacts</a></p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->

						</div><!--/.col-->

						<div class="col-sm-3">
							<div class="single-footer-item">
								<h2>popular destination</h2>
								<div class="single-footer-txt">
									<p><a href="#">china</a></p>
									<p><a href="#">venezuela</a></p>
									<p><a href="#">brazil</a></p>
									<p><a href="#">australia</a></p>
									<p><a href="#">london</a></p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->
						</div><!--/.col-->

						<div class="col-sm-3">
							<div class="single-footer-item text-center">
								<h2 class="text-left">contacts</h2>
								<div class="single-footer-txt text-left">
									<p>+1 (300) 1234 6543</p>
									<p class="foot-email"><a href="#">info@tnest.com</a></p>
									<p>North Warnner Park 336/A</p>
									<p>Newyork, USA</p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->
						</div><!--/.col-->

					</div><!--/.row-->

				</div><!--/.footer-content-->
				<hr>
				<div class="foot-icons ">
					<ul class="footer-social-links list-inline list-unstyled">
		                <li><a href="#" target="_blank" class="foot-icon-bg-1"><i class="fa fa-facebook"></i></a></li>
		                <li><a href="#" target="_blank" class="foot-icon-bg-2"><i class="fa fa-twitter"></i></a></li>
		                <li><a href="#" target="_blank" class="foot-icon-bg-3"><i class="fa fa-instagram"></i></a></li>
		        	</ul>
		        	<p>&copy; 2017 <a href="https://www.themesine.com">ThemeSINE</a>. All Right Reserved</p>

		        </div><!--/.foot-icons-->
				<div id="scroll-Top">
					<i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div><!--/.scroll-Top-->
			</div><!-- /.container-->

		</footer><!-- /.footer-copyright-->
		<!-- footer-copyright end -->




		<% include ../shared/user/scripts.ejs %>


	</body>

</html>