<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html class="no-js"  lang="en">

	<head>
    <% include ../shared/user/styles.ejs %>
	</head>

	<body>
		<!-- main-menu Start -->
		<% include ../shared/user/navigation.ejs %>
		<!-- main-menu End -->

		<!--about-us start -->
		<section id="home" class="about-us">
			<div class="container">
				<div class="about-us-content">
					<div class="row">
						<div class="col-sm-12">
							<div class="single-about-us">
								<div class="about-us-txt">
									<h2 style="font-size:26px;">
										TƯƠNG LAI TƯƠI SÁNG CỦA NGÀNH NĂNG LƯỢNG MẶT TRỜI VIỆT NAM
									</h2>
								</div><!--/.about-us-txt-->
							</div><!--/.single-about-us-->
						</div><!--/.col-->
						<div class="col-sm-0">
							<div class="single-about-us">
								
							</div><!--/.single-about-us-->
						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.about-us-content-->
			</div><!--/.container-->

		</section><!--/.about-us-->
		<!--about-us end -->
        
        <section class="tin-tuc-detail">
			<div class="container">
				<div class="main">
					<h2 class="title">TƯƠNG LAI TƯƠI SÁNG CỦA NGÀNH NĂNG LƯỢNG MẶT TRỜI VIỆT NAM</h2>
					<p class="date-up">2020-12-30</p>
					<p class="text-content">
						Ngày 23/12/2020, tại TP. Hồ Chí Minh, dưới sự chỉ đạo của Văn phòng Ban chỉ đạo Quốc gia về Phát triển Điện lực, Hội đồng Khoa học Tạp chí Năng lượng Việt Nam đã tổ chức “Diễn đàn Năng lượng Sạch Việt Nam (lần thứ Nhất) và Tổng kết bình chọn Doanh nghiệp dẫn đầu Năng lượng Sạch Việt Nam năm 2020”. Đây là sự kiện lớn đầu tiên công nhận top 10 doanh nghiệp hàng đầu trong lĩnh vực năng lượng sạch tại Việt Nam, đồng thời tạo cơ hội cho các doanh nghiệp nêu lên những vướng mắc, khó khăn và kiến nghị đến các cơ quan quản lý nhằm thúc đẩy một môi trường kinh doanh thân thiện.
					</p>
					<div class="img-content">
						<img src="/images/tin-tuc/tin-tuc-01.jpg" alt="">
					</div>
					<p class="desc-img">
						Toàn cảnh Diễn đàn Năng lượng Sạch Việt Nam (lần thứ Nhất) và Tổng kết bình chọn Doanh nghiệp dẫn đầu Năng lượng Sạch Việt Nam năm 2020
					</p>
					<p class="text-content">
						Tại buổi hội thảo, với cai trò nhà tài trợ Kim Cương, GoodWe đã có bài phát biểu tập trung vào cải tiến mới nhất của hãng - biến tần chuỗi lớn nhất thị trường, biến tần quang điện HT250kW và những ưu điểm của sản phẩm giúp cho các EPC và nhà đầu tư đạt được năng suất cao nhất với chi phí đầu tư thấp nhất.
					</p>
					<div class="img-content">
						<img src="/images/tin-tuc/tin-tuc-02.jpg" alt="">
					</div>
					<p class="desc-img">
						GoodWe trưng bày sản phẩm Biến tần chuỗi lớn nhất của mình HT250kW tại hội thảo.
					</p>
					<p class="text-content">
						Với các tính năng nổi bật như 12 MPPT, tối đa 1500V đầu vào DC, giao tiếp bằng đường dây điện (PLC), Vận hành & Quản lý thông minh 24h, Dòng biến tần HT của GoodWe được giới thiệu là sự lựa chọn tốt nhất cho các nhà máy năng lượng mặt trời quy mô lớn hướng đến giải pháp tối ưu về hiệu quả, đảm bảo an toàn và tiết kiệm chi phí.
					</p>
					<div class="img-content">
						<img src="/images/tin-tuc/tin-tuc-03.jpg" alt="">
					</div>
					<div class="img-content">
						<img src="/images/tin-tuc/tin-tuc-04.jpg" alt="">
					</div>
					<p class="desc-img">
						Ông Đỗ Hoài Phương, Giám đốc kinh doanh tại Việt Nam của GoodWe
					</p>
					<p class="text-content">
						Sự kiện còn là cơ hội để các Cơ quan quản lý và Doanh nghiệp trong lĩnh vực Năng lượng tái tạo chia sẻ những mối quan tâm, những thách thức mà họ phải đối mặt và đề xuất những giải pháp khả thi. Nhiều chuyên gia nhấn mạnh tầm quan trọng của việc công bố và diễn giải các chi tiết của quy định mới trong lĩnh vực Năng lượng tái tạo nhằm tạo điều kiện tốt hơn cho các doanh nghiệp trong lĩnh vực NLTT hoạt động. Cơ sở hạ tầng đường dây điện cũng là một điểm chính được nhiều đại biểu nêu ra - chỉ khi lưới điện cho phép các dự án NLTT phát huy hết công suất thì các mục tiêu NLTT đến năm 2050 mới đạt được.
					</p>
					<div class="img-content">
						<img src="/images/tin-tuc/tin-tuc-05.jpg" alt="">
					</div>
					<p class="desc-img">
						Ông Hoàng Trọng Hiếu - Phó Chánh Văn phòng Ban Chỉ đạo Quốc gia về phát triển điện lực
					</p>
					<p class="text-content">
						Kết luận Diễn đàn, ông Hoàng Trọng Hiếu - Phó Chánh Văn phòng Ban Chỉ đạo Quốc gia về phát triển điện lực khẳng định: "Trong thời gian qua, các doanh nghiệp năng lượng sạch đã đóng góp một phần cho việc cung cấp điện để phát triển kinh tế, đồng thời tham gia đáng kể về tạo công ăn việc làm, bảo vệ môi trường, hỗ trợ thực chất an sinh xã hội tại địa phương”.
					</p>
					<p class="text-content">
						Văn phòng Ban Chỉ đạo Quốc gia về phát triển điện lực sẽ ghi nhận những đóng góp của các đại biểu và kiến nghị với các cơ quan chức năng để "điều chỉnh, ban hành các quy định, các cơ chế phù hợp, đáp ứng yêu cầu thực tế, tạo động lực cho các doanh nghiệp năng lượng sạch vững tin đầu tư phát triển”.
					</p>
					<p class="text-content">
						Là nhà cung cấp các giải pháp năng lượng và biến tần quang điện hàng đầu thế giới, GoodWe tin tưởng rằng công ty sẽ luôn đi đầu trong quá trình chuyển đổi năng lượng của Việt Nam và sẽ góp phần vào sự phát triển mạnh mẽ của ngành NLTT tại đây.
					</p>
				</div>
			</div>
        </section>

		<!-- footer-copyright start -->
		<footer  class="footer-copyright">
			<div class="container">
				<div class="footer-content">
					<div class="row">

						<div class="col-sm-3">
							<div class="single-footer-item">
								<div class="footer-logo">
									<a href="index.html">
										tour<span>Nest</span>
									</a>
									<p>
										best travel agency
									</p>
								</div>
							</div><!--/.single-footer-item-->
						</div><!--/.col-->

						<div class="col-sm-3">
							<div class="single-footer-item">
								<h2>link</h2>
								<div class="single-footer-txt">
									<p><a href="#">home</a></p>
									<p><a href="#">destination</a></p>
									<p><a href="#">spacial packages</a></p>
									<p><a href="#">special offers</a></p>
									<p><a href="#">blog</a></p>
									<p><a href="#">contacts</a></p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->

						</div><!--/.col-->

						<div class="col-sm-3">
							<div class="single-footer-item">
								<h2>popular destination</h2>
								<div class="single-footer-txt">
									<p><a href="#">china</a></p>
									<p><a href="#">venezuela</a></p>
									<p><a href="#">brazil</a></p>
									<p><a href="#">australia</a></p>
									<p><a href="#">london</a></p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->
						</div><!--/.col-->

						<div class="col-sm-3">
							<div class="single-footer-item text-center">
								<h2 class="text-left">contacts</h2>
								<div class="single-footer-txt text-left">
									<p>+1 (300) 1234 6543</p>
									<p class="foot-email"><a href="#">info@tnest.com</a></p>
									<p>North Warnner Park 336/A</p>
									<p>Newyork, USA</p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->
						</div><!--/.col-->

					</div><!--/.row-->

				</div><!--/.footer-content-->
				<hr>
				<div class="foot-icons ">
					<ul class="footer-social-links list-inline list-unstyled">
		                <li><a href="#" target="_blank" class="foot-icon-bg-1"><i class="fa fa-facebook"></i></a></li>
		                <li><a href="#" target="_blank" class="foot-icon-bg-2"><i class="fa fa-twitter"></i></a></li>
		                <li><a href="#" target="_blank" class="foot-icon-bg-3"><i class="fa fa-instagram"></i></a></li>
		        	</ul>
		        	<p>&copy; 2017 <a href="https://www.themesine.com">ThemeSINE</a>. All Right Reserved</p>

		        </div><!--/.foot-icons-->
				<div id="scroll-Top">
					<i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div><!--/.scroll-Top-->
			</div><!-- /.container-->

		</footer><!-- /.footer-copyright-->
		<!-- footer-copyright end -->




		<% include ../shared/user/scripts.ejs %>


	</body>

</html>