<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html class="no-js"  lang="en">

	<head>
    <% include ../shared/user/styles.ejs %>
	</head>

	<body>
		<!-- main-menu Start -->
		<% include ../shared/user/navigation.ejs %>
		<!-- main-menu End -->

		<!--about-us start -->
		<section id="home" class="about-us">
			<div class="container">
				<div class="about-us-content">
					<div class="row">
						<div class="col-sm-12">
							<div class="single-about-us">
								<div class="about-us-txt">
									<h2>
                    Tin Tức
									</h2>
								</div><!--/.about-us-txt-->
							</div><!--/.single-about-us-->
						</div><!--/.col-->
						<div class="col-sm-0">
							<div class="single-about-us">
								
							</div><!--/.single-about-us-->
						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.about-us-content-->
			</div><!--/.container-->

		</section><!--/.about-us-->
		<!--about-us end -->
        
        <section class="tin-tuc">
          <div class="container-fluid p-0">
            <div class="row row-custom">
              <div class="col-sm-4 p-5">
                <a href="#">
                  <div class="tin-tuc-item text-left">
                    <img src="/images/du-an/du-an-01.jpg" alt="">
                    <div class="tin-tuc-desc">
                      <h2 class="tin-tuc-title">TƯƠNG LAI TƯƠI SÁNG CỦA NGÀNH NĂNG LƯỢNG MẶT TRỜI VIỆT NAM</h2>
                      <p>Ngày 23/12/2020, tại TP. Hồ Chí Minh, dưới sự chỉ đạo của Văn phòng Ban chỉ đạo Quốc gia về Phát triển Điện lực, Hội đồng Khoa học Tạp chí Năng lượng Việt Nam đã tổ chức “Diễn đàn Năng lượng Sạch Việt...</p>
                      <a href="#">
                        <div class="btn-viewDetail">
                          <span>View Details</span>
                        </div>
                      </a>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-sm-4 p-5">
                <a href="#">
                  <div class="tin-tuc-item text-left">
                    <img src="/images/du-an/du-an-01.jpg" alt="">
                    <div class="tin-tuc-desc">
                      <h2 class="tin-tuc-title">TƯƠNG LAI TƯƠI SÁNG CỦA NGÀNH NĂNG LƯỢNG MẶT TRỜI VIỆT NAM</h2>
                      <p>Ngày 23/12/2020, tại TP. Hồ Chí Minh, dưới sự chỉ đạo của Văn phòng Ban chỉ đạo Quốc gia về Phát triển Điện lực, Hội đồng Khoa học Tạp chí Năng lượng Việt Nam đã tổ chức “Diễn đàn Năng lượng Sạch Việt...</p>
                      <a href="#">
                        <div class="btn-viewDetail">
                          <span>View Details</span>
                        </div>
                      </a>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-sm-4 p-5">
                <a href="#">
                  <div class="tin-tuc-item text-left">
                    <img src="/images/du-an/du-an-01.jpg" alt="">
                    <div class="tin-tuc-desc">
                      <h2 class="tin-tuc-title">TƯƠNG LAI TƯƠI SÁNG CỦA NGÀNH NĂNG LƯỢNG MẶT TRỜI VIỆT NAM</h2>
                      <p>Ngày 23/12/2020, tại TP. Hồ Chí Minh, dưới sự chỉ đạo của Văn phòng Ban chỉ đạo Quốc gia về Phát triển Điện lực, Hội đồng Khoa học Tạp chí Năng lượng Việt Nam đã tổ chức “Diễn đàn Năng lượng Sạch Việt...</p>
                      <a href="#">
                        <div class="btn-viewDetail">
                          <span>View Details</span>
                        </div>
                      </a>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-sm-4 p-5">
                <a href="#">
                  <div class="tin-tuc-item text-left">
                    <img src="/images/du-an/du-an-01.jpg" alt="">
                    <div class="tin-tuc-desc">
                      <h2 class="tin-tuc-title">TƯƠNG LAI TƯƠI SÁNG CỦA NGÀNH NĂNG LƯỢNG MẶT TRỜI VIỆT NAM</h2>
                      <p>Ngày 23/12/2020, tại TP. Hồ Chí Minh, dưới sự chỉ đạo của Văn phòng Ban chỉ đạo Quốc gia về Phát triển Điện lực, Hội đồng Khoa học Tạp chí Năng lượng Việt Nam đã tổ chức “Diễn đàn Năng lượng Sạch Việt...</p>
                      <a href="#">
                        <div class="btn-viewDetail">
                          <span>View Details</span>
                        </div>
                      </a>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </section>

		<% include ../shared/user/footer.ejs %>
		<% include ../shared/user/scripts.ejs %>
	</body>
</html>