<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html class="no-js"  lang="en">

	<head>
    <% include ../shared/user/styles.ejs %>
	</head>

	<body>
		<!-- main-menu Start -->
		<% include ../shared/user/navigation.ejs %>
		<!-- main-menu End -->

		<!--about-us start -->
		<section id="home" class="about-us">
			<div class="container">
				<div class="about-us-content">
					<div class="row">
						<div class="col-sm-12">
							<div class="single-about-us">
								<div class="about-us-txt">
									<h2>
										Explore the Beauty of the Beautiful World 

									</h2>
									<div class="about-btn">
										<button  class="about-view">
											explore now
										</button>
									</div><!--/.about-btn-->
								</div><!--/.about-us-txt-->
							</div><!--/.single-about-us-->
						</div><!--/.col-->
						<div class="col-sm-0">
							<div class="single-about-us">
								
							</div><!--/.single-about-us-->
						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.about-us-content-->
			</div><!--/.container-->

		</section><!--/.about-us-->
		<!--about-us end -->

		<!--travel-box start-->
		<section  class="travel-box">
        	<div class="container">
        		<div class="row">
        			<div class="col-md-12">
        				<div class="single-travel-boxes">
        					<div id="desc-tabs" class="desc-tabs">

								<ul class="nav nav-tabs" role="tablist">

									<li role="presentation" class="active">
									 	<a href="#Inverter" aria-controls="Inverter" role="tab" data-toggle="tab">
									 		<i class="fa fa-tree"></i>
									 		Inverter
									 	</a>
									</li>

									<li role="presentation">
										<a href="#Pin" aria-controls="Pin" role="tab" data-toggle="tab">
											<i class="fa fa-building"></i>
											Solar Pin
										</a>
									</li>

									<li role="presentation">
									 	<a href="#Others" aria-controls="Others" role="tab" data-toggle="tab">
									 		<i class="fa fa-plane"></i>
									 		Others
									 	</a>
									</li>
								</ul>

								<!-- Tab panes -->
								<div class="tab-content">

									<div role="tabpanel" class="tab-pane active fade in" id="Inverter">
										<div class="tab-para">

											<div class="row">
												<div class="col-lg-6 col-md-6 col-sm-12">
													<div class="single-tab-select-box">

														<h2>Nhà Phân Phối</h2>

														<div class="travel-select-icon">
															<select class="form-control ">
															  	<option value="goodwe">Goodwe</option><!-- /.option-->
															</select><!-- /.select-->
														</div><!-- /.travel-select-icon -->
													</div><!--/.single-tab-select-box-->
												</div><!--/.col-->
												<div class="col-lg-6 col-md-6 col-sm-12">
													<div class="single-tab-select-box">

														<h2>Loại sản phẩm</h2>

														<div class="travel-select-icon">
															<select class="form-control ">

															  	<option value="istambul">Biến tần dân dụng</option><!-- /.option-->
															  	<option value="mosko">Biến tần thương mại</option><!-- /.option-->
															  	<option value="cairo">Biến tần công suất lơn</option><!-- /.option-->
															  	<option value="cairo">Biến tần lưu trữ</option><!-- /.option-->
															  	<option value="cairo">Hệ thống giám sát</option><!-- /.option-->

															</select><!-- /.select-->
														</div><!-- /.travel-select-icon -->

													</div><!--/.single-tab-select-box-->
												</div><!--/.col-->

											</div><!--/.row-->

											<div class="row">
												<div class="col-sm-5">
													<div class="travel-budget">
														<div class="row">
															<div class="col-md-3 col-sm-4">
																<h3>budget : </h3>
															</div><!--/.col-->
															<div class="co-md-9 col-sm-8">
																<div class="travel-filter">
																	<div class="info_widget">
																		<div class="price_filter">
																			
																			<div class="slider-range"></div><!--/.slider-range-->

																			<div class="price_slider_amount">
																				<input type="text" class="amount" name="price"  placeholder="Add Your Price" />
																			</div><!--/.price_slider_amount-->
																		</div><!--/.price-filter-->
																	</div><!--/.info_widget-->
																</div><!--/.travel-filter-->
															</div><!--/.col-->
														</div><!--/.row-->
													</div><!--/.travel-budget-->
												</div><!--/.col-->
												<div class="clo-sm-7">
													<div class="about-btn travel-mrt-0 pull-right">
														<button  class="about-view travel-btn">
															search	
														</button><!--/.travel-btn-->
													</div><!--/.about-btn-->
												</div><!--/.col-->

											</div><!--/.row-->

										</div><!--/.tab-para-->

									</div><!--/.tabpannel-->

									<div role="tabpanel" class="tab-pane fade in" id="Pin">
										<div class="tab-para">

											<div class="row">
												<div class="col-sm-12">
													<div class="single-tab-select-box">

														<h2>Hãng Sản Xuất</h2>

														<div class="travel-select-icon">
															<select class="form-control ">
															  	<option value="goodwe">Goodwe</option><!-- /.option-->
															</select><!-- /.select-->
														</div><!-- /.travel-select-icon -->
													</div><!--/.single-tab-select-box-->
												</div><!--/.col-->

											</div><!--/.row-->

											<div class="row">
												<div class="col-sm-5">
													<div class="travel-budget">
														<div class="row">
															<div class="col-md-3 col-sm-4">
																<h3>budget : </h3>
															</div><!--/.col-->
															<div class="co-md-9 col-sm-8">
																<div class="travel-filter">
																	<div class="info_widget">
																		<div class="price_filter">
																			
																			<div class="slider-range"></div><!--/.slider-range-->

																			<div class="price_slider_amount">
																				<input type="text" class="amount" name="price"  placeholder="Add Your Price" />
																			</div><!--/.price_slider_amount-->
																		</div><!--/.price-filter-->
																	</div><!--/.info_widget-->
																</div><!--/.travel-filter-->
															</div><!--/.col-->
														</div><!--/.row-->
													</div><!--/.travel-budget-->
												</div><!--/.col-->
												<div class="clo-sm-7">
													<div class="about-btn travel-mrt-0 pull-right">
														<button  class="about-view travel-btn">
															search	
														</button><!--/.travel-btn-->
													</div><!--/.about-btn-->
												</div><!--/.col-->

											</div><!--/.row-->

										</div><!--/.tab-para-->

									</div><!--/.tabpannel-->

									<div role="tabpanel" class="tab-pane fade in" id="Others">
										<div class="tab-para">

											<div class="row">
												<div class="col-sm-12">
													<div class="single-tab-select-box">

														<h2>Danh Mục</h2>

														<div class="travel-select-icon">
															<select class="form-control ">
															  	<option value="goodwe">Goodwe</option><!-- /.option-->
															</select><!-- /.select-->
														</div><!-- /.travel-select-icon -->
													</div><!--/.single-tab-select-box-->
												</div><!--/.col-->

											</div><!--/.row-->

											<div class="row">
												<div class="col-sm-5">
													<div class="travel-budget">
														<div class="row">
															<div class="col-md-3 col-sm-4">
																<h3>budget : </h3>
															</div><!--/.col-->
															<div class="co-md-9 col-sm-8">
																<div class="travel-filter">
																	<div class="info_widget">
																		<div class="price_filter">
																			
																			<div class="slider-range"></div><!--/.slider-range-->

																			<div class="price_slider_amount">
																				<input type="text" class="amount" name="price"  placeholder="Add Your Price" />
																			</div><!--/.price_slider_amount-->
																		</div><!--/.price-filter-->
																	</div><!--/.info_widget-->
																</div><!--/.travel-filter-->
															</div><!--/.col-->
														</div><!--/.row-->
													</div><!--/.travel-budget-->
												</div><!--/.col-->
												<div class="clo-sm-7">
													<div class="about-btn travel-mrt-0 pull-right">
														<button  class="about-view travel-btn">
															search	
														</button><!--/.travel-btn-->
													</div><!--/.about-btn-->
												</div><!--/.col-->

											</div><!--/.row-->

										</div><!--/.tab-para-->

									</div><!--/.tabpannel-->

								</div><!--/.tab content-->
							</div><!--/.desc-tabs-->
        				</div><!--/.single-travel-box-->
        			</div><!--/.col-->
        		</div><!--/.row-->
        	</div><!--/.container-->

        </section><!--/.travel-box-->
        <!--travel-box end-->
        
        <section class="products-type">
            <div class="container">
                <div class="row row-custom mt-10">
                    <div class="col-sm-4 p-5">
						<a href="#">
							<div class="products-type-item">
								<img src="/images/products/img_products_type_01.jpg" alt="Bien tan dan dung">
								<div class="products-type-desc">
									<h2 class="products-type-title">Biến tần dân dụng</h2>
									<a href="/bien-tan-dan-dung">
										<div class="btn-viewDetail">
											<span>View Details</span>
										</div>
									</a>
								</div>
							</div>
						</a>
                    </div>
                    <div class="col-sm-4 p-5">
						<a href="#">
							<div class="products-type-item">
								<img src="/images/products/img_products_type_02.jpg" alt="Bien tan thuong mai">
								<div class="products-type-desc">
									<h2 class="products-type-title">Biến tần thương mại</h2>
									<a href="/bien-tan-thuong-mai">
										<div class="btn-viewDetail">
											<span>View Details</span>
										</div>
									</a>
								</div>
							</div>
						</a>
                    </div>
                    <div class="col-sm-4 p-5">
						<a href="#">
							<div class="products-type-item">
								<img src="/images/products/img_products_type_03.jpg" alt="Bien tan cong suat lon">
								<div class="products-type-desc">
									<h2 class="products-type-title">Biến tần công suất lớn</h2>
									<a href="/bien-tan-cong-suat-lon">
										<div class="btn-viewDetail">
											<span>View Details</span>
										</div>
									</a>
								</div>
							</div>
						</a>
                    </div>
                </div>

                <div class="row row-custom mt-10">
                    <div class="col-sm-4 p-5">
						<a href="#">
							<div class="products-type-item">
								<img src="/images/products/img_products_type_04.jpg" alt="Bien tan luu tru">
								<div class="products-type-desc">
									<h2 class="products-type-title">Biến tần lưu trữ</h2>
									<a href="/bien-tan-luu-tru">
										<div class="btn-viewDetail">
											<span>View Details</span>
										</div>
									</a>
								</div>
							</div>
						</a>
                    </div>
                    <div class="col-sm-4 p-5">
						<a href="#">
							<div class="products-type-item">
								<img src="/images/products/img_products_type_05.jpg" alt="He thong giam sat">
								<div class="products-type-desc">
									<h2 class="products-type-title">Hệ thống giám sát</h2>
									<a href="#">
										<div class="btn-viewDetail">
											<span>View Details</span>
										</div>
									</a>
								</div>
							</div>
						</a>
                    </div>
                </div>
            </div>
        </section>

		<!-- footer-copyright start -->
		<footer  class="footer-copyright">
			<div class="container">
				<div class="footer-content">
					<div class="row">

						<div class="col-sm-3">
							<div class="single-footer-item">
								<div class="footer-logo">
									<a href="index.html">
										tour<span>Nest</span>
									</a>
									<p>
										best travel agency
									</p>
								</div>
							</div><!--/.single-footer-item-->
						</div><!--/.col-->

						<div class="col-sm-3">
							<div class="single-footer-item">
								<h2>link</h2>
								<div class="single-footer-txt">
									<p><a href="#">home</a></p>
									<p><a href="#">destination</a></p>
									<p><a href="#">spacial packages</a></p>
									<p><a href="#">special offers</a></p>
									<p><a href="#">blog</a></p>
									<p><a href="#">contacts</a></p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->

						</div><!--/.col-->

						<div class="col-sm-3">
							<div class="single-footer-item">
								<h2>popular destination</h2>
								<div class="single-footer-txt">
									<p><a href="#">china</a></p>
									<p><a href="#">venezuela</a></p>
									<p><a href="#">brazil</a></p>
									<p><a href="#">australia</a></p>
									<p><a href="#">london</a></p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->
						</div><!--/.col-->

						<div class="col-sm-3">
							<div class="single-footer-item text-center">
								<h2 class="text-left">contacts</h2>
								<div class="single-footer-txt text-left">
									<p>+1 (300) 1234 6543</p>
									<p class="foot-email"><a href="#">info@tnest.com</a></p>
									<p>North Warnner Park 336/A</p>
									<p>Newyork, USA</p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->
						</div><!--/.col-->

					</div><!--/.row-->

				</div><!--/.footer-content-->
				<hr>
				<div class="foot-icons ">
					<ul class="footer-social-links list-inline list-unstyled">
		                <li><a href="#" target="_blank" class="foot-icon-bg-1"><i class="fa fa-facebook"></i></a></li>
		                <li><a href="#" target="_blank" class="foot-icon-bg-2"><i class="fa fa-twitter"></i></a></li>
		                <li><a href="#" target="_blank" class="foot-icon-bg-3"><i class="fa fa-instagram"></i></a></li>
		        	</ul>
		        	<p>&copy; 2017 <a href="https://www.themesine.com">ThemeSINE</a>. All Right Reserved</p>

		        </div><!--/.foot-icons-->
				<div id="scroll-Top">
					<i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div><!--/.scroll-Top-->
			</div><!-- /.container-->

		</footer><!-- /.footer-copyright-->
		<!-- footer-copyright end -->




		<% include ../shared/user/scripts.ejs %>


	</body>

</html>