<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html class="no-js"  lang="en">

	<head>
    <% include ../shared/user/styles.ejs %>
	</head>

	<body>
		<!-- main-menu Start -->
		<% include ../shared/user/navigation.ejs %>
		<!-- main-menu End -->

		<% include ../shared/user/banner.ejs %>


        
		<section class="products-type">
				<div class="container">
						<div class="row row-custom mt-10">
								<div class="col-sm-4 p-5">
				<a href="#">
					<div class="products-type-item">
						<img src="/images/products/img_products_type_01.jpg" alt="Bien tan dan dung">
						<div class="products-type-desc">
							<h2 class="products-type-title">Biến tần dân dụng</h2>
							<a href="/bien-tan-dan-dung">
								<div class="btn-viewDetail">
									<span>View Details</span>
								</div>
							</a>
						</div>
					</div>
				</a>
								</div>
								<div class="col-sm-4 p-5">
				<a href="#">
					<div class="products-type-item">
						<img src="/images/products/img_products_type_02.jpg" alt="Bien tan thuong mai">
						<div class="products-type-desc">
							<h2 class="products-type-title">Biến tần thương mại</h2>
							<a href="/bien-tan-thuong-mai">
								<div class="btn-viewDetail">
									<span>View Details</span>
								</div>
							</a>
						</div>
					</div>
				</a>
								</div>
								<div class="col-sm-4 p-5">
				<a href="#">
					<div class="products-type-item">
						<img src="/images/products/img_products_type_03.jpg" alt="Bien tan cong suat lon">
						<div class="products-type-desc">
							<h2 class="products-type-title">Biến tần công suất lớn</h2>
							<a href="/bien-tan-cong-suat-lon">
								<div class="btn-viewDetail">
									<span>View Details</span>
								</div>
							</a>
						</div>
					</div>
				</a>
								</div>
						</div>

						<div class="row row-custom mt-10">
								<div class="col-sm-4 p-5">
				<a href="#">
					<div class="products-type-item">
						<img src="/images/products/img_products_type_04.jpg" alt="Bien tan luu tru">
						<div class="products-type-desc">
							<h2 class="products-type-title">Biến tần lưu trữ</h2>
							<a href="/bien-tan-luu-tru">
								<div class="btn-viewDetail">
									<span>View Details</span>
								</div>
							</a>
						</div>
					</div>
				</a>
								</div>
								<div class="col-sm-4 p-5">
				<a href="#">
					<div class="products-type-item">
						<img src="/images/products/img_products_type_05.jpg" alt="He thong giam sat">
						<div class="products-type-desc">
							<h2 class="products-type-title">Hệ thống giám sát</h2>
							<a href="/he-thong-giam-sat">
								<div class="btn-viewDetail">
									<span>View Details</span>
								</div>
							</a>
						</div>
					</div>
				</a>
								</div>
						</div>
				</div>
		</section>

		<% include ../shared/user/footer.ejs %>
		<% include ../shared/user/scripts.ejs %>
	</body>
</html>