<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html class="no-js"  lang="en">

	<head>
    <% include ../shared/user/styles.ejs %>
	</head>

	<body>
		<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
			your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<!-- main-menu Start -->
		<% include ../shared/user/navigation.ejs %>
		<!-- main-menu End -->

        <!--travel-box end-->
        
        <section class="product-detail smart-series">
            <div class="box box-bg1">
                <div class="box-item">
					<div class="box-img">
						<img src="../images/products/smart-01.png" alt="">
					</div>
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title">
                            <h1>Smart Meters</h1>
                        </div>
                        <div class="borderBottom-title"></div>
                        <div class="box-content-main">
                            <p>
                                GoodWe’s Smart Meter is designed with high-precision small-scale dimensions, and convenient operation and installation. It is available for both single-phase and three-phase grid system connection to detect voltage, current, power and energy, and for working with inverters including SEMS systems for the purpose of energy management.                           
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-bg2">
				<div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none content-center">
                            <h1>FEATURE</h1>
                        </div>
						<div class="box-item row pt-50">
							<div class="col-xs-4 text-center">
								<div class="number">
									<img src="../images/products/smart-04.png" alt="">
								</div>
								<div class="introduct pt-50">
									Modular Design
								</div>
							</div>
							<div class="col-xs-4 text-center">
								<div class="number">
									<img src="../images/products/smart-05.png" alt="">
								</div>
								<div class="introduct pt-50">
									Precise Data Collection
								</div>
							</div>
							<div class="col-xs-4 text-center">
								<div class="number">
									<img src="../images/products/smart-06.png" alt="">
								</div>
								<div class="introduct pt-50">
									Easy Installation
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>
            </div>
        </section>

		<% include ../shared/user/footer.ejs %>
		<% include ../shared/user/scripts.ejs %>
	</body>
</html>