<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html class="no-js"  lang="en">

	<head>
    <% include ../shared/user/styles.ejs %>
	</head>

	<body>
		<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
			your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<!-- main-menu Start -->
		<% include ../shared/user/navigation.ejs %>
		<!-- main-menu End -->

        <!--travel-box end-->
        
        <section class="product-detail ez-series">
            <div class="box box-bg1">
                <div class="box-item">
					<div class="box-img">
						<img src="../images/products/ez-01.png" alt="">
					</div>
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title">
                            <h1>EzLogger Pro</h1>
                        </div>
                        <div class="borderBottom-title"></div>
                        <div class="box-content-main">
                            <p>
                                The EzLogger Pro is a self-developed monitoring device by GoodWe. In combination with a GoodWe solar inverter, it can easily read and record all key plant data and constantly transmit the data to the GoodWe portal via the internet.                           
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-bg2">
				<div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>EZLOGGER</h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                The EZLogger links to the inverter via RS485, connects to a PC via Ethernet, and transmits data to the GoodWe monitoring software EzExplorer and the GoodWe portal.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <div class="box box-bg3">
				<div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>EzLogger Wi-Fi</h1>
						</div>
						<div class="box-content-main">
                            <p>
								links to the inverter via RS485 and connects with the wireless router via a built-in Wi-Fi communication module, and transmits data to the GoodWe portal.
                            </p>
                        </div>
                    </div>
                </div>
			</div>
			
			<div class="box box-bg4">
                <div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>EzLogger Wi-Fi</h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                Links to the inverter via RS485 and connects to the internet via a built-in Wi-Fi module, and transmits data to the GoodWe portal.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

		<!-- footer-copyright start -->
		<footer  class="footer-copyright">
			<div class="container">
				<div class="footer-content">
					<div class="row">

						<div class="col-sm-3">
							<div class="single-footer-item">
								<div class="footer-logo">
									<a href="index.html">
										tour<span>Nest</span>
									</a>
									<p>
										best travel agency
									</p>
								</div>
							</div><!--/.single-footer-item-->
						</div><!--/.col-->

						<div class="col-sm-3">
							<div class="single-footer-item">
								<h2>link</h2>
								<div class="single-footer-txt">
									<p><a href="#">home</a></p>
									<p><a href="#">destination</a></p>
									<p><a href="#">spacial packages</a></p>
									<p><a href="#">special offers</a></p>
									<p><a href="#">blog</a></p>
									<p><a href="#">contacts</a></p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->

						</div><!--/.col-->

						<div class="col-sm-3">
							<div class="single-footer-item">
								<h2>popular destination</h2>
								<div class="single-footer-txt">
									<p><a href="#">china</a></p>
									<p><a href="#">venezuela</a></p>
									<p><a href="#">brazil</a></p>
									<p><a href="#">australia</a></p>
									<p><a href="#">london</a></p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->
						</div><!--/.col-->

						<div class="col-sm-3">
							<div class="single-footer-item text-center">
								<h2 class="text-left">contacts</h2>
								<div class="single-footer-txt text-left">
									<p>+1 (300) 1234 6543</p>
									<p class="foot-email"><a href="#">info@tnest.com</a></p>
									<p>North Warnner Park 336/A</p>
									<p>Newyork, USA</p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->
						</div><!--/.col-->

					</div><!--/.row-->

				</div><!--/.footer-content-->
				<hr>
				<div class="foot-icons ">
					<ul class="footer-social-links list-inline list-unstyled">
		                <li><a href="#" target="_blank" class="foot-icon-bg-1"><i class="fa fa-facebook"></i></a></li>
		                <li><a href="#" target="_blank" class="foot-icon-bg-2"><i class="fa fa-twitter"></i></a></li>
		                <li><a href="#" target="_blank" class="foot-icon-bg-3"><i class="fa fa-instagram"></i></a></li>
		        	</ul>
		        	<p>&copy; 2017 <a href="https://www.themesine.com">ThemeSINE</a>. All Right Reserved</p>

		        </div><!--/.foot-icons-->
				<div id="scroll-Top">
					<i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div><!--/.scroll-Top-->
			</div><!-- /.container-->

		</footer><!-- /.footer-copyright-->
		<!-- footer-copyright end -->




		<% include ../shared/user/scripts.ejs %>


	</body>

</html>