<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html class="no-js"  lang="en">

	<head>
    <% include ../shared/user/styles.ejs %>
	</head>

	<body>
		<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
			your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<!-- main-menu Start -->
		<% include ../shared/user/navigation.ejs %>
		<!-- main-menu End -->

        <!--travel-box end-->
        
        <section class="product-detail sems-series">
            <div class="box box-bg1">
                <div class="box-item">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title">
                            <h1>SMART ENERGY MANAGEMENT SYSTEM</h1>
                        </div>
                        <div class="borderBottom-title"></div>
                        <div class="box-content-main">
                            <p>
                                Pave The Road For The Future                            
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-bg2">
				<div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>ALL-IN-ONE MONITORING<br>
                                & COMPREHENSIVE VISUALIZATION</h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                The live and archived data from any PV power plants in a particular<br>
                                account can be called up and graphically displayed.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <div class="box box-bg3">
				<div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>DYNAMIC CAROUSEL OF ALL THE<br>
                                PLANTS UNDER YOUR ACCOUNT</h1>
                        </div>
                    </div>
                </div>
			</div>
			
			<div class="box box-bg4">
                <div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>BACKUP DEPLOYMENT FOR SERVER DISASTER</h1>
                        </div>
                    </div>
                </div>
			</div>
			
			<div class="box box-bg5">
                <div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>MULTI-TERMINAL<br>
                                COMPATIBILITY AND SHARING</h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                Mobile APP <br>
                                PC Monitoring <br>
                                Real-time Display
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

		<% include ../shared/user/footer.ejs %>
		<% include ../shared/user/scripts.ejs %>
	</body>

</html>