<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html class="no-js"  lang="en">

	<head>
    <% include ../shared/user/styles.ejs %>
	</head>

	<body>
		<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
			your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<!-- main-menu Start -->
		<% include ../shared/user/navigation.ejs %>
		<!-- main-menu End -->

        <!--travel-box end-->
        
        <section class="product-detail sec1000-series">
            <div class="box box-bg1">
                <div class="box-item">
					<div class="box-img">
						<img src="../images/products/sec1000-01.png" alt="">
					</div>
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title">
                            <h1>Smart Energy Controller</h1>
                            <span class="sub-title">
                                Smart Energy Controller
                            </span> 
                        </div>
                        <div class="borderBottom-title"></div>
                        <div class="box-content-main">
                            <p>
								The SEC is a smart energy controller entirely developed by GoodWe. When combined with a GoodWe solar inverter, it is able to achieve real-time data collection and analysis. Furthermore, the SEC can automatically adjust active power output, power factor and other parameters of a solar power plant. It can even limit AC output to the grid, which further distributes and allocates system resources more effectively. The SEC is composed of GoodWe's three-phase meter and control board. It can be connected with SEMS to control and manage the performance of inverters in each string. Small box, mighty functions!
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-bg2">
				<div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-main width-full text-center pt-500">
                            <p>
                                SEC1000 is for monitoring, export power control and reactive power compensation, while<br>
								SEC1000S is for export power control and ET Series inverter parallel control (up to 10 units).
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

		<% include ../shared/user/footer.ejs %>
		<% include ../shared/user/scripts.ejs %>
	</body>

</html>