<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html class="no-js"  lang="en">

	<head>
    <% include ../shared/user/styles.ejs %>
	</head>

	<body>
		<!-- main-menu Start -->
		<% include ../shared/user/navigation.ejs %>
		<!-- main-menu End -->
		
		<% include ../shared/user/banner.ejs %>


        
        <section class="products">
            <div class="container">
                <div class="row">
                    <div>
                        <div class="allproduct_redpoint"></div>
                        <h3 class="products-title">Monitoring System</h3>
                    </div>
                </div>
                <div class="row">
                    <hr class="line-pr">
                </div>
                <div class="row">
                    <div class="col-sm-3 p-5 products-item">
						<a href="/he-thong-giam-sat/he-thong-quan-ly-nang-luong-thong-minh">
							<div>
								<img src="/images/products/img_moni_01.png" alt="He thong quan ly nang luong thong minh">
								<div class="products-desc">
                                    <h4>SEMS</h4>
								</div>
							</div>
						</a>
                    </div>
                    <div class="col-sm-3 p-5 products-item">
						<a href="/he-thong-giam-sat/bo-do-dem-thong-minh">
							<div>
								<img src="/images/products/img_moni_03.png" alt="Bien tan dan dung">
								<div class="products-desc">
                                    <h4>Smart Meter</h4>
								</div>
							</div>
						</a>
                    </div>
                    <div class="col-sm-3 p-5 products-item">
						<a href="/he-thong-giam-sat/wi-fi-module">
							<div>
								<img src="/images/products/img_moni_04.png" alt="Bien tan dan dung">
								<div class="products-desc">
                                    <h4>WIFI Moudle</h4>
								</div>
							</div>
						</a>
					</div>
					<div class="col-sm-3 p-5 products-item">
						<a href="/he-thong-giam-sat/kiem-soat-nang-luong-thong-minh">
							<div>
								<img src="/images/products/img_moni_06.png" alt="Bien tan dan dung">
								<div class="products-desc">
                                    <h4>SEC1000</h4>
								</div>
							</div>
						</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 p-5 products-item">
						<a href="/he-thong-giam-sat/hop-truyen-thong-thong-minh">
							<div>
								<img src="/images/products/img_moni_07.png" alt="Bien tan dan dung">
								<div class="products-desc">
                                    <h4>SCB2000</h4>
								</div>
							</div>
						</a>
					</div>
					<div class="col-sm-3 p-5 products-item">
						<a href="/he-thong-giam-sat/ez-logger">
							<div>
								<img src="/images/products/img_moni_09.png" alt="Bien tan dan dung">
								<div class="products-desc">
                                    <h4>EzLogger Pro</h4>
								</div>
							</div>
						</a>
                    </div>
                </div>
            </div>
        </section>

		<% include ../shared/user/footer.ejs %>
		<% include ../shared/user/scripts.ejs %>
	</body>

</html>