<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html class="no-js"  lang="en">

	<head>
    <% include ../shared/user/styles.ejs %>
	</head>

	<body>
		<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
			your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<!-- main-menu Start -->
		<% include ../shared/user/navigation.ejs %>
		<!-- main-menu End -->

        <!--travel-box end-->
        
        <section class="product-detail wifi-series">
            <div class="box box-bg1">
                <div class="box-item">
					<div class="box-img">
						<img src="../images/products/wifi-01.png" alt="">
					</div>
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title">
                            <h1>WIFI Module</h1>
                        </div>
                        <div class="borderBottom-title"></div>
                        <div class="box-content-main">
                            <p>
								路 Data encrypted to ensure data security<br>
								路 Supports breakpoint retransmission - automatic disconnection of broken links, reconnection and subsequent transmission to prevent data loss<br>
								路 Remote upgrade - inverter program update without going on site<br>
								路 Pre-assembled, tested and shipped - no on-site installation required, stable performance.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-bg2">
				<div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none content-center">
                            <h1>FEATURE</h1>
                        </div>
						<div class="box-item row pt-50">
							<div class="col-xs-4 text-center">
								<div class="number">
									<img src="../images/products/wifi-04.png" alt="">
								</div>
								<div class="introduct pt-50">
									Data Security
								</div>
							</div>
							<div class="col-xs-4 text-center">
								<div class="number">
									<img src="../images/products/wifi-05.png" alt="">
								</div>
								<div class="introduct pt-50">
									Breakpoint Retransmission
								</div>
							</div>
							<div class="col-xs-4 text-center">
								<div class="number">
									<img src="../images/products/wifi-06.png" alt="">
								</div>
								<div class="introduct pt-50">
									Remote Upgrade
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>
            </div>
        </section>

		<% include ../shared/user/footer.ejs %>
		<% include ../shared/user/scripts.ejs %>
	</body>

</html>