.product-detail {
  width: 100%;
  position: relative;
}

.product-detail .border-none {
  border: 0 !important;
}

.product-detail .box .title {
  font-size: 30px;
  text-align: center;
  font-weight:bold;
  color: #fff;
}

.product-detail .box {
  width: 100%;
  min-height: 800px;
  padding: 0 50px 50px;
}

.product-detail .box .box-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 350px;
  max-width: 1200px;
  margin: auto;
}

.product-detail .box .desc {
  padding-top:50px;
}

.product-detail .box .desc p {
  font-size:18px;
  color: #fff;
  line-height: 25px;
}

.product-detail .box .box-item .number {
  color: #fff;
  font-size:80px;
  font-weight: bold;
}

.product-detail .box .introduct {
  color: #fff;
  font-size:18px;
}

.product-detail .box .pt-80 {
  padding-top:80px;
}

.product-detail .box .pt-50 {
  padding-top: 50px;
}

.product-detail .box .pt-500 {
  padding-top: 500px;
}

.product-detail .box .pt-none {
  padding-top: 0px;
}

.product-detail .box .content-center {
  justify-content: center;
}

.product-detail .box .width-full {
  width: 100%;
  max-width: 100% !important;
}

@media screen and (max-width: 767px) {
  .product-detail .box .box-item {
    padding: 200px 50px 50px 50px;
    display: block;
  }
}

.product-detail .box .box-item.box-reverse {
  flex-direction: row-reverse;
  padding-top: 290px;
}

@media screen and (max-width: 767px) {
  .product-detail .box .box-item.box-reverse {
    padding-top: 200px;
  }
}

.product-detail .box .box-item.box-reverse .box-content {
  margin-left: 0;
  width: 100%;
}

.product-detail .box .box-item.box-reverse .box-content .box-content-main {
  max-width: 45%;
}
@media screen and (max-width: 767px) {
  .product-detail .box .box-item.box-reverse .box-content .box-content-main {
    max-width: 100%;
  }
}

.product-detail .box .box-item .box-img {
  width: 245px;
  height: 200px;
}

@media screen and (max-width: 767px) {
  .product-detail .box .box-item .box-img {
    text-align: center;
    width: 100%;
    height: auto;
  }
}

.product-detail .box .box-item .box-img img {
  max-width: 100%;
  height: auto;
}

.product-detail .box .box-item .box-content {
  width: calc(100% - 295px);
  margin-left: 50px;
}

@media screen and (max-width: 767px) {
  .product-detail .box .box-item .box-content {
    width: 100%;
    margin-left: 0px;
  }
}

.product-detail .box .box-item .box-content .box-content-title {
  color: #fff;
  display: flex;
  align-items: baseline;
  border-bottom: 2px solid;
}

@media screen and (max-width: 767px) {
  .product-detail .box .box-item .box-content .box-content-title {
    display: block;
  }
}

.product-detail .box .box-item .box-content .borderBottom-title {
  background: #fff;
  height: 8px;
  width: 280px;
}

.product-detail .box .box-item .box-content-main p {
  color: #eee;
  font-size: 18px;
  line-height: 26px;
  margin-top: 20px;
}

.product-detail .box .box-item .box-content .box-content-title h1 {
  font-size: 50px;
}

.product-detail .box .box-item .box-content .box-content-title .sub-title {
  font-size: 16px;
  padding-left: 10px;
}


/* background xs-series */
.product-detail.xs-series .box-bg1 {
  background: url(../../images/products/XS-02.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.xs-series .box-bg2 {
  background: url(../../images/products/XS-Series_03.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.xs-series .box-bg3 {
  background: url(../../images/products/XS-Series_04.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.xs-series .box-bg4 {
  background: url(../../images/products/XS-Series_05.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
/* end background xs-series */


/* background ns-series */
.product-detail.ns-series .box-bg1 {
  background: url(../../images/products/ns-02.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.ns-series .box-bg2 {
  background: url(../../images/products/ns-03.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.ns-series .box-bg3 {
  background: url(../../images/products/ns-04.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.ns-series .box-bg4 {
  background: url(../../images/products/ns-05.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
/* end background ns-series */


/* background dns-series */
.product-detail.dns-series .box-bg1 {
  background: url(../../images/products/dns-02.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.dns-series .box-bg2 {
  background: url(../../images/products/dns-03.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.dns-series .box-bg3 {
  background: url(../../images/products/dns-04.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.dns-series .box-bg4 {
  background: url(../../images/products/dns-05.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
/* end background ns-series */

/* background sdt-series */
.product-detail.sdt-series .box-bg1 {
  background: url(../../images/products/sdt-02.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.sdt-series .box-bg2 {
  background-image: url(../../images/products/sdt02_right.gif),url(../../images/products/sdt02-01.jpg);
  /* background-image: url(../../images/products/sdt02-01.jpg); */
  background-repeat: no-repeat;
  background-position: 50% center, center center;
}

.product-detail.sdt-series-thuong-mai .box-bg2 {
  background-image: url(../../images/products/sdt023.jpg);
  /* background-image: url(../../images/products/sdt02-01.jpg); */
  background-size: cover;
  background-position: center center;
}

.product-detail.sdt-series .box-bg3 {
  background: url(../../images/products/sdt03.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.sdt-series .box-bg4 {
  background: url(../../images/products/sdt04.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
/* end background ns-series */

/* background sdt-g2-series */
.product-detail.sdt-g2-series .box-bg1 {
  background: url(../../images/products/sdtg2-03.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.sdt-g2-series .box-bg2 {
  background-image: url(../../images/products/sdt-g2_03.jpg);
  /* background-image: url(../../images/products/sdt-g202-01.jpg); */
  background-repeat: no-repeat;
  background-position: 50% center, center center;
}

.product-detail.sdt-g2-series .box-bg3 {
  background: url(../../images/products/sdt-g2_04.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.sdt-g2-series .box-bg4 {
  background: url(../../images/products/sdt-g2_05.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
/* end background sdt-g2-series */

/* background ams-series */
.product-detail.ams-series .box-bg1 {
  background: url(../../images/products/ams-02.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.ams-series .box-bg2 {
  background-image: url(../../images/products/4-mppt.jpg);
  background-repeat: no-repeat;
  background-position: 50% center, center center;
}

.product-detail.ams-series .box-bg3 {
  background: url(../../images/products/A-MS-DC-Oversizing.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.ams-series .box-bg4 {
  background: url(../../images/products/A-MS-bifacial.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.ams-series .box-bg5 {
  background: url(../../images/products/A-MS-Low-Start-up.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.ams-series .box-bg6 {
  background: url(../../images/products/A-MS-afci.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
/* end background ams-series */


/* background ms-series */
.product-detail.ms-series .box-bg1 {
  background: url(../../images/products/ms-02.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.ms-series .box-bg2 {
  background-image: url(../../images/products/ms-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.ms-series .box-bg3 {
  background: url(../../images/products/ms-04.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
/* end background ms-series */

/* background lvsmt-series */
.product-detail.lvsmt-series .box-bg1 {
  background: url(../../images/products/lvsmt-02.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.lvsmt-series .box-bg2 {
  background-image: url(../../images/products/smt5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.lvsmt-series .box-bg3 {
  background: url(../../images/products/smt2.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.lvsmt-series .box-bg4 {
  background: url(../../images/products/smt3.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.lvsmt-series .box-bg5 {
  background: url(../../images/products/smt4.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
/* end background lvsmt-series */

/* background lvdt-series */
.product-detail.lvdt-series .box-bg1 {
  background: url(../../images/products/lvdt-02.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.lvdt-series .box-bg2 {
  background-image: url(../../images/products/dt02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.lvdt-series .box-bg3 {
  background: url(../../images/products/dt03.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.lvdt-series .box-bg4 {
  background: url(../../images/products/dt04.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.lvdt-series .box-bg5 {
  background: url(../../images/products/dt04.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
/* end background lvdt-series */


/* background sdt-g2-02-series */
.product-detail.sdt-g2-02-series .box-bg1 {
  background: url(../../images/products/sdtg217kw-02.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.sdt-g2-02-series .box-bg2 {
  background-image: url(../../images/products/sdt-g2-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.sdt-g2-02-series .box-bg3 {
  background: url(../../images/products/sdt-g2-02.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.sdt-g2-02-series .box-bg4 {
  background: url(../../images/products/sdt-g2-03.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.sdt-g2-02-series .box-bg5 {
  background: url(../../images/products/sdt-g2-04.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
/* end background sdt-g2-02-series */

/* background lvmt-series */
.product-detail.lvmt-series .box-bg1 {
  background: url(../../images/products/mt03.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.lvmt-series .box-bg2 {
  background-image: url(../../images/products/mt03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.lvmt-series .box-bg3 {
  background: url(../../images/products/mt04.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.lvmt-series .box-bg4 {
  background: url(../../images/products/mt05.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
/* end background lvmt-series */

/* background mt-series */
.product-detail.mt-series .box-bg1 {
  background: url(../../images/products/mt-02.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.mt-series .box-bg2 {
  background-image: url(../../images/products/mt02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.mt-series .box-bg3 {
  background: url(../../images/products/mt03.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.mt-series .box-bg4 {
  background: url(../../images/products/mt04.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
/* end background mt-series */

/* background ht-series */
.product-detail.ht-series .box-bg1 {
  background: url(../../images/products/ht-02.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.ht-series .box-bg2 {
  background-image: url(../../images/products/ht-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.ht-series .box-bg3 {
  background: url(../../images/products/ht-04.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.ht-series .box-bg4 {
  background: url(../../images/products/ht-05.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.ht-series .box-bg5 {
  background: url(../../images/products/ht-06.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.ht-series .box-bg6 {
  background: url(../../images/products/ht-06.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
/* end background ht-series */

/* background ht-csl-series */
.product-detail.ht-csl-series .box-bg1 {
  background: url(../../images/products/ht-csl.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.ht-csl-series .box-bg2 {
  background-image: url(../../images/products/ht-csl-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.ht-csl-series .box-bg3 {
  background: url(../../images/products/smt4.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.ht-csl-series .box-bg4 {
  background: url(../../images/products/sdt-g2-04.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.ht-csl-series .box-bg5 {
  background: url(../../images/products/ht-csl-02.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.ht-csl-series .box-bg6 {
  background: url(../../images/products/ht-csl-03.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.ht-csl-series .box-bg7 {
  background: url(../../images/products/ht-csl-04.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
/* end background ht-csl-series */

/* background et-series */
.product-detail.et-series .box-bg1 {
  background: url(../../images/products/et01.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.et-series .box-bg2 {
  background-image: url(../../images/products/et02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.et-series .box-bg3 {
  background: url(../../images/products/et03.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.et-series .box-bg4 {
  background: url(../../images/products/et04.gif) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.et-series .box-bg5 {
  background: url(../../images/products/et05.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
/* end background et-series */

/* background bt-series */
.product-detail.eh-series .box-bg1 {
  background: url(../../images/products/bt01.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.bt-series .box-bg2 {
  background-image: url(../../images/products/bt02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.bt-series .box-bg3 {
  background: url(../../images/products/bt03.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.bt-series .box-bg4 {
  background: url(../../images/products/bt04.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.bt-series .box-bg5 {
  background: url(../../images/products/et05.gif) no-repeat;
  background-size: cover;
  background-position: center center;
}
/* end background bt-series */

/* background eh-series */
.product-detail.eh-series .box-bg1 {
  background: url(../../images/products/eh-02.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.eh-series .box-bg2 {
  background-image: url(../../images/products/eh-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.eh-series .box-bg3 {
  background: url(../../images/products/et04.gif) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.eh-series .box-bg4 {
  background: url(../../images/products/eh-04.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.eh-series .box-bg5 {
  background: url(../../images/products/eh-05.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
/* end background eh-series */

/* background esa-series */
.product-detail.esa-series .box-bg1 {
  background: url(../../images/products/esa-01.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.esa-series .box-bg2 {
  background-image: url(../../images/products/esa-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.esa-series .box-bg3 {
  background: url(../../images/products/esa-03.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.esa-series .box-bg4 {
  background: url(../../images/products/et04.gif) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.esa-series .box-bg5 {
  background: url(../../images/products/esa-04.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
/* end background esa-series */

/* background es-series */
.product-detail.es-series .box-bg1 {
  background: url(../../images/products/es-02.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.es-series .box-bg2 {
  background-image: url(../../images/products/es-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.es-series .box-bg3 {
  background: url(../../images/products/et04.gif) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.es-series .box-bg4 {
  background: url(../../images/products/es-04.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.es-series .box-bg5 {
  background: url(../../images/products/es-05.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
/* end background es-series */

/* background em-series */
.product-detail.em-series .box-bg1 {
  background: url(../../images/products/em-02.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.em-series .box-bg2 {
  background-image: url(../../images/products/es-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.em-series .box-bg3 {
  background: url(../../images/products/et04.gif) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.em-series .box-bg4 {
  background: url(../../images/products/es-04.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.em-series .box-bg5 {
  background: url(../../images/products/es-05.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
/* end background em-series */

/* background aes-series */
.product-detail.aes-series .box-bg1 {
  background: url(../../images/products/eas-02.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.aes-series .box-bg2 {
  background-image: url(../../images/products/eas-07.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.aes-series .box-bg3 {
  background: url(../../images/products/eas-03.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.aes-series .box-bg4 {
  background: url(../../images/products/eas-04.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.aes-series .box-bg5 {
  background: url(../../images/products/eas-05.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.aes-series .box-bg6 {
  background: url(../../images/products/eas-06.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
/* end background aes-series */

/* background ehb-series */
.product-detail.ehb-series .box-bg1 {
  background: url(../../images/products/ehs-02.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.ehb-series .box-bg2 {
  background-image: url(../../images/products/ehb-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.ehb-series .box-bg3 {
  background: url(../../images/products/ehb-04.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.ehb-series .box-bg4 {
  background: url(../../images/products/ehb-05.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.ehb-series .box-bg5 {
  background: url(../../images/products/ehb-06.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.ehb-series .box-bg6 {
  background: url(../../images/products/ehb-07.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
/* end background ehb-series */

/* background ehb-series */
.product-detail.btc-series .box-bg1 {
  background: url(../../images/products/btc-02.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.btc-series .box-bg2 {
  background-image: url(../../images/products/btc-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.btc-series .box-bg3 {
  background: url(../../images/products/btc-04.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.btc-series .box-bg4 {
  background: url(../../images/products/btc-05.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
/* end background ehb-series */

/* background ehb-series */
.product-detail.lynx-series .box-bg1 {
  background: url(../../images/products/ly-02.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.lynx-series .box-bg2 {
  background-image: url(../../images/products/ly-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.lynx-series .box-bg3 {
  background: url(../../images/products/ly-04.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.lynx-series .box-bg4 {
  background: url(../../images/products/ly-05.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.lynx-series .box-bg5 {
  background: url(../../images/products/ly-06.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.lynx-series .box-bg6 {
  background: url(../../images/products/ly-07.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
/* end background ehb-series */

/* background ehb-series */
.product-detail.sems-series .box-bg1 {
  background: url(../../images/products/sems-01.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.sems-series .box-bg2 {
  background-image: url(../../images/products/sems-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.sems-series .box-bg3 {
  background: url(../../images/products/sems-03.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.sems-series .box-bg4 {
  background: url(../../images/products/sems-04.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.sems-series .box-bg5 {
  background: url(../../images/products/sems-05.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
/* end background ehb-series */

/* background ehb-series */
.product-detail.smart-series .box-bg1 {
  background: url(../../images/products/smart-02.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.smart-series .box-bg2 {
  background-image: url(../../images/products/smart-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* end background ehb-series */

/* background ehb-series */
.product-detail.wifi-series .box-bg1 {
  background: url(../../images/products/wifi-02.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.wifi-series .box-bg2 {
  background-image: url(../../images/products/wifi-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* end background ehb-series */

/* background ehb-series */
.product-detail.sec1000-series .box-bg1 {
  background: url(../../images/products/sec1000-01.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.sec1000-series .box-bg2 {
  background-image: url(../../images/products/sec1000-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* end background ehb-series */

/* background ehb-series */
.product-detail.ez-series .box-bg1 {
  background: url(../../images/products/ez-02.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.ez-series .box-bg2 {
  background-image: url(../../images/products/ez-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.ez-series .box-bg3 {
  background-image: url(../../images/products/ez-04.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.ez-series .box-bg4 {
  background-image: url(../../images/products/ez-05.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* end background ehb-series */