.product-detail {
  width: 100%;
  position: relative;
}

.product-detail .border-none {
  border: 0 !important;
}

.product-detail .box .title {
  font-size: 30px;
  text-align: center;
  font-weight:bold;
  color: #fff;
}

.product-detail .box {
  width: 100%;
  min-height: 800px;
  padding: 0 50px 50px;
}

.product-detail .box .box-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 350px;
  max-width: 1200px;
  margin: auto;
}

.product-detail .box .desc {
  padding-top:50px;
}

.product-detail .box .desc p {
  font-size:18px;
  color: #fff;
  line-height: 25px;
}

.product-detail .box .box-item .number {
  color: #fff;
  font-size:80px;
  font-weight: bold;
}

.product-detail .box .introduct {
  color: #fff;
  font-size:18px;
}

.product-detail .box .pt-80 {
  padding-top:80px;
}

.product-detail .box .pt-50 {
  padding-top: 50px;
}

@media screen and (max-width: 767px) {
  .product-detail .box .box-item {
    padding: 200px 50px 50px 50px;
    display: block;
  }
}

.product-detail .box .box-item.box-reverse {
  flex-direction: row-reverse;
  padding-top: 290px;
}

@media screen and (max-width: 767px) {
  .product-detail .box .box-item.box-reverse {
    padding-top: 200px;
  }
}

.product-detail .box .box-item.box-reverse .box-content {
  margin-left: 0;
  width: 100%;
}

.product-detail .box .box-item.box-reverse .box-content .box-content-main {
  max-width: 45%;
}
@media screen and (max-width: 767px) {
  .product-detail .box .box-item.box-reverse .box-content .box-content-main {
    max-width: 100%;
  }
}

.product-detail .box .box-item .box-img {
  width: 245px;
  height: 200px;
}

@media screen and (max-width: 767px) {
  .product-detail .box .box-item .box-img {
    text-align: center;
    width: 100%;
    height: auto;
  }
}

.product-detail .box .box-item .box-img img {
  max-width: 100%;
  height: auto;
}

.product-detail .box .box-item .box-content {
  width: calc(100% - 295px);
  margin-left: 50px;
}

@media screen and (max-width: 767px) {
  .product-detail .box .box-item .box-content {
    width: 100%;
    margin-left: 0px;
  }
}

.product-detail .box .box-item .box-content .box-content-title {
  color: #fff;
  display: flex;
  align-items: baseline;
  border-bottom: 2px solid;
}

@media screen and (max-width: 767px) {
  .product-detail .box .box-item .box-content .box-content-title {
    display: block;
  }
}

.product-detail .box .box-item .box-content .borderBottom-title {
  background: #fff;
  height: 8px;
  width: 280px;
}

.product-detail .box .box-item .box-content-main p {
  color: #eee;
  font-size: 18px;
  line-height: 26px;
  margin-top: 20px;
}

.product-detail .box .box-item .box-content .box-content-title h1 {
  font-size: 50px;
}

.product-detail .box .box-item .box-content .box-content-title .sub-title {
  font-size: 16px;
  padding-left: 10px;
}


/* background xs-series */
.product-detail.xs-series .box-bg1 {
  background: url(../../images/products/XS-02.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.xs-series .box-bg2 {
  background: url(../../images/products/XS-Series_03.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.xs-series .box-bg3 {
  background: url(../../images/products/XS-Series_04.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.xs-series .box-bg4 {
  background: url(../../images/products/XS-Series_05.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
/* end background xs-series */


/* background ns-series */
.product-detail.ns-series .box-bg1 {
  background: url(../../images/products/ns-02.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.ns-series .box-bg2 {
  background: url(../../images/products/ns-03.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.ns-series .box-bg3 {
  background: url(../../images/products/ns-04.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

.product-detail.ns-series .box-bg4 {
  background: url(../../images/products/ns-05.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
/* end background ns-series */