.products {
  margin-top: 10px;
}
.products .row-custom {
  padding: 0 10px;
}
.products .p-0 {
  padding: 0;
}
.products .p-5 {
  padding: 5px;
}
.products .mt-10 {
  margin-top: 10px;
}
.products-item {
  height: 350px;
  max-height: 350px;
  position: relative;
}
.products-item img {
  height: 350px;
  max-height: 350px;
}
.products-item .products-desc {
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  bottom: 0;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
  max-height: 42px;
}
.products-item:hover .products-desc {
  top: inherit;
  max-height: 150px;
}
.products-item:hover .products-desc a {
  display: block;
}
.products-item .products-desc .products-title {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  line-height: 42px;
}
.products-item .products-desc .products-sub-title {
  color: #bfb5b5;
}
.products-item .products-desc .btn-viewDetail {
  align-items: center;
  width: 106px;
  max-width: 106px;
  margin: 10px auto;
  height: 38px;
  border-radius: 20px;
  background: red;
  display: flex;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
