<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html class="no-js"  lang="en">

	<head>
    <% include ../shared/user/styles.ejs %>
	</head>

	<body>
		<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
			your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<!-- main-menu Start -->
		<% include ../shared/user/navigation.ejs %>
		<!-- main-menu End -->

        <!--travel-box end-->
        
        <section class="product-detail sdt-g2-02-series">
            <div class="box box-bg1">
                <div class="box-item">
                    <div class="box-img">
                        <img src="../images/products/sdtg217kw-01.png" alt="">
                    </div>
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title">
                            <h1>SDT G2 Series</h1>
                            <span class="sub-title">
                                17-25KW ∣ Three Phase ∣ 2 MPPT
                            </span> 
                        </div>
                        <div class="borderBottom-title"></div>
                        <div class="box-content-main">
                            <p>
                                The GoodWe 17-25KW SDT G2 series inverter is especially designed for three-phase residential and small commercial projects. With its compact design, the SDT G2 inverter is 45% smaller than the first generation. The inverter is also light and easy to install. The max efficiency of this inverter is as high as 98.4%. With an advanced ventilation system, the inverter is able to dissipate heat efficiently. In addition, it can be customised with an integrated shiny LCD screen.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-bg2">
				<div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>Compact Size &<br>
								High Power Density</h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                For a 17-25kW inverter, it is relatively small and light, which makes it easily transportable. Its compact design also allows for quick and easy installation.
                            </p>
                        </div>
                    </div>
                </div>
			</div>
			
			<div class="box box-bg3">
                <div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>Advanced Ventilation System</h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                With the appropriate components and a well-designed cooling system, this inverter is able to dissipate heat efficiently and keep operating normally even in hot environments.
                            </p>
                        </div>
                    </div>
                </div>
			</div>
			
			<div class="box box-bg4">
                <div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>Surge Protection & AFCI</h1>
                        </div>
                        <div class="box-content-main">
                            <p>
								Both the DC side and AC side are equipped with surge protection to protect the inverter from lightning. Moreover, with Arc-Fault Circuit Interrupter (AFCI), the inverter is able to detect arc fault failure, send alarms through the monitoring systems and break the circuit simultaneously, thus reducing the risk of fire hazards.
                            </p>
                        </div>
                    </div>
                </div>
			</div>
			
			<div class="box box-bg5">
                <div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>Data Security</h1>
                        </div>
                        <div class="box-content-main">
                            <p>
								The inverter has data breakpoint resuming function, which means it can re-upload data to the monitoring system when it reconnects to the server after going off-line. The data is encrypted during the transmission process and data on the server has backup. All these features ensure data security.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

		<% include ../shared/user/footer.ejs %>
		<% include ../shared/user/scripts.ejs %>
	</body>

</html>