<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html class="no-js"  lang="en">

	<head>
    <% include ../shared/user/styles.ejs %>
	</head>

	<body>
		<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
			your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<!-- main-menu Start -->
		<% include ../shared/user/navigation.ejs %>
		<!-- main-menu End -->

        <!--travel-box end-->
        
        <section class="product-detail lvsmt-series">
            <div class="box box-bg1">
                <div class="box-item">
                    <div class="box-img">
                        <img src="../images/products/lvsmt-01.png" alt="">
                    </div>
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title">
                            <h1>LVSMT Series</h1>
                            <span class="sub-title">
                                12-20KW | Three-Phase | 3 MPPT | Low Voltage
                            </span> 
                        </div>
                        <div class="borderBottom-title"></div>
                        <div class="box-content-main">
                            <p>
                                GoodWe’s LVSMT series three-phase inverter is designed with low voltage power input, specifically tailored to small commercial PV applications. Developed as an efficient response to South American market needs for low-voltage inverters above 10kW, the GoodWe LVSMT series is applicable to the different grid voltage ranges in the region, which mainly cover 208V, 220V and 240V. With the GoodWe LVSMT series inverter, the system configuration can be simplified by avoiding the installation of an expensive transformer which adversely affects the system’s conversion efficiency.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-bg2">
				<div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>200V-950V<br>WIDE MPPT RANGE</h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                Wide MPPT Range enables the solar system to start at an early stage, fully utilising the daytime to maximise solar powered energy generation, giving the highest yield.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <div class="box box-bg3">
				<div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>Compatible with<br>
								Bi-facial Modules</h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                SMT is designed to meet the increasing demand for bi-facial modules. With large current input and 30% DC oversizing and 10% AC overloading capacity, the system efficiency is enormously enhanced.
                            </p>
                        </div>
                    </div>
                </div>
			</div>
			
			<div class="box box-bg4">
                <div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>Three MPPT<br>Asymmetric Design</h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                Multiple MPPT design caters to users with complicated rooftop structures and directions. Unbalanced string trackers fully utilize sunshine from each angle and maximum yield is guaranteed for commercial rooftop systems.
                            </p>
                        </div>
                    </div>
                </div>
			</div>
			
			<div class="box box-bg5">
                <div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>PLC Communication</h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                The optional PLC monitoring offers stable data transmission. Furthermore, it makes seemingly impossible communication for isolated  rural areas possible.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

		<% include ../shared/user/footer.ejs %>
		<% include ../shared/user/scripts.ejs %>
	</body>

</html>