<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html class="no-js"  lang="en">

	<head>
    <% include ../shared/user/styles.ejs %>
	</head>

	<body>
		<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
			your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<!-- main-menu Start -->
		<% include ../shared/user/navigation.ejs %>
		<!-- main-menu End -->

        <!--travel-box end-->
        
        <section class="product-detail lvmt-series">
            <div class="box box-bg1">
                <div class="box-item">
                    <div class="box-img">
                        <img src="../images/products/lvmt-01.png" alt="">
                    </div>
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title">
                            <h1>LVMT Series</h1>
                            <span class="sub-title">
                                30-50KW | Three Phase | 4 MPPT | Low Voltage
                            </span> 
                        </div>
                        <div class="borderBottom-title"></div>
                        <div class="box-content-main">
                            <p>
                                The second generation of GoodWe’s MT series inverter is suitable for medium and large scale commercial rooftops or ground-mounted solar PV systems where maximum versatility and profitability are important. With its compact design and power boost function, GoodWe’s MT G2 series can provide extremely high efficiency of 98.8%, thus offering a faster return on investment.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-bg2">
				<div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>FOUR MPPT<br>
								MAXIMIZE OUTPUT</h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                Improve your energy harvest with four MPPT trackers to minimize output
								losses caused by partial shading and other mismatch effects.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <div class="box box-bg3">
				<div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>50degrees<br>
								FULL-LOAD OPERATION</h1>
                        </div>
                    </div>
                </div>
			</div>
			
			<div class="box box-bg4">
                <div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none content-center">
                            <h1>SMALLER, LIGHTER & SMARTER</h1>
						</div>
						<div class="box-item row pt-none">
							<div class="col-xs-4 text-center">
								<div class="number">
									33%
								</div>
								<div class="introduct">
									DC INPUT
									OVERSIZING
								</div>
							</div>
							<div class="col-xs-4 text-center">
								<div class="number">
									15%
								</div>
								<div class="introduct">
									AC Output Overloading
								</div>
							</div>
							<div class="col-xs-4 text-center">
								<div class="number">
									13%
								</div>
								<div class="introduct">
									STRINGS SMART MONITORING
								</div>
							</div>
						</div>
                    </div>
                </div>
			</div>
        </section>

		<% include ../shared/user/footer.ejs %>
		<% include ../shared/user/scripts.ejs %>
	</body>

</html>