<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html class="no-js"  lang="en">

	<head>
    <% include ../shared/user/styles.ejs %>
	</head>

	<body>
		<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
			your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<!-- main-menu Start -->
		<% include ../shared/user/navigation.ejs %>
		<!-- main-menu End -->

        <!--travel-box end-->
        
        <section class="product-detail mt-series lvsmt-series">
            <div class="box box-bg1">
                <div class="box-item">
                    <div class="box-img">
                        <img src="../images/products/mt-01.png" alt="">
                    </div>
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title">
                            <h1>MT Series</h1>
                            <span class="sub-title">
                                50-80KW | Three Phase | 4 MPPT
                            </span> 
                        </div>
                        <div class="borderBottom-title"></div>
                        <div class="box-content-main">
                            <p>
                                GoodWe’s MT series of inverter is ideal for medium to large-sized distribution projects, especially for large-scale commercial roofs and farm plants. The range boasts advanced topology and innovative control technology to achieve a maximum efficiency of 99.0%, aimed at maximising long-term returns and profitability for the system owner.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-bg2">
				<div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none content-center">
                            <h1>POWER BOOST</h1>
                        </div>
                        <div class="box-content-main text-center width-full">
                            <p>
                                AC Output Overload
                            </p>
						</div>
						<div class="row pt-none">
							<div class="col-xs-6 text-center">
								<div class="number">
									50%
								</div>
								<div class="introduct">
									DC INPUT OVERSIZING RATIO
								</div>
							</div>
							<div class="col-xs-6 text-center">
								<div class="number">
									15%
								</div>
								<div class="introduct">
									AC OUTPUT OVERLOAD RATIO
								</div>
							</div>
						</div>
						<div class="box-content animated fadeInUp content-center">
							<div class="box-content-main width-full">
								<p>
									Boost your power output up to an extra 15% to achieve a higher yield and
									quicker return on investment.
								</p>
							</div>
						</div>
					</div>
                </div>
            </div>
            </div>

            <div class="box box-bg3">
				<div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>FOUR MPPT<br>
								MAXIMIZE OUTPUT</h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                Improve your energy harvest with four MPPT trackers to minimize output
								losses caused by partial shading and other mismatch effects.
                            </p>
                        </div>
                    </div>
                </div>
			</div>
			
			<div class="box box-bg4">
                <div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>50 Degree<br>
								FULL-LOAD OPERATION</h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                Multiple MPPT design caters to users with complicated rooftop structures and directions. Unbalanced string trackers fully utilize sunshine from each angle and maximum yield is guaranteed for commercial rooftop systems.
                            </p>
                        </div>
                    </div>
                </div>
			</div>
			
			<div class="box box-bg5">
                <div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>PLC Communication</h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                The optional PLC monitoring offers stable data transmission. Furthermore, it makes seemingly impossible communication for isolated  rural areas possible.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

		<% include ../shared/user/footer.ejs %>
		<% include ../shared/user/scripts.ejs %>
	</body>

</html>