<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html class="no-js"  lang="en">

	<head>
    <% include ../shared/user/styles.ejs %>
	</head>

	<body>
		<!-- main-menu Start -->
		<% include ../shared/user/navigation.ejs %>
		<!-- main-menu End -->


		<% include ../shared/user/banner.ejs %>



        <section class="products">
            <div class="container">
                <div class="row row-custom mt-10">
                    <div>
                        <div class="allproduct_redpoint"></div>
                        <h3 class="products-title">Commercial Rooftop Inverters</h3>
                    </div>
                    <hr class="line-pr">
                    <div class="col-sm-3 p-5 products-item">
						<a href="/bien-tan-thuong-mai/dong-sdt">
							<div>
								<img src="/images/products/img_commercial_01.png" alt="Bien tan dan dung">
								<div class="products-desc">
                                    <h2 class="products-title">SDT Series</h2>
                                    <p>
                                        12-20KW | Three Phase | <br>  2 MPPT
                                    </p>
								</div>
							</div>
						</a>
                    </div>
                    <div class="col-sm-3 p-5 products-item">
						<a href="/bien-tan-thuong-mai/dong-lvsmt">
							<div>
								<img src="/images/products/img_commercial_02.png" alt="Bien tan dan dung">
								<div class="products-desc">
                                    <h2 class="products-title">LVSMT Series</h2>
                                    <p>
                                        12-20KW | Three-Phase | <br>3 MPPT | Low Voltage
                                    </p>
								</div>
							</div>
						</a>
                    </div>
                    <div class="col-sm-3 p-5 products-item">
						<a href="/bien-tan-thuong-mai/dong-lvdt">
							<div>
								<img src="/images/products/img_commercial_03.png" alt="Bien tan dan dung">
								<div class="products-desc">
                                    <h2 class="products-title">LVDT/DT Series</h2>
                                    <p>
                                        12-25KW | Three Phase | <br>2 MPPT
                                    </p>
								</div>
							</div>
						</a>
                    </div>
                    <div class="col-sm-3 p-5 products-item">
						<a href="/bien-tan-thuong-mai/dong-sdt-g2">
							<div>
								<img src="/images/products/img_commercial_04.png" alt="Bien tan dan dung">
								<div class="products-desc">
                                    <h2 class="products-title">SDT G2 Series</h2>
                                    <p>
                                        17-25KW ∣ Three Phase ∣ <br>2 MPPT
                                    </p>
								</div>
							</div>
						</a>
                    </div>
                    <div class="col-sm-3 p-5 products-item">
						<a href="/bien-tan-thuong-mai/dong-smt">
							<div>
								<img src="/images/products/img_commercial_05.png" alt="Bien tan dan dung">
								<div class="products-desc">
                                    <h2 class="products-title">SMT Series</h2>
                                    <p>
                                        25-36KW | Three Phase | <br>3 MPPT
                                    </p>
								</div>
							</div>
						</a>
                    </div>
                    <div class="col-sm-3 p-5 products-item">
						<a href="/bien-tan-thuong-mai/dong-lvmt">
							<div>
								<img src="/images/products/img_commercial_06.png" alt="Bien tan dan dung">
								<div class="products-desc">
                                    <h2 class="products-title">LVMT Series</h2>
                                    <p>
                                        30-50KW | Three Phase | <br> 4 MPPT | Low Voltage
                                    </p>
								</div>
							</div>
						</a>
                    </div>
                    <div class="col-sm-3 p-5 products-item">
						<a href="/bien-tan-thuong-mai/dong-mt">
							<div>
								<img src="/images/products/img_commercial_07.png" alt="Bien tan dan dung">
								<div class="products-desc">
                                    <h2 class="products-title">MT Series</h2>
                                    <p>
                                        50-80KW | Three Phase | <br>  4 MPPT
                                    </p>
								</div>
							</div>
						</a>
                    </div>
                    <div class="col-sm-3 p-5 products-item">
						<a href="/bien-tan-thuong-mai/dong-ht">
							<div>
								<img src="/images/products/img_commercial_08.png" alt="Bien tan dan dung">
								<div class="products-desc">
                                    <h2 class="products-title">HT Series</h2>
                                    <p>
                                        100-136KW ∣ Three Phase ∣ <br>up to 12 MPPT
                                    </p>
								</div>
							</div>
						</a>
                    </div>
                </div>
            </div>
        </section>

		<% include ../shared/user/footer.ejs %>
		<% include ../shared/user/scripts.ejs %>
	</body>

</html>