<!doctype html>
<html class="no-js"  lang="en">

	<head>
        <% include ../shared/user/styles.ejs %>
    </head>

	<body>
		<!-- main-menu Start -->
		<% include ../shared/user/navigation.ejs %>
		<!-- main-menu End -->

		<section id="Banner">
            <div class="news_modular_1">
                <img class="u-image-1" src="/images/gallary/Residential-Solutions-banner.jpg"></div>
        </section>
        
        <section id="General-Information-Add-H1s-etc-Manually">
            <div class="warranty_modular_2">
                <div class="center" style="color: #fff;font-size: 18px;line-height: 24px;">
            
            
            
                           <p class="u-text-1"><br>
            <br>
            
            </p><h1 style="font-size: 36px; text-align: center; line-height: 2em;">Giải pháp dân dụng</h1><br>
            <br>
            
            <div><img alt="" height="6" src="/images/gallary/Image_402.png" title="" width="405"></div>
            <h2 style="font-size: 24px;">Ứng dụng Pin tích hợp của GoodWe </h2><br>
            
            <h3 style="font-size: 21px; color: rgb(255, 0, 0); line-height: 2em;">Dòng biến tần EH </h3>
            <div style="font-size: 18px; line-height: 2em;"> Dòng biến tần EH của GoodWe bao gồm một biến tần lai ghép một pha với một phần của biến tần được thiết kế dành riêng cho việc lưu trữ năng lượng. Nó được giới thiệu như một biến tần nối lưới thông thường, nhưng từ quan điểm phần cứng, thiết bị này là một biến tần lai ghép.<br>
                • Theo dõi trạng thái tải theo thời gian thực với đồng hồ đo thông minh của GoodWe.<br>
                • Tích hợp chức năng giới hạn công suất xuất có thể điều chỉnh.</div><br>
            
            <div><img alt="" src="/images/gallary/1.png" title=""></div><br>
            
            <div style="line-height: 2em;"> * 1 Đồng hồ đo thông minh có trong một gói tùy chọn bao gồm một CT (biến dòng) được nối dây sẵn.<br>
                * 2 Chức năng "Pin tích hợp" cho phép người dùng nâng cấp hệ thống EH thành hệ thống lưu trữ năng lượng mà không cần thiết bị bổ sung.<br>
                * 3 Chế độ dự phòng chỉ khả dụng sau khi pin được kết nối. Các chức năng dự phòng &amp; UPS sẽ được kích hoạt khi pin đã được lắp đặt và kết nối.</div><br>
            
            <h4 style="font-size: 18px; line-height: 2em;"><span style="color: rgb(255, 0, 0);">•</span>Thiết kế "Pin tích hợp"</h4>
            <div style="line-height: 2em;"> Tích hợp thiết kế "Pin tích hợp", biến tần EH của GoodWe hoạt động như một biến tần nối lưới thông thường. Tuy nhiên, biến tần này được thiết kế để người dùng, khi đã quyết định tăng mức độ tiêu thụ của bản thân, có thể chuyển đổi EH thành một hệ thống lưu trữ năng lượng chỉ bằng cách lấy một mã kích hoạt. GoodWe cung cấp một tùy chọn kinh tế cho tất cả những người dùng lúc đầu vẫn chưa quyết định có nên mua hệ thống lưu trữ năng lượng hay không. </div><br>
            
            <h4 style="line-height: 2em; font-weight: bold;"><span style="color: rgb(255, 0, 0);">• </span>Giám sát tiêu thụ (Tùy chọn)</h4>
            <div style="line-height: 2em;"> Như được minh họa trong biểu đồ, dòng biến tần EH đi kèm một tùy chọn để thực hiện việc giám sát trong thời gian thực thông qua việc sử dụng đồng hồ đo thông minh. Với sự hỗ trợ của nền tảng giám sát GoodWe, dòng biến tần EH cũng có thể tính toán mức tiêu thụ tự động mỗi ngày, tháng hoặc năm, cung cấp cái nhìn tổng quan toàn diện về mức tiêu thụ của tải và hiệu quả chung đạt được khi sử dụng năng lượng mặt trời.</div><br>
            
            <div><img alt="" src="/images/gallary/2.png" title=""></div><br>
            <br>
            
            <div><img alt="" height="6" src="/images/gallary/Image_402.png" title="" width="340"></div>
            <h2 style="font-size: 24px; font-weight: bold;">Ứng dụng GoodWe HomeKit</h2><br>
            
            <h4 style="font-size: 18px; line-height: 2em;"><span style="color: rgb(255, 0, 0);">• </span>Giám sát mức tiêu thụ theo thời gian thực trong 24 giờ</h4>
            <div style="line-height: 2em;"> GoodWe HomeKit là một giải pháp được thiết kế để theo dõi mức tiêu thụ năng lượng tải trong thời gian thực trong 24 giờ. Dựa trên các nguyên tắc thiết kế tốt nhất, HomeKit được thiết kế phù hợp với nhu cầu của ngôi nhà và chỉ yêu cầu kết nối internet. Một lợi thế bổ sung của hệ thống này là nó tương thích với các nhãn hiệu biến tần khác nhau, góp phần quan trọng để duy trì hồ sơ lưu trữ về mức tiêu thụ tải. Dữ liệu thu thập được sẽ được lưu trữ trên đám mây bằng Wi-Fi hoặc mạng LAN. Người dùng cuối được hưởng lợi bằng việc hiểu rõ hơn về mức tiêu thụ điện của họ và nguồn tạo ra điện.</div><br>
            
            <h4 style="font-size: 18px; line-height: 2em;"><span style="color: rgb(255, 0, 0);">• </span>Giám sát thời tiết (Tùy chọn)</h4>
            <div style="line-height: 2em;"> Bằng cách kết nối với các cảm biến nhiệt độ, bức xạ và tốc độ gió, HomeKit có khả năng theo dõi điều kiện thời tiết trong thời gian thực. Kết hợp với SEMS, hệ thống cũng có thể dự đoán dữ liệu năng lượng mặt trời chuyển hóa và kiểm tra chéo, đồng thời phân tích các thông tin không nhất quán để dự đoán các vấn đề có thể ảnh hưởng đến hệ thống năng lượng mặt trời.</div><br>
            
            <div><img alt="" src="/images/gallary/5.png" title=""></div><br>
            
            <div style="line-height: 2em;"> * 1 Phiên bản hiện tại của HomeKit hỗ trợ các hệ thống một pha. Một phiên bản nâng cấp có thể hỗ trợ hệ thống ba pha sẽ ra được mắt trong tương lai gần.<br>
                * 2 Các cảm biến đo bức xạ, nhiệt độ môi trường, nhiệt độ mô-đun, tốc độ gió cũng như các cảm biến loại khác, cũng có thể được kết nối với hệ thống.</div><br>
            
            <h4 style="font-size: 18px; line-height: 2em;"><span style="color: rgb(255, 0, 0);">• </span>GoodWe HomeKit cho các hộ gia đình không có PV</h4>
            <div style="line-height: 2em;"> Chỉ cần kết nối với internet, Giải pháp GoodWe HomeKit có thể thực hiện giám sát mức tiêu thụ trong thời gian thực, giúp người dùng hiểu rõ hơn về mức tiêu thụ điện tại nhà và cũng cho phép đánh giá lợi ích cụ thể của việc lắp đặt PV tiềm năng.</div><br>
            
            <div><img alt="" src="/images/gallary/6.png" title=""></div><br>
            <br>
             <p></p>
            
            
            
                </div>
            </div>
        </section>

        <section id="Spec-Download">
            <p class="sdt_modular_download u-text-1"><a href="" download="GW_Residential Solutions_Brochure-VI.pdf"> Tải thông số kỹ thuật</a> </p>
        </section>

		<!--subscribe start-->
		<section id="subs" class="subscribe">
			<div class="container">
				<div class="subscribe-title text-center">
					<h2>
						Join our Subscribers List to Get Regular Update
					</h2>
					<p>
						Subscribe Now. We will send you Best offer for your Trip 
					</p>
				</div>
				<form>
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
							<div class="custom-input-group">
								<input type="email" class="form-control" placeholder="Enter your Email Here">
								<button class="appsLand-btn subscribe-btn">Subscribe</button>
								<div class="clearfix"></div>
								<i class="fa fa-envelope"></i>
							</div>

						</div>
					</div>
				</form>
			</div>

		</section>
		<!--subscribe end-->
		
		<% include ../shared/user/footer.ejs %>
		<% include ../shared/user/scripts.ejs %>
	</body>

</html>