<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html class="no-js"  lang="en">

	<head>
    <% include ../shared/user/styles.ejs %>
	</head>

	<body>
		<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
			your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<!-- main-menu Start -->
		<% include ../shared/user/navigation.ejs %>
		<!-- main-menu End -->

        <!--travel-box end-->
        
        <section class="product-detail ehb-series">
            <div class="box box-bg1">
                <div class="box-item">
                    <div class="box-img">
                        <img src="../images/products/ehs-01.png" alt="EHB Series">
                    </div>
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title">
                            <h1>EHB Series</h1>
                            <span class="sub-title">
                                (South Africa Only) 5-10kW | Single-phase | Hybrid Inverter | HV Battery | up to 4 MPPT
                            </span> 
                        </div>
                        <div class="borderBottom-title"></div>
                        <div class="box-content-main">
                            <p>
                                EHB Series is a single-phase hybrid inverter specially designed to meet the increasing energy storage needs from the residential segment. It is the ultimate integrated multi-function system, follows a Plug & Play design and has an external communication connector, making the installation process quick and convenient. Supporting up to 50A battery charge/discharge current, EHB can easily supply power to critical loads when the grid is compromised. It is AFCI-Ready and can support Rapid Shutdown function. All these outstanding features make this inverter a perfect match for application in South African households.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-bg2">
				<div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none content-center">
                            <h1>Strong Backup Power Supply<br>
                                UPS-Level Switching
                            </h1>
                        </div>
                        <div class="box-content-main width-full content-center">
                            <p>
                                GoodWe EHB Series provides full capacity (up to 10kW) of backup supply and supports 50A max. charge/discharge current when connected to high voltage batteries. Moreover, UPS-Level switching (within 10ms) from grid mode to backup operation mode ensures seamless power supply for critical loads in your home.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-bg3">
                <div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>4 MPPT – Higher Yields</h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                Featuring 4 MPPTS, the EHB (5-10kW) is the perfect solution to feed solar power to large residential properties, offering you more choices and maximizing total solar generation.
                            </p>
                        </div>
                    </div>
                </div>
			</div>
			
			<div class="box box-bg4">
                <div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>Installer-friendly</h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                EHB Series removes all the complexities of the installation process with its well-designed integrated AC/DC Breaker, Plug & Play connectors, external communication connector etc. This makes the installation much more convenient, saving not only costs but also time and space.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="box box-bg5">
                <div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>AFCI Ready & Rapid Shutdown
                            </h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                EHB Series provides you with optional Rapid Shutdown function, and offers you the option to get AFCI activated whenever you need simply by acquiring an activation code, ensuring safety and reliability for the whole solar system.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="box box-bg6">
                <div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>AC Bypass Switch
                            </h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                Should the inverter be temporarily out of service, the backup loads can avoid power failure by quickly switching to the grid for power supply with the AC bypass switch.
                            </p>
                        </div>
                    </div>
                </div>
			</div>
        </section>

		<% include ../shared/user/footer.ejs %>
		<% include ../shared/user/scripts.ejs %>
	</body>

</html>