<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html class="no-js"  lang="en">

	<head>
    <% include ../shared/user/styles.ejs %>
	</head>

	<body>
		<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
			your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<!-- main-menu Start -->
		<% include ../shared/user/navigation.ejs %>
		<!-- main-menu End -->

        <!--travel-box end-->
        
        <section class="product-detail lynx-series">
            <div class="box box-bg1">
                <div class="box-item">
                    <div class="box-img">
                        <img src="../images/products/ly-01.png" alt="Lynx Home Sky">
                    </div>
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title">
                            <h1>Lynx Home Sky</h1>
                            <span class="sub-title">
                                High voltage
                            </span> 
                        </div>
                        <div class="borderBottom-title"></div>
                        <div class="box-content-main">
                            <p>
                                GoodWe Lynx Home Sky is specially designed for high-voltage storage systems. This superior battery, unique in its class, comes with an expandable modular design that allows for quick and easy O&M. It can be mounted either indoors or outdoors, is very space-efficient and offers customers increased choices and flexibility (up to eight pieces connected in series). It is made from Lithium iron phosphate, the safest battery cell technology and has a high charging rate, ensuring superb performance and long lifespan.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-bg2">
				<div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>Safe & Reliable</h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                Lynx Home Sky is made from LFP (LiFePO4), the safest battery cell technology, providing you with reliability and long lifespan.                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-bg3">
                <div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp" style="padding-top: 250px;">
                        <div class="box-content-title border-none">
                            <h1>Charge Your Battery
                                within ONE HOUR</h1>
                        </div>
                    </div>
                </div>
			</div>
			
			<div class="box box-bg4">
                <div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>Flexible Installation</h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                GoodWe’s Lynx Home Sky follows an expandable modular design, making installation quicker and easier. It can also be wall-mounted or ground-mounted and can be split into two piles or stacked into one single pile.
                            </p>
                        </div>
                    </div>
                </div>
			</div>
			
			<div class="box box-bg5">
                <div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-main">
                            <p>
                                Lynx Home Sky’s BMS (Battery Management System) is equipped with a screen displaying battery status and error logs, etc., making local monitoring easy.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="box box-bg6">
                <div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>Remote Upgrade<br>
                                (Coming Soon)
                            </h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                Upgrade can be easily done through the inverter on GoodWe’s Platform.                            </p>
                        </div>
                    </div>
                </div>
			</div>
        </section>

		<% include ../shared/user/footer.ejs %>
		<% include ../shared/user/scripts.ejs %>
	</body>

</html>