<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html class="no-js"  lang="en">

	<head>
    <% include ../shared/user/styles.ejs %>
	</head>

	<body>
		<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
			your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<!-- main-menu Start -->
		<% include ../shared/user/navigation.ejs %>
		<!-- main-menu End -->

        <!--travel-box end-->
        
        <section class="product-detail esa-series">
            <div class="box box-bg1">
                <div class="box-item">
                    <div class="box-img">
                        <!-- <img src="../images/products/eh-01.png" alt="ESA Series"> -->
                    </div>
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title">
                            <h1>ESA Series</h1>
                            <span class="sub-title">
                                5KW+10.8KWh | All-in-one Single Phase Storage Inverter
                            </span> 
                        </div>
                        <div class="borderBottom-title"></div>
                        <div class="box-content-main">
                            <p>
                                GoodWe ESA Series is an all-in-one solar and storage solution which integrates the inverter, battery charger, UPS and battery enclosure into a pre-wired modular system for easier and faster installation. The compact, elegantly designed and robust unit is IP65 rated so it can be mounted either inside or outside, withstanding all weather conditions.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-bg2">
				<div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none content-center">
                            <h1>ALL-IN-ONE
                            </h1>
                        </div>
                        <div class="box-content-main width-full content-center">
                            <p>
                                This masterpiece perfectly integrates with a 5KW hybrid inverter with a 10.8KWh Lithium battery inside. Additionally, the exquisite ESA Series occupies less space and offers neater installation than a split storage system in order to create a high-performance system that is aesthetically pleasing.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-bg3">
                <div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>PRE-WIRED</h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                The ESA Series is pre-wired and factory tested to enable quick installation. The modular, maneuverable system allows you to keep installation costs down. It only takes a simple 3-step process to connect the system to your customer’s home internet. Cut up to 50% of installation time!
                            </p>
                        </div>
                    </div>
                </div>
			</div>
			
			<div class="box box-bg4">
                <div class="box-item box-reverse">

                </div>
            </div>
            
            <div class="box box-bg5">
                <div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>EXPANDABLE STORAGE</h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                The Smart Hybrid System has been designed to make installation easier. The modular system is expandable with battery storage to suit the customer’s needs. The lightweight, maneuverable system makes installation a breeze.
                            </p>
                        </div>
                    </div>
                </div>
			</div>
        </section>

		<% include ../shared/user/footer.ejs %>
		<% include ../shared/user/scripts.ejs %>
	</body>

</html>