<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html class="no-js"  lang="en">

	<head>
    <% include ../shared/user/styles.ejs %>
	</head>

	<body>
		<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
			your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<!-- main-menu Start -->
		<% include ../shared/user/navigation.ejs %>
		<!-- main-menu End -->

        <!--travel-box end-->
        
        <section class="product-detail bt-series">
            <div class="box box-bg1">
                <div class="box-item">
                    <div class="box-img">
                        <img src="../images/products/a-ms01.png" alt="BT Series">
                    </div>
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title">
                            <h1>BT Series</h1>
                            <span class="sub-title">
                                5-10KW | Three Phase | AC Retrofit | High Voltage Battery
                            </span> 
                        </div>
                        <div class="borderBottom-title"></div>
                        <div class="box-content-main">
                            <p>
                                The BT series is a GoodWe retrofit AC-coupled solution, which can upgrade existing three-phase PV system to store energy ranges of 5KW, 6KW, 8KW & 10KW. This solution can modernize any three-phase PV system, providing the ability to store power or operate with the back-up of batteries, ensuring interactivity or grid independence. It is compatible with high voltage Li-Ion batteries ranging from 180 to 600V and it is also equipped with the UPS-Level Switching. It can reach a high efficiency of up to 97.5%. It includes a Battery Input Reverse Polarity Protection as part of its set of protections and it also includes LAN as one of its communications options.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-bg2">
				<div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>97.5%<br>
                                MAX. EFFICIENCY</h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                Thanks to GoodWe’s cutting-edge technology, the maximum efficiency of the elegant BT Series reaches 97.5%, which surpasses all competitors. With superior efficiency, solar energy generation will be fully utilized, creating the best savings for end users. Again, GoodWe manifests its innovative strength and technological breakthrough all over the world!
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-bg3">
                <div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>180~600v<br>
                                WIDE BATTERY VOLTAGE RANGE</h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                It is compatible with various high voltage batteries and offers flexibility and affordability to fulfil various customer demands. Currently, the BT Series is able to work with BYD and Pylontech high voltage batteries.
                            </p>
                        </div>
                    </div>
                </div>
			</div>
			
			<div class="box box-bg4">
                <div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>BATTERY INPUT REVERSE<br>
                                POLARITY PROTECTION</h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                GoodWe cares about your safety. Storage is much more complicated than an on-grid system, so the BH Series is designed with battery input reverse polarity protection which works by switching off the inverter immediately when a fault is detected. This protects the battery and avoids an electric shock at the same time.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="box box-bg5">
                <div class="box-item box-reverse">
                    <!-- <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>BATTERY INPUT REVERSE<br>
                                POLARITY PROTECTION</h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                GoodWe cares about your safety. Storage is much more complicated than an on-grid system, so the BH Series is designed with battery input reverse polarity protection which works by switching off the inverter immediately when a fault is detected. This protects the battery and avoids an electric shock at the same time.
                            </p>
                        </div>
                    </div> -->
                </div>
			</div>
        </section>

		<% include ../shared/user/footer.ejs %>
		<% include ../shared/user/scripts.ejs %>
	</body>

</html>