<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html class="no-js"  lang="en">

	<head>
    <% include ../shared/user/styles.ejs %>
	</head>

	<body>
		<!-- main-menu Start -->
		<% include ../shared/user/navigation.ejs %>
		<!-- main-menu End -->

		
		<!--about-us start -->
		<section id="home" class="about-us">
			<div class="container">
				<div class="about-us-content">
					<div class="row">
						<div class="col-sm-12">
							<div class="single-about-us">
								<div class="about-us-txt">
									<h2>
										Explore the Beauty of the Beautiful World 

									</h2>
								</div><!--/.about-us-txt-->
							</div><!--/.single-about-us-->
						</div><!--/.col-->
						<div class="col-sm-0">
							<div class="single-about-us">
								
							</div><!--/.single-about-us-->
						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.about-us-content-->
			</div><!--/.container-->

		</section><!--/.about-us-->
		<!--about-us end -->
        
        <section class="products">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="allproduct_redpoint"></div>
                        <h3 class="products-title">Energy Storage Products</h3>
                    </div>
                </div>
                <div class="row">
                    <hr class="line-pr">
                </div>
                <div class="row">
                    <div class="col-sm-3 p-5 products-item">
						<a href="/bien-tan-luu-tru/dong-et">
							<div>
								<img src="/images/products/img_energy_01.png" alt="ET Series">
								<div class="products-desc">
                                    <h4>ET Series</h4>
                                    <p>
                                        5-10KW | <br>  Three Phase Storage Inverter | <br> High Voltage Battery
                                    </p>
								</div>
							</div>
						</a>
                    </div>
                    <div class="col-sm-3 p-5 products-item">
						<a href="/bien-tan-luu-tru/dong-bt">
							<div>
								<img src="/images/products/img_energy_02.png" alt="BT Series">
								<div class="products-desc">
                                    <h4>BT Series</h4>
                                    <p>
                                        5-10KW | <br>  Three Phase | AC Retrofit | <br>High Voltage Battery
                                    </p>
								</div>
							</div>
						</a>
                    </div>
                    <div class="col-sm-3 p-5 products-item">
						<a href="/bien-tan-luu-tru/dong-eh">
							<div>
								<img src="/images/products/img_energy_03.png" alt="EH Series">
								<div class="products-desc">
                                    <h4>EH Series</h4>
                                    <p>
                                        3.6-6KW | <br>   Single Phase Storage Inverter |<br> 2 MPPT | High Voltage Battery
                                    </p>
								</div>
							</div>
						</a>
                    </div>
                    <div class="col-sm-3 p-5 products-item">
						<a href="#">
							<div>
								<img src="/images/products/img_energy_04.png" alt="ESA Series">
								<div class="products-desc">
                                    <h4>ESA Series</h4>
                                    <p>
                                        5KW+10.8KWh |  <br>  All-in-one Single Phase <br>Storage Inverter
                                    </p>
								</div>
							</div>
						</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 p-5 products-item">
						<a href="#">
							<div>
								<img src="/images/products/img_energy_05.png" alt="ES Series">
								<div class="products-desc">
                                    <h4>ES Series</h4>
                                    <p>
                                        3.6-5KW | 100A Charger |  | <br>  Storage Inverter
                                    </p>
								</div>
							</div>
						</a>
                    </div>
                    <div class="col-sm-3 p-5 products-item">
						<a href="#">
							<div>
								<img src="/images/products/img_energy_06.png" alt="EM Series">
								<div class="products-desc">
                                    <h4>EM Series</h4>
                                    <p>
                                        3-5KW | 50A Charger |  <br>  Storage Inverter
                                    </p>
								</div>
							</div>
						</a>
                    </div>
                    <div class="col-sm-3 p-5 products-item">
						<a href="#">
							<div>
								<img src="/images/products/img_energy_07.png" alt="AES Series">
								<div class="products-desc">
                                    <h4>A-ES Series</h4>
                                    <p>
                                        (North America Only)<br>5-9.6kW | Single-phase |<br>Hybrid Inverter | HV Battery |<br>up to 4 MPPT
                                    </p>
								</div>
							</div>
						</a>
                    </div>
                    <div class="col-sm-3 p-5 products-item">
						<a href="#">
							<div>
								<img src="/images/products/img_energy_08.png" alt="EHB Series">
								<div class="products-desc">
                                    <h4>EHB Series</h4>
                                    <p>
                                        (South Africa Only)<br>5-10kW | Single-phase |<br>Hybrid Inverter | HV Battery |<br>up to 4 MPPT
                                    </p>
								</div>
							</div>
						</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 p-5 products-item">
						<a href="#">
							<div>
								<img src="/images/products/img_energy_09.png" alt="BTC Series">
								<div class="products-desc">
                                    <h4>BTC Series</h4>
                                    <p>
                                        50kW | Three Phase |<br>    AC Retrofit | <br>High Voltage Battery
                                    </p>
								</div>
							</div>
						</a>
                    </div>
                    <div class="col-sm-3 p-5 products-item">
						<a href="#">
							<div>
								<img src="/images/products/img_energy_10.png" alt="Lynx Home Sky Series">
								<div class="products-desc">
                                    <h4>Lynx Home Sky</h4>
                                    <p>
                                        High voltage<br> (North America Only)
                                    </p>
								</div>
							</div>
						</a>
                    </div>
                </div>
            </div>
        </section>

		<!-- footer-copyright start -->
		<footer  class="footer-copyright">
			<div class="container">
				<div class="footer-content">
					<div class="row">

						<div class="col-sm-3">
							<div class="single-footer-item">
								<div class="footer-logo">
									<a href="index.html">
										tour<span>Nest</span>
									</a>
									<p>
										best travel agency
									</p>
								</div>
							</div><!--/.single-footer-item-->
						</div><!--/.col-->

						<div class="col-sm-3">
							<div class="single-footer-item">
								<h2>link</h2>
								<div class="single-footer-txt">
									<p><a href="#">home</a></p>
									<p><a href="#">destination</a></p>
									<p><a href="#">spacial packages</a></p>
									<p><a href="#">special offers</a></p>
									<p><a href="#">blog</a></p>
									<p><a href="#">contacts</a></p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->

						</div><!--/.col-->

						<div class="col-sm-3">
							<div class="single-footer-item">
								<h2>popular destination</h2>
								<div class="single-footer-txt">
									<p><a href="#">china</a></p>
									<p><a href="#">venezuela</a></p>
									<p><a href="#">brazil</a></p>
									<p><a href="#">australia</a></p>
									<p><a href="#">london</a></p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->
						</div><!--/.col-->

						<div class="col-sm-3">
							<div class="single-footer-item text-center">
								<h2 class="text-left">contacts</h2>
								<div class="single-footer-txt text-left">
									<p>+1 (300) 1234 6543</p>
									<p class="foot-email"><a href="#">info@tnest.com</a></p>
									<p>North Warnner Park 336/A</p>
									<p>Newyork, USA</p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->
						</div><!--/.col-->

					</div><!--/.row-->

				</div><!--/.footer-content-->
				<hr>
				<div class="foot-icons ">
					<ul class="footer-social-links list-inline list-unstyled">
		                <li><a href="#" target="_blank" class="foot-icon-bg-1"><i class="fa fa-facebook"></i></a></li>
		                <li><a href="#" target="_blank" class="foot-icon-bg-2"><i class="fa fa-twitter"></i></a></li>
		                <li><a href="#" target="_blank" class="foot-icon-bg-3"><i class="fa fa-instagram"></i></a></li>
		        	</ul>
		        	<p>&copy; 2017 <a href="https://www.themesine.com">ThemeSINE</a>. All Right Reserved</p>

		        </div><!--/.foot-icons-->
				<div id="scroll-Top">
					<i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div><!--/.scroll-Top-->
			</div><!-- /.container-->

		</footer><!-- /.footer-copyright-->
		<!-- footer-copyright end -->




		<% include ../shared/user/scripts.ejs %>


	</body>

</html>