<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html class="no-js"  lang="en">

	<head>
    <% include ../shared/user/styles.ejs %>
	</head>

	<body>
		<!-- main-menu Start -->
		<% include ../shared/user/navigation.ejs %>
		<!-- main-menu End -->

		
		<% include ../shared/user/banner.ejs %>


        
        <section class="products">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="allproduct_redpoint"></div>
                        <h3 class="products-title">Energy Storage Products</h3>
                    </div>
                </div>
                <div class="row">
                    <hr class="line-pr">
                </div>
                <div class="row">
                    <div class="col-sm-3 p-5 products-item">
						<a href="/bien-tan-luu-tru/dong-et">
							<div>
								<img src="/images/products/img_energy_01.png" alt="ET Series">
								<div class="products-desc">
                                    <h4>ET Series</h4>
                                    <p>
                                        5-10KW | <br>  Three Phase Storage Inverter | <br> High Voltage Battery
                                    </p>
								</div>
							</div>
						</a>
                    </div>
                    <div class="col-sm-3 p-5 products-item">
						<a href="/bien-tan-luu-tru/dong-bt">
							<div>
								<img src="/images/products/img_energy_02.png" alt="BT Series">
								<div class="products-desc">
                                    <h4>BT Series</h4>
                                    <p>
                                        5-10KW | <br>  Three Phase | AC Retrofit | <br>High Voltage Battery
                                    </p>
								</div>
							</div>
						</a>
                    </div>
                    <div class="col-sm-3 p-5 products-item">
						<a href="/bien-tan-luu-tru/dong-eh">
							<div>
								<img src="/images/products/img_energy_03.png" alt="EH Series">
								<div class="products-desc">
                                    <h4>EH Series</h4>
                                    <p>
                                        3.6-6KW | <br>   Single Phase Storage Inverter |<br> 2 MPPT | High Voltage Battery
                                    </p>
								</div>
							</div>
						</a>
                    </div>
                    <div class="col-sm-3 p-5 products-item">
						<a href="/bien-tan-luu-tru/dong-esa">
							<div>
								<img src="/images/products/img_energy_04.png" alt="ESA Series">
								<div class="products-desc">
                                    <h4>ESA Series</h4>
                                    <p>
                                        5KW+10.8KWh |  <br>  All-in-one Single Phase <br>Storage Inverter
                                    </p>
								</div>
							</div>
						</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 p-5 products-item">
						<a href="/bien-tan-luu-tru/dong-es">
							<div>
								<img src="/images/products/img_energy_05.png" alt="ES Series">
								<div class="products-desc">
                                    <h4>ES Series</h4>
                                    <p>
                                        3.6-5KW | 100A Charger |  | <br>  Storage Inverter
                                    </p>
								</div>
							</div>
						</a>
                    </div>
                    <div class="col-sm-3 p-5 products-item">
						<a href="/bien-tan-luu-tru/dong-em">
							<div>
								<img src="/images/products/img_energy_06.png" alt="EM Series">
								<div class="products-desc">
                                    <h4>EM Series</h4>
                                    <p>
                                        3-5KW | 50A Charger |  <br>  Storage Inverter
                                    </p>
								</div>
							</div>
						</a>
                    </div>
                    <div class="col-sm-3 p-5 products-item">
						<a href="/bien-tan-luu-tru/dong-aes">
							<div>
								<img src="/images/products/img_energy_07.png" alt="AES Series">
								<div class="products-desc">
                                    <h4>A-ES Series</h4>
                                    <p>
                                        (North America Only)<br>5-9.6kW | Single-phase |<br>Hybrid Inverter | HV Battery |<br>up to 4 MPPT
                                    </p>
								</div>
							</div>
						</a>
                    </div>
                    <div class="col-sm-3 p-5 products-item">
						<a href="/bien-tan-luu-tru/dong-ehb">
							<div>
								<img src="/images/products/img_energy_08.png" alt="EHB Series">
								<div class="products-desc">
                                    <h4>EHB Series</h4>
                                    <p>
                                        (South Africa Only)<br>5-10kW | Single-phase |<br>Hybrid Inverter | HV Battery |<br>up to 4 MPPT
                                    </p>
								</div>
							</div>
						</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 p-5 products-item">
						<a href="/bien-tan-luu-tru/dong-btc">
							<div>
								<img src="/images/products/img_energy_09.png" alt="BTC Series">
								<div class="products-desc">
                                    <h4>BTC Series</h4>
                                    <p>
                                        50kW | Three Phase |<br>    AC Retrofit | <br>High Voltage Battery
                                    </p>
								</div>
							</div>
						</a>
                    </div>
                    <div class="col-sm-3 p-5 products-item">
						<a href="/bien-tan-luu-tru/dong-lynx">
							<div>
								<img src="/images/products/img_energy_10.png" alt="Lynx Home Sky Series">
								<div class="products-desc">
                                    <h4>Lynx Home Sky</h4>
                                    <p>
                                        High voltage<br> (North America Only)
                                    </p>
								</div>
							</div>
						</a>
                    </div>
                </div>
            </div>
        </section>

		<% include ../shared/user/footer.ejs %>
		<% include ../shared/user/scripts.ejs %>
	</body>

</html>