<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html class="no-js"  lang="en">

	<head>
    <% include ../shared/user/styles.ejs %>
	</head>

	<body>
		<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
			your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<!-- main-menu Start -->
		<% include ../shared/user/navigation.ejs %>
		<!-- main-menu End -->

        <!--travel-box end-->
        
        <section class="product-detail ms-series">
            <div class="box box-bg1">
                <div class="box-item">
                    <div class="box-img">
                        <img src="../images/products/ms-01.png" alt="MS Series">
                    </div>
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title">
                            <h1>MS Series</h1>
                            <span class="sub-title">
                                5-10kW | Single Phase | 3 MPPT
                            </span> 
                        </div>
                        <div class="borderBottom-title"></div>
                        <div class="box-content-main">
                            <p>
                                MS Series is GoodWe's answer to the residential segments expanding needs. This 5-10kW Single-Phase model with 3 MPPT-s, is a powerful and versatile inverter. It is truly a champion in terms of DC oversizing, offering as much as 100%, way above the competition, making it possible as well to achieve 10% AC overloading. With a start-up voltage of only 80V, the MS is able to generate electricity earlier than equivalent products, achieving a high efficiency of 97.7%. This inverter is compatible with bifacial modules and outstandingly, as its maximum current input reaches 12.5A per string. Its light weight allows for an effortless installation.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-bg2">
				<div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>Low Startup Voltage,<br>
								High Generation Yield</h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                The startup voltage of MS series only requires 80V. This considerably low startup voltage distinguishes from the competitors that the solar system can generate power from dawn to dusk and even in very weak sunshine or irradiation whether condition, harness as much solar energy as possible!
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-bg3">
				<div class="box-item row">
                    <div class="col-xs-6 text-center">
                        <div class="number">
							100%
						</div>
						<div class="introduct">
							DC INPUT<br>
							OVERSIZING
						</div>
                    </div>
                    <div class="col-xs-6 text-center">
                        <div class="number">
							10%
						</div>
						<div class="introduct">
							AC Output Overloading
						</div>
                    </div>
				</div>
				<div class="row desc">
					<p>
						With 100% DC input oversizing and 10% AC output overloading capability, the MS series is driven to its full capacity by adding extra reflections from the backside of bifacial panels, to increase the power output under low solar radiation conditions.
					</p>
				</div>
			</div>
        </section>

		<% include ../shared/user/footer.ejs %>
		<% include ../shared/user/scripts.ejs %>
	</body>

</html>