<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html class="no-js"  lang="en">

	<head>
    <% include ../shared/user/styles.ejs %>
	</head>

	<body>
		<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
			your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<!-- main-menu Start -->
		<% include ../shared/user/navigation.ejs %>
		<!-- main-menu End -->

        <!--travel-box end-->
        
        <section class="product-detail sdt-series">
            <div class="box box-bg1">
                <div class="box-item">
                    <div class="box-img">
                        <img src="../images/products/sdt-01.png" alt="SDT Series">
                    </div>
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title">
                            <h1>SDT Series</h1>
                            <span class="sub-title">
                                4-10KW | Three Phase | 2 MPPT | Tigo Integrated
                            </span> 
                        </div>
                        <div class="borderBottom-title"></div>
                        <div class="box-content-main">
                            <p>
                                The GoodWe Smart DT series of inverters is specially designed for three-phase home solar systems, covering a wide power range of 4kW, 5kW, 6kW, 8kW, 10kW. The integrated two MPPTs allow two-array inputs from different roof orientations. The SDT series inverter is small, light and easy to install. Suitable for both outdoor and indoor installations, this inverter offers a quiet operation due to its fan-less, natural convection cooling
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-bg2">
            </div>

            <div class="box box-bg3">
                <div class="box-item row">
                    <div class="col-xs-12 text-center">
						<img src="../images/products/sdt-3_01.png" alt="">
                    </div>
				</div>
			</div>
			
			<div class="box box-bg4">
                <div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>DUAL MPPT</h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                THE DUAL MPPT IMPLEMENTS TWO DIFFERENT POWER
								INPUTS TOWARDS THE ROOF AND INPUTS
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

		<% include ../shared/user/footer.ejs %>
		<% include ../shared/user/scripts.ejs %>
	</body>

</html>