<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html class="no-js"  lang="en">

	<head>
    <% include ../shared/user/styles.ejs %>
	</head>

	<body>
		<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
			your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<!-- main-menu Start -->
		<% include ../shared/user/navigation.ejs %>
		<!-- main-menu End -->
        
        <section class="product-detail xs-series">
            <div class="box box-bg1">
                <div class="box-item">
                    <div class="box-img">
                        <img src="../images/products/product-01.png" alt="XS Series">
                    </div>
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title">
                            <h1>XS Series</h1>
                            <span class="sub-title">
                                0.7-3KW | Single Phase | 1 MPPT
                            </span> 
                        </div>
                        <div class="borderBottom-title"></div>
                        <div class="box-content-main">
                            <p>
                                The brand new XS model from GoodWe is an ultra-small residential solar inverter specifically designed to bring comfort and quiet operation as well as high efficiency to households. Its capacity ranges from 0.7kW to 3.0kW and its most outstanding characteristics are its light weight, which is 5.8kg, and its extremely small size, equivalent to an A4-sized piece of paper, which makes it particularly easy to carry & install. Remarkably, it offers a 30% of DC input oversizing and it’s able to achieve a maximum European efficiency of 97.2%. Conveniently, the communications options available on this inverter are both LAN & Wi-Fi.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-bg2">
                <div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>XA4 Size, Super Light</h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                Compressing 3KW DC/AC transforming technology into an A4 size inverter is unbelievable. However, GoodWe did it! Weighing less than 6 kg, inverters can be easily installed! Additionally, it also significantly reduces shipment and stock cost.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-bg3">
                <div class="box-item row">
                    <div class="col-xs-6 text-center">
                        <div class="number">
							33%
						</div>
						<div class="introduct">
							DC INPUT<br>
							OVERSIZING
						</div>
                    </div>
                    <div class="col-xs-6 text-center">
                        <div class="number">
							97.2%
						</div>
						<div class="introduct">
							EUROPEAN<br>
							EFFICIENCY
						</div>
                    </div>
				</div>
				<div class="row desc">
					<p>
						Even though the XS Series is extremely compact and tiny, it doesn’t mean standard features are sacrificed. The XS is still equipped with 30% DC oversizing capability which allows full load output during extreme weather conditions and what’s more, its European Efficiency can reach 97%, which is even more compared to its predecessors. NS Series. Small, light, compact, and capable!
					</p>
				</div>
			</div>
			
			<div class="box box-bg4">
				<div class="row desc pt-80">
					<div class="col-sm-12">
						<div class="title"> 
							LAN/WIFICommunication
						</div>
						<div class="introduct pt-50">
							An optional LAN/WIFI communication offers customers different monitoring methods to cater for different needs. Customers are able to choose the most convenient way to monitor their solar systems. It also allows the customer to switch into another monitoring method after installation. GoodWe cares about your feelings and experiences.
						</div>
					</div>
				</div>
            </div>
        </section>

		<% include ../shared/user/footer.ejs %>
		<% include ../shared/user/scripts.ejs %>
	</body>

</html>