<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html class="no-js"  lang="en">

	<head>
    <% include ../shared/user/styles.ejs %>
	</head>

	<body>
		<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
			your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<!-- main-menu Start -->
		<% include ../shared/user/navigation.ejs %>
		<!-- main-menu End -->

        <!--travel-box end-->
        
        <section class="product-detail sdt-g2-series">
            <div class="box box-bg1">
                <div class="box-item">
                    <div class="box-img">
                        <img src="../images/products/sdtg2-01.png" alt="SDT G2 Series">
                    </div>
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title">
                            <h1>SDT G2 Series</h1>
                            <span class="sub-title">
                                4-15KW | Three Phase | 2 MPPT
                            </span> 
                        </div>
                        <div class="borderBottom-title"></div>
                        <div class="box-content-main">
                            <p>
                                The SDT G2 series of inverter from GoodWe is one of the best options available in the residential & commercial sectors owing to its technical strengths, which make it one of the most productive inverters in the market. Because of its high efficiency of (98.3%), the enhanced oversizing & overloading capabilities and the fact that it does not require a null line for installation, SDT G2 represents an outstanding improvement in the industry.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-bg2">
				<div class="box-item row">
                    <div class="col-xs-6 text-center">
                        <div class="number">
							50%
						</div>
						<div class="introduct">
							DC INPUT<br>
							OVERSIZING
						</div>
					</div>
					<div class="col-xs-6 text-center">
                        <div class="number">
							10%
						</div>
						<div class="introduct">
							AC OUTPUT<br>OVERLOADING
						</div>
                    </div>
				</div>
				<div class="row desc">
					<p>
						2nd generation of GoodWe SDT series is downsized by more than 50%. However, being compatible with bifacial modules, the competency of this half size successor is considerably improved. With 50% DC input oversizing, 10% AC output overloading capability, it drives your inverter to its full capacity by adding extra reflections from the backside of bifacial panels, to increase your power output under low solar radiation conditions.
					</p>
				</div>
            </div>

            <div class="box box-bg3">
                <div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>BUILT-IN<br>ANTI-REVERSE CURRENT</h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                In regions where solar power is not allowed to be reverberated to the grid, installers can easily set an export limit through the GoodWe app with one simple-click, as SDT G2 has integrated a built-in anti-reverse current function into the inverter.
                            </p>
                        </div>
                    </div>
                </div>
			</div>
			
			<div class="box box-bg4">
                <div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>ARC-FAULT<br>CIRCUIT INTERRUPTER</h1>
                        </div>
                        <div class="box-content-main">
                            <p>
                                Safety First! With AFCI, the inverter is able to detect arc fault failure, sending alarms through monitoring systems and breaking the circuit simultaneously. GoodWe does not only deliver efficiency, reliability, but security as well.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

		<% include ../shared/user/footer.ejs %>
		<% include ../shared/user/scripts.ejs %>
	</body>

</html>