<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html class="no-js"  lang="en">

	<head>
    <% include ../shared/user/styles.ejs %>
	</head>

	<body>
		<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
			your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<!-- main-menu Start -->
		<% include ../shared/user/navigation.ejs %>
		<!-- main-menu End -->
        
        <section class="product-detail ns-series">
            <div class="box box-bg1">
                <div class="box-item">
                    <div class="box-img">
                        <img src="../images/products/product-01.png" alt="NS Series">
                    </div>
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title">
                            <h1>NS Series</h1>
                            <span class="sub-title">
                                1-3KW | Single Phase | 1 MPPT
                            </span> 
                        </div>
                        <div class="borderBottom-title"></div>
                        <div class="box-content-main">
                            <p>
                                GoodWe’s NS series of inverters adopts cutting edge technology in solar photovoltaic power conversion. Ideally suited to newly-built housing projects or small domestic installations, it offers 1-3kW models for installations as small as 3 PV modules. Comprehensive MPPT technology, software and hardware technology are guaranteed to maximize lifespan.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-bg2">
                <div class="box-item box-reverse">
                    <div class="box-content animated fadeInUp">
                        <div class="box-content-title border-none">
                            <h1>PERFECT FOR<br>
                                3-PANEL SYSTEM</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-bg3">
                <div class="box-item row">
                    <div class="col-xs-12 text-left">
                        <div class="number">
							30%
						</div>
						<div class="introduct">
							DC Oversizing
                        </div>
                        <div class="box-content-main">
                            <p>
                                Drive your inverter to its fullest capacity by adding extra panels to<br>
                                increase your power output under low solar radiation conditions.
                            </p>
                        </div>
                    </div>
				</div>
			</div>
			
			<div class="box box-bg4">
				<div class="row desc pt-80">
					<div class="col-sm-12">
						<div class="title text-left"> 
							NATURAL VENTILATION<br>
                            MUTE OPERATION
						</div>
					</div>
				</div>
            </div>
        </section>

		<% include ../shared/user/footer.ejs %>
		<% include ../shared/user/scripts.ejs %>
	</body>

</html>