<!-- footer-copyright start -->
<footer  class="footer-copyright">
  <div class="container">
    <div class="footer-content">
      <div class="row">

        <div class="col-sm-3">
          <div class="single-footer-item">
            <div class="footer-logo">
              <a href="index.html">
                Tesla<span>Power</span>
              </a>
              <p>
                Cung cấp các giải pháp về nguồn năng lượng mặt trời
              </p>
            </div>
          </div><!--/.single-footer-item-->
        </div><!--/.col-->

        <div class="col-sm-3">
          <div class="single-footer-item">
            <h2>Về chúng tôi</h2>
            <div class="single-footer-txt">
              <p><a href="/ve-chung-toi/quan-ly-chat-luong">Quản lý chất lượng</a></p>
              <p><a href="/ve-chung-toi/du-an">Dự án</a></p>
              <p><a href="/ve-chung-toi/su-nghiep">Sự nghiệp</a></p>
              <p><a href="/lien-he">Liên hệ</a></p>
              <p><a href="/dao-tao">Đào tạo</a></p>
              <p><a href="/tai-xuong">Tải xuống</a></p>
            </div><!--/.single-footer-txt-->
          </div><!--/.single-footer-item-->
        </div><!--/.col-->

        <div class="col-sm-3">
          <div class="single-footer-item">
            <h2 class="text-left">Hỗ trợ</h2>
            <div class="single-footer-txt">
              <p><a href="/ho-tro/bao-hanh">Bảo hành</a></p>
              <p><a href="https://support.goodwe.com/portal/en/home">Hỗ trợ trực tuyến</a></p>
              <p><a href="/ho-tro/cau-hoi-thuong-gap">Câu hỏi thường gặp</a></p>
              <p><a href="/ho-tro/video">Video</a></p>
              <p><a href="https://www.semsportal.com/home/login">Quản lý</a></p>
              <p><a href="https://ezdesigner2.semsportal.com/Account/Login">Thiết kế hệ thống</a></p>
            </div><!--/.single-footer-txt-->
          </div><!--/.single-footer-item-->
        </div><!--/.col-->

        <div class="col-sm-3">
          <div class="single-footer-item">
            <h2>Giải pháp</h2>
            <div class="single-footer-txt">
              <p><a href="/giai-phap/khu-dan-cu">Dân dụng</a></p>
              <p><a href="/giai-phap/luu-tru-nang-luong">Lưu trữ năng lượng</a></p>
              <p><a href="/giai-phap/thuong-mai">Thương mại</a></p>
              <p><a href="/giai-phap/gioi-han-cong-suat">Giới hạn công suất</a></p>
            </div><!--/.single-footer-txt-->
          </div><!--/.single-footer-item-->
        </div><!--/.col-->
      </div><!--/.row-->

    </div><!--/.footer-content-->
    <hr>
    <div class="foot-icons ">
      <ul class="footer-social-links list-inline list-unstyled">
                <li><a href="#" target="_blank" class="foot-icon-bg-1"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" target="_blank" class="foot-icon-bg-2"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" target="_blank" class="foot-icon-bg-3"><i class="fa fa-instagram"></i></a></li>
          </ul>
          <p>&copy; 2021 <a href="https://www.goodwe.com.vn">TeslaPower Viet Nam</a>. All Right Reserved</p>

        </div><!--/.foot-icons-->
    <div id="scroll-Top">
      <i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
    </div><!--/.scroll-Top-->
  </div><!-- /.container-->

</footer><!-- /.footer-copyright-->