<!-- footer-copyright start -->
<footer  class="footer-copyright">
  <div class="container">
    <div class="footer-content">
      <div class="row">

        <div class="col-sm-3">
          <div class="single-footer-item" style="margin-top: -30px">
            <div class="footer-logo">
              <a href="/">
                GOODWE<span>VN</span>
              </a>
              <p>
                Chuyên cung cấp các giải pháp tối ưu về nguồn năng lượng mặt trời
              </p>
            </div>
          </div><!--/.single-footer-item-->
        </div><!--/.col-->

        <div class="col-sm-3">
          <div class="single-footer-item">
            <h2>Về chúng tôi</h2>
            <div class="single-footer-txt">
              <p><a href="/ve-chung-toi/quan-ly-chat-luong">Quản lý chất lượng</a></p>
              <p><a href="/ve-chung-toi/du-an">Dự án</a></p>
              <p><a href="/ve-chung-toi/su-nghiep">Sự nghiệp</a></p>
              <p><a href="/lien-he">Liên hệ</a></p>
              <p><a href="/dao-tao">Đào tạo</a></p>
              <p><a href="/tai-xuong">Tải xuống</a></p>
            </div><!--/.single-footer-txt-->
          </div><!--/.single-footer-item-->
        </div><!--/.col-->

        <div class="col-sm-3">
          <div class="single-footer-item">
            <h2 class="text-left">Hỗ trợ</h2>
            <div class="single-footer-txt">
              <p><a href="/ho-tro/bao-hanh">Bảo hành</a></p>
              <p><a href="https://support.goodwe.com/portal/en/home">Hỗ trợ trực tuyến</a></p>
              <p><a href="/ho-tro/cau-hoi-thuong-gap">Câu hỏi thường gặp</a></p>
              <p><a href="/ho-tro/video">Video</a></p>
              <p><a href="https://www.semsportal.com/home/login">Quản lý</a></p>
              <p><a href="https://ezdesigner2.semsportal.com/Account/Login">Thiết kế hệ thống</a></p>
            </div><!--/.single-footer-txt-->
          </div><!--/.single-footer-item-->
        </div><!--/.col-->

        <div class="col-sm-3">
          <div class="single-footer-item">
            <h2>Giải pháp</h2>
            <div class="single-footer-txt">
              <p><a href="/giai-phap/khu-dan-cu">Dân dụng</a></p>
              <p><a href="/giai-phap/luu-tru-nang-luong">Lưu trữ năng lượng</a></p>
              <p><a href="/giai-phap/thuong-mai">Thương mại</a></p>
              <p><a href="/giai-phap/gioi-han-cong-suat">Giới hạn công suất</a></p>
            </div><!--/.single-footer-txt-->
          </div><!--/.single-footer-item-->
        </div><!--/.col-->
      </div><!--/.row-->

    </div><!--/.footer-content-->
    <hr>
    <div class="footer-bottom" style="text-align: center;">
      <div class="address">
        <div class="col-md-4 fo-grid1 single-footer-txt">
          <p>
            <a href="https://goo.gl/maps/GvbyJHar3GqAuq8H6" target="_blank" rel="noopener noreferrer">
              <i class="fa fa-home" aria-hidden="true"></i> 212-B18 Nguyễn Hữu Cảnh, Phường Thắng Nhất, Thành phố Vũng Tàu.
            </a>
          </p>
        </div>
        <div class="col-md-4 fo-grid1 single-footer-txt">
          <p>
            <a href="tel:+84971120413">
              <i class="fa fa-phone" aria-hidden="true"></i> 0971120413
            </a>
          </p>
        </div>
        <div class="col-md-4 fo-grid1 single-footer-txt">
          <p>
            <a href="mailto:anhpt.hostinger@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> anhpt.hostinger@gmail.com</a>
          </p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="copy-right" style="text-align: center;">
      <p>
        © 2021. All Rights Reserved
    </div>
    <div id="scroll-Top">
      <i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
    </div><!--/.scroll-Top-->
  </div><!-- /.container-->

</footer><!-- /.footer-copyright-->