<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function () {
    FB.init({
      xfbml: true,
      version: 'v7.0',
    })
  }
  ;(function (d, s, id) {
    var js,
      fjs = d.getElementsByTagName(s)[0]
    if (d.getElementById(id)) return
    js = d.createElement(s)
    js.id = id
    js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js'
    fjs.parentNode.insertBefore(js, fjs)
  })(document, 'script', 'facebook-jssdk')
</script>

<!-- Your Chat Plugin code -->
<div
  class="fb-customerchat"
  attribution="setup_tool"
  page_id="1320164174689001"
  theme_color="#ffc300"
  logged_in_greeting="Xin chào. Chúng tôi giúp gì được cho bạn?"
  logged_out_greeting="Xin chào. Chúng tôi giúp gì được cho bạn?"
></div>

<!-- ZALO -->
<!-- <div
  class="zalo-chat-widget"
  data-oaid="134118603137951999"
  data-welcome-message="Rất vui khi được hỗ trợ bạn!"
  data-autopopup="0"
  data-width="350"
  data-height="420"
  id="zalo-chat"
></div>
<script src="https://sp.zalo.me/plugins/sdk.js"></script> -->
<!-- ZALO -->

<!-- Phone Ring -->
<a href="tel:+84888495490">
  <i class="Phone is-animating"> </i>
</a>
<!-- Phone Ring -->
<!-- <a href="/"
  ><img
    src="/images/logo.png"
    class="img-head"
    alt="TeslaPower VN"
    title="TeslaPower VN"
/></a> -->