<!-- <nav id="navigation">
  <div class="container">
    <div id="responsive-nav">
      <ul class="main-nav nav navbar-nav">
        <li class="active"><a href="/">Trang Chủ</a></li>
        <li><a href="#">Event Ưu Đãi</a></li>
        <% if (runtimeCategories && runtimeCategories.length > 0) {%> <%
        runtimeCategories.forEach(item => { %>
        <li><a href="/danh-muc/<%= item.slug %>"><%= item.name %></a></li>
        <% })%> <% }; %>
      </ul>
    </div>
  </div>
</nav> -->


<!-- main-menu Start -->
<header class="top-area">
  <div class="header-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <div class="logo">
            <a href="/">
              Good<span>we</span>
            </a>
          </div><!-- /.logo-->
        </div><!-- /.col-->
        <div class="col-sm-10">
          <div class="main-menu">
          
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="fa fa-bars"></i>
              </button><!-- / button-->
            </div><!-- /.navbar-header-->
            <div class="collapse navbar-collapse">		  
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown dropdown-custom"><a class="dropdown-toggle" data-toggle="dropdown" href="/ve-chung-toi">Về chúng tôi<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/ve-chung-toi/quan-ly-chat-luong">Quản lý chất lượng</a></li>
                    <li><a href="/ve-chung-toi/du-an">Dự án</a></li>
                    <li><a href="/ve-chung-toi/tin-tuc">Tin tức</a></li>
                    <li><a href="/ve-chung-toi/su-nghiep">Sự nghiệp</a></li>
                  </ul>
                </li>
                <li class="smooth-menu"><a href="/san-pham">Sản Phẩm</a></li>
                <li class="dropdown dropdown-custom"><a class="dropdown-toggle" data-toggle="dropdown" href="/giai-phap">Giải Pháp<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/giai-phap/khu-dan-cu">Dân Dụng</a></li>
                    <li><a href="/giai-phap/luu-tru-nang-luong">Lưu Trữ Năng Lượng</a></li>
                    <li><a href="/giai-phap/thuong-mai">Thương Mại</a></li>
                    <li><a href="/giai-phap/gioi-han-cong-suat">Giới Hạn Công Suất</a></li>
                  </ul>
                </li>
                <li class="dropdown dropdown-custom"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Hỗ Trợ<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="ho-tro/bao-hanh">Bảo Hành</a></li>
                    <li><a href="https://support.goodwe.com/portal/en/home">Hỗ trợ trực tuyến</a></li>
                    <li><a href="ho-tro/cau-hoi-thuong-gap">Câu hỏi thường gặp</a></li>
                    <li><a href="ho-tro/video">Video</a></li>
                    <li><a href="https://www.semsportal.com/home/login">Quản lý</a></li>
                    <li><a href="https://ezdesigner2.semsportal.com/Account/Login">Thiết kế hệ thống</a></li>
                  </ul>
                </li>
                <li class="smooth-menu"><a href="/tai-xuong">Tải xuống</a></li>
                <li class="smooth-menu"><a href="/dao-tao">Đào tạo</a></li>
                <li class="smooth-menu"><a href="/lien-he">Liên Hệ</a></li>
                <li>
                  <button class="book-btn">book now
                  </button>
                </li><!--/.project-btn--> 
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.main-menu-->
        </div><!-- /.col-->
      </div><!-- /.row -->
      <div class="home-border"></div><!-- /.home-border-->
    </div><!-- /.container-->
  </div><!-- /.header-area -->

</header><!-- /.top-area-->
<!-- main-menu End -->
