<!doctype html>
<html class="no-js"  lang="en">

	<head>
        <% include ../shared/user/styles.ejs %>
    </head>

	<body>
		<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
			your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<!-- main-menu Start -->
		<header class="top-area">
			<div class="header-area">
				<div class="container">
					<div class="row">
						<div class="col-sm-2">
							<div class="logo">
								<a href="index.html">
									tour<span>Nest</span>
								</a>
							</div><!-- /.logo-->
						</div><!-- /.col-->
						<div class="col-sm-10">
							<div class="main-menu">
							
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
										<i class="fa fa-bars"></i>
									</button><!-- / button-->
								</div><!-- /.navbar-header-->
								<div class="collapse navbar-collapse">		  
									<ul class="nav navbar-nav navbar-right">
										<li class="smooth-menu"><a href="#home">Về Chúng Tôi</a></li>
										<li class="smooth-menu"><a href="#gallery">Sản Phẩm</a></li>
										<li class="dropdown dropdown-custom"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Giải Pháp<span class="caret"></span></a>
											<ul class="dropdown-menu">
											  <li><a href="/dan-dung">Dân Dụng</a></li>
											  <li><a href="/luu-tru-nang-luong">Lưu Trữ Năng Lượng</a></li>
											  <li><a href="/thuong-mai">Thương Mại</a></li>
											  <li><a href="/gioi-han-cong-suat">Giới Hạn Công Suất</a></li>
											</ul>
										</li>
										<li class="dropdown dropdown-custom"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Hỗ Trợ<span class="caret"></span></a>
											<ul class="dropdown-menu">
											  <li><a href="/bao-hanh">Bảo Hành</a></li>
											</ul>
										</li>
										<li class="smooth-menu"><a href="#blog">Liên Hệ</a></li>
										<li>
											<button class="book-btn">book now
											</button>
										</li><!--/.project-btn--> 
									</ul>
								</div><!-- /.navbar-collapse -->
							</div><!-- /.main-menu-->
						</div><!-- /.col-->
					</div><!-- /.row -->
					<div class="home-border"></div><!-- /.home-border-->
				</div><!-- /.container-->
			</div><!-- /.header-area -->

		</header><!-- /.top-area-->
		<!-- main-menu End -->

		<section id="Banner">
            <div class="news_modular_1">
                <img class="u-image-1" src="/images/gallary/C&I-Solutions-banner.jpg"></div>
        </section>

        <section id="General-Information-Add-H1s-etc-Manually">
            <div class="warranty_modular_2">
                <div class="center" style="color: #fff;font-size: 18px;line-height: 24px;">
            
            
            
                           <p class="u-text-1"><br>
            <br>
            
            </p><h1 style="text-align: center; line-height: 2em; font-size: 36px;">Giải pháp Thương mại &amp; Công nghiệp &amp; Công suất lớn </h1><br>
            <br>
            
            <div><img alt="" height="6px" src="/images/gallary/Image_402.png" title="" width="405px"></div>
            <h2 style="font-size: 24px; line-height: 2em;">Giải pháp nhà máy điện mặt trời 100kWp</h2>
            <h3 style="line-height: 2em; font-size: 21px; color: rgb(255, 0, 0);">Thông tin dự án </h3><br>
            
            <div style="line-height: 2em;"> Vị trí dự án: Munich / GERMANY<br>
                Tấm PV: Đơn tinh thể 350 Wp<br>
                Biến tần: Biến tần thương mại ba pha GW30K-MT GoodWe<br>
                Công suất DC được lắp đặt: 288 chiếc x 0,35 kWp = 100,8 kWp<br>
                Công suất định mức AC đã lắp đặt: 3 chiếc x 30 kW = 90 kW<br>
                Tỷ số DC / AC: 1.12<br>
                <br>
                * Biến tần dòng SMT của GoodWe có DC oversizing lên đến 30-50% DC. Trong dự án đó, 12% DC oversizing đã được áp dụng khi xem xét mức độ chiếu xạ mạnh của Đức. </div><br>
            <br>
            
            <h3 style="line-height: 2em; font-size: 21px; color: rgb(255, 0, 0);">Các thành phần dự án </h3><br>
            <br>
            
            <div><img alt="" src="/images/gallary/1.2.png" title=""></div><br>
            <br>
            
            <h4 style="font-size: 18px; line-height: 2em;">Tính năng chính của tấm PV </h4><br>
            <br>
            
            <div><img alt="" src="/images/gallary/2.2.png" title=""></div><br>
            <br>
            
            <h3 style="line-height: 2em; font-size: 21px; color: rgb(255, 0, 0);">Sơ đồ cáp &amp; đấu nối </h3><br>
            <br>
            
            <div><img alt="" src="/images/gallary/3.2.png" title=""></div><br>
            <br>
            
            <div style="line-height: 2em;"> * Sơ đồ kết nối. Mỗi chuỗi được kết nối với 16 tấm PV. Tổng dung lượng là 6 chuỗi x 16 = 96 chiếc. </div><br>
            <br>
            
            <div><img alt="" src="/images/gallary/4.1.png" title=""></div><br>
            <br>
            
            <div style="line-height: 2em;"> * GoodWe Ezlogger Pro có 3 giao tiếp đầu vào trên mỗi biến tần. Mỗi cổng giao tiếp có thể hỗ trợ lên đến 20 biến tần. Tổng cộng, 60 biến tần có thể được kết nối. (Hộp giám sát GoodWe SCB1000 cũng có sẵn).<br>
                * Khoảng cách hiệu quả tối đa RS485 là 1000m đối với EzloggerPro.<br>
                * EzloggerPro có thể thực hiện giám sát ở level chuỗi.<br>
                </div><br>
            <br>
            
            <h3 style="line-height: 2em; font-size: 21px; color: rgb(255, 0, 0);">Báo cáo hiệu suất hệ thống PV </h3><br>
            
            <div><img alt="" src="/images/gallary/5.2.png" title=""></div><br>
            <br>
            
            <div style="line-height: 2em;"> * Báo cáo này minh họa DC oversizing của cách lắp đặt này đã góp phần tăng tổng sản lượng như thế nào. Nếu chúng tôi tuân theo sự sắp xếp Tỷ số DC / AC 1: 1, thì tổng sản lượng sẽ thấp hơn 10%. </div><br>
            <br>
            <br>
            
            <div><img alt="" height="6px" src="/images/gallary/Image_402.png" title="" width="385px"></div>
            <h2 style="font-size: 24px; line-height: 2em;">Giải pháp nhà máy điện mặt trời 1MWp</h2><br>
            <br>
            
            <h3 style="line-height: 2em; font-size: 21px; color: rgb(255, 0, 0);">Thông tin dự án</h3><br>
            <br>
            
            <div style="font-size: 18px; line-height: 2em;"> Vị trí dự án: Munich / GERMANY<br>
                Tấm PV: Đơn tinh thể 350 Wp<br>
                Biến tần: Biến tần thương mại ba pha GW80K-MT GoodWe<br>
                Công suất DC đã được lắp đặt: 2880 chiếc x 0,35 kWp = 1008 kWp<br>
                Công suất định mức AC đã được lắp đặt: 12 chiếc x 80 kW = 960 kW<br>
                Tỷ số DC / AC: 1,05<br>
                <br>
                * Biến tần dòng MT của GoodWe có DC oversizing lên đến 30-50%. Trong dự án đó, 5% DC oversizing đã được áp dụng khi xem xét mức cường độ bức xạ mạnh của Đức. </div><br>
            <br>
            
            <h3 style="line-height: 2em; font-size: 21px; color: rgb(255, 0, 0);">Các thành phần dự án</h3><br>
            <br>
            
            <div><img alt="" src="/images/gallary/1.3.png" title=""></div><br>
            <br>
            
            <h4 style="font-size: 18px; line-height: 2em;">Tính năng chính của tấm PV</h4><br>
            <br>
            
            <div><img alt="" src="/images/gallary/2.3.png" title=""></div><br>
            <br>
            
            <h3 style="line-height: 2em; font-size: 21px; color: rgb(255, 0, 0);">Sơ đồ cáp &amp; đấu nối</h3><br>
            <br>
            
            <div><img alt="" src="/images/gallary/3.3.png" title=""></div><br>
            <br>
            
            <div style="font-size: 18px; line-height: 2em;"> * Sơ đồ đấu nối. Mỗi chuỗi được đấu nối với 20 tấm PV. Tổng kích thước dự án: 12 chuỗi x 20 = 240 chiếc. Để đạt được điện áp cao hơn, chúng tôi chừa lại một đầu vào DC trên mỗi MPPT không được sử dụng, thay vào đó, nhiều tấm PV được đấu nối với 3 đầu vào DC còn lại.</div><br>
            <br>
            
            <div><img alt="" src="/images/gallary/4.2.png" title=""></div><br>
            <br>
            
            <div style="line-height: 2em;"> Sơ đồ kết nối truyền thông (RS485).</div><br>
            <br>
            
            <div><img alt="" src="/images/gallary/5.3.png" title=""></div><br>
            <br>
            
            <div style="font-size: 18px; line-height: 2em;"> * GoodWe Ezlogger Pro có 3 đầu vào giao tiếp trên mỗi biến tần. Mỗi cổng giao tiếp có thể hỗ trợ tối đa 20 biến tần, có thể kết nối lên đến 60 biến tần. (Ngoài ra còn có một hộp giám sát khác được gọi là SCB1000).<br>
                * Khoảng cách hiệu quả tối đa RS485 là 1000m đối với EzloggerPro.<br>
                * EzloggerPro có thể thực hiện giám sát ở mức độ chuỗi. </div><br>
            <br>
            
            <h3 style="line-height: 2em; font-size: 21px; color: rgb(255, 0, 0);">Báo cáo hiệu suất hệ thống PV</h3><br>
            
            <div><img alt="" src="/images/gallary/6.2.png" title=""></div><br>
            <br>
            
            <div style="line-height: 2em;"> * Báo cáo này cho biết tổng năng lượng được tạo ra sau khi đã trừ đi tất cả các tổn thất tích lũy. Dự án này đạt được 5% DC oversizing.<br>
                * GW80K-MT có thể hỗ trợ lên đến 50% DC oversizing.</div><br>
            <br>
            
            <div><img alt="" height="6px" src="/images/gallary/Image_402.png" title="" width="385px"></div>
            <h2 style="font-size: 24px; line-height: 2em;">Giải pháp nhà máy điện mặt trời 5MWp</h2><br>
            <br>
            
            <h3 style="line-height: 2em; font-size: 21px; color: rgb(255, 0, 0);">Thông tin dự án</h3><br>
            <br>
            
            <div style="font-size: 18px; line-height: 2em;"> Vị trí dự án: Munich / GERMANY<br>
                Tấm PV: 350 Wp đơn tinh thể / Tấm pin hai mặt kính<br>
                Biến tần: Biến tần thương mại ba pha GW80K-MT GoodWe (Đầu ra 540V)<br>
                Công suất DC đã lắp đặt: 17.880 chiếc x 0,35 kWp = 6258 kWp<br>
                Công suất định mức AC đã lắp đặt: 60 chiếc x 80 kW = 4800 kW<br>
                Tỷ số DC / AC: 1.30<br>
                <br>
                * Biến tần dòng MT của GoodWe có thể đạt được 30-50% DC oversizing. Trong dự án đó, 30% DC oversizing đã được áp dụng khi xem xét mức độ chiếu xạ mạnh của Đức.</div><br>
            <br>
            
            <h3 style="line-height: 2em; font-size: 21px; color: rgb(255, 0, 0);">Các thành phần dự án</h3><br>
            <br>
            
            <div><img alt="" src="/images/gallary/1.4.png" title=""></div><br>
            <br>
            
            <h4 style="font-size: 18px; line-height: 2em;">Tính năng chính của tấm PV</h4><br>
            <br>
            
            <div><img alt="" src="/images/gallary/2.4.png" title=""></div><br>
            <br>
            
            <h3 style="line-height: 2em; font-size: 21px; color: rgb(255, 0, 0);">Sơ đồ cáp &amp; đấu nối</h3><br>
            
            <div><img alt="" src="/images/gallary/3.4.png" title=""></div><br>
            <br>
            
            <div style="line-height: 2em;"> * Hình minh họa sơ đồ kết nối. Để đạt được năng suất cao hơn, chúng tôi nối 19 miếng PV cho 10 chuỗi đầu tiên và 18 miếng PV cho 8 chuỗi còn lại. Có tổng cộng 298 tấm PV được lắp đặt trên mỗi biến tần. Công suất đầu vào DC là 104,3 kWp. Tỷ số DC / AC là 1,3.</div><br>
            <br>
            <br>
            
            <div><img alt="" src="/images/gallary/4.3.png" title=""></div><br>
            <br>
            
            <div><img alt="" src="/images/gallary/5.4.png" title=""></div><br>
            <br>
            
            <div style="line-height: 2em;"> * Có Ezlogger Pro và bảng PLC nằm bên trong hộp SCB2000. Hộp giao tiếp này có thể hỗ trợ tới 30 biến tần. Để sử dụng hơn 30 biến tần, chúng tôi có thể kết nối tất cả các hộp SCB2000 bằng Cáp quang.</div><br>
            <br>
            
            <h3 style="line-height: 2em; font-size: 21px; color: rgb(255, 0, 0);">Báo cáo hiệu suất hệ thống PV</h3><br>
            <br>
            
            <div><img alt="" src="/images/gallary/6.3.png" title=""></div><br>
            <br>
            
            <div style="font-size: 18px; line-height: 2em;"> * Báo cáo này cho thấy rằng các tấm PV hai mặt kính tạo ra nhiều năng lượng hơn dưới sự chiếu xạ tốt và có PR (Tỷ số Hiệu suất) cao hơn các hệ thống truyền thống.<br>
                * GW80KHV-MT có thể hỗ trợ lên đến 50% DC oversizing. </div><br>
            <br>
            
            <div><img alt="" height="6px" src="/images/gallary/Image_402.png" title="" width="405px"></div>
            <h2 style="font-size: 24px; line-height: 2em;">Hệ thống quản lý năng lượng thông minh</h2><br>
            <br>
            
            <div style="line-height: 2em;"> Hệ thống Quản lý Năng lượng Thông minh (SEMS) của GoodWe là một nền tảng giám sát giao thức mở. Nó được thiết kế để giúp người vận hành cùng một lúc có thể giám sát một loạt các nhà máy PV đang hoạt động tại các địa điểm khác nhau. SEMS thực hiện xử lý lượng lớn dữ liệu, bao gồm cả việc tạo ra các biểu đồ tùy chỉnh. Hệ thống thông báo và chức năng bảo trì của nó giúp người vận hành tài sản PV quản lý việc tạo ra năng lượng một cách hiệu quả và thoải mái, góp phần tăng năng suất hệ thống.</div><br>
            <br>
            
            <div><img alt="" src="/images/gallary/1.5.png" title=""></div><br>
            <br>
            
            <h3 style="line-height: 2em; font-size: 21px;">Lợi ích kèm theo</h3><br>
            
            <div style="line-height: 2em;"> Phân tích độ sai lệch của biến tần</div><br>
            <br>
            
            <div><img alt="" src="/images/gallary/2.5.png" title=""></div><br>
            <br>
            
            <div style="font-size: 18px; line-height: 2em;"> Tỷ số sai lệch cao cho thấy hệ thống PV có vấn đề. SEMS có thể chọn biến tần có Tỷ số sai lệch cao. Sau đó, bằng cách chẩn đoán dòng điện của mỗi chuỗi, người dùng có thể kiểm tra các tấm pin tương ứng và các thành phần cài đặt liên quan để tìm gốc rễ nguyên nhân của sự sai lệch.</div><br>
            <br>
            <br>
            
            <div><img alt="" src="/images/gallary/3.5.png" title=""></div><br>
            <br>
            <br>
            
            <table style="border-collapse: collapse; border-spacing: 0px; width: 100%; height: auto;">
                <tbody>
                    <tr>
                        <td style="" valign="top" width="50%">
                            <div><img alt="" src="/images/gallary/4.4.png" title=""></div></td>
                        <td style="word-break: break-all;" valign="top" width="50%"><br>
                            <br>
                            
                            <h3 style="line-height: 2em; font-size: 21px;">Hiển thị dạng băng chuyền tất cả các nhà máy điện</h3>
                            <div style="line-height: 2em;"> Hiển thị dạng băng chuyền động tất cả các nhà máy trong tài khoản của bạn.</div></td>
                    </tr>
                </tbody>
            </table><br>
            
            <table style="border-collapse: collapse; border-spacing: 0px; width: 100%; height: auto;">
                <tbody>
                    <tr>
                        <td style="" valign="top" width="50%">
                            <div><img alt="" src="/images/gallary/5.5.png" title=""></div></td>
                        <td style="word-break: break-all;" valign="top" width="50%"><br>
                            <br>
                            
                            <h3 style="line-height: 2em; font-size: 21px;">Tạo báo cáo thông minh</h3>
                            <div style="line-height: 2em;"> Tạo Báo cáo &amp; Phân tích Dữ liệu tùy chỉnh<br>
                                Phát hiện và đánh giá chính xác và toàn diện dữ liệu của nhà máy<br>
                                Nội dung và thiết kế của các báo cáo có thể được điều chỉnh để phù hợp với từng yêu cầu cụ thể. Ngoài báo cáo tiêu chuẩn, một trình tạo báo cáo cũng có sẵn.</div></td>
                    </tr>
                </tbody>
            </table><br>
            
            <table style="border-collapse: collapse; border-spacing: 0px; width: 100%; height: auto;">
                <tbody>
                    <tr>
                        <td style="" valign="top" width="50%">
                            <div><img alt="" src="/images/gallary/6.4.png" title=""></div></td>
                        <td style="word-break: break-all;" valign="top" width="50%"><br>
                            <br>
                            
                            <h3 style="line-height: 2em; font-size: 21px;">Hệ thống đa ngôn ngữ</h3>
                            <div style="line-height: 2em;"> Cổng thông tin SEMS là một trang đa ngôn ngữ. Nó cung cấp tới chín ngôn ngữ, bao gồm tiếng Anh, Đức, Hà Lan, Tây Ban Nha, Bồ Đào Nha, Séc, Thổ Nhĩ Kỳ, Hàn Quốc và Ả Rập. Với sự phổ biến của bộ biến tần GoodWe trên toàn thế giới, SEMS sẽ có nhiều phiên bản ngôn ngữ hơn nữa.</div></td>
                    </tr>
                </tbody>
            </table><br>
            <br>
            
            <h3 style="line-height: 2em; font-size: 21px;">Cảnh báo thông minh và khắc phục sự cố</h3><br>
            <br>
            
            <div><img alt="" src="/images/gallary/7.1.png" title=""></div><br>
            <br>
            
            <div><img alt="" height="6px" src="/images/gallary/Image_402.png" title="" width="310px"></div>
            <h2 style="font-size: 24px; line-height: 2em;">Giải pháp vòng sợi quang</h2><br>
            
            <div style="font-size: 18px; line-height: 2em;"> Việc duy trì đường truyền dữ liệu ổn định trên khoảng cách xa được xếp hạng cao trong số các ưu tiên. GoodWe đã đưa ra một giải pháp dựa trên sự tích hợp của một vòng sợi quang, trong đó quá trình truyền dữ liệu và tốc độ của nó vẫn không bị gián đoạn và đáng tin cậy ngay cả khi một nút giao tiếp bị hỏng. Tất cả những lợi ích này làm cho giải pháp này trở nên tối ưu cho các giải pháp Thương mại &amp; Công nghiệp.</div><br>
            <br>
            
            <h3 style="line-height: 2em; font-size: 21px; color: rgb(255, 0, 0);">Ưu điểm</h3>
            <div style="font-size: 18px; line-height: 2em;"> • Cung cấp cơ sở vững chắc nhất cho một giao tiếp đáng tin cậy<br>
                • Truyền dữ liệu khoảng cách xa<br>
                • Tiết kiệm </div><br>
            <br>
            
            <h3 style="line-height: 2em; font-size: 21px; color: rgb(255, 0, 0);">Thành phần giải pháp</h3><br>
            <br>
            
            <div style="font-size: 18px; line-height: 2em;"> Việc tích hợp giải pháp vòng chỉ có thể thực hiện được với các bộ biến tần có RS485 hoặc Truyền thông đường dây điện (PLC). Giải pháp này được thực hiện thông qua Hộp giao tiếp thông minh GoodWe 1000 (SCB1000) hoặc Hộp giao tiếp năng lượng mặt trời 2000 (SCB 2000).</div><br>
            
            <h3 style="line-height: 2em; font-size: 21px; color: rgb(255, 0, 0);">Thiết kế giải pháp</h3><br>
            <br>
            
            <div><img alt="" src="/images/gallary/1.6.png" title=""></div>
            <div><img alt="" src="/images/gallary/2.6.png" title=""></div><br>
            <br>
            <br>
            
            <div style="font-size: 18px; line-height: 2em;"> SCB1000 giao tiếp với biến tần thông qua RS485. Trong khi đó, SCB2000 thiết lập giao tiếp với biến tần thông qua PLC.</div><br>
            <br>
            <br>
            
            <div><img alt="" height="6px" src="/images/gallary/Image_402.png" title="" width="400px"></div>
            <h2 style="font-size: 24px; line-height: 2em;">Giải pháp giám sát đa kịch bản</h2><br>
            
            <div style="font-size: 18px; line-height: 2em;"> Có nhiều cách để giám sát hệ thống PV và hiển thị dữ liệu được tạo ra. Loại thông tin này giúp người dùng hiểu rõ hơn về hoạt động của các nhà máy năng lượng mặt trời của họ. Khả năng tương thích của bộ biến tần GoodWe với nhiều giao thức tiêu chuẩn như SUNSPEC, IEC 104 và Modbus RTU cũng như khả năng thích ứng của chúng với nền tảng điều khiển và giám sát của bên thứ ba như SCADA, là một trong nhiều lý do khiến chúng trở nên hoàn hảo cho một số lượng lớn trong các giải pháp Thương mại &amp; Công nghiệp khác nhau.</div><br>
            <br>
            
            <h3 style="line-height: 2em; font-size: 21px; color: rgb(255, 0, 0);">Ưu điểm</h3>
            <div style="font-size: 18px; line-height: 2em;"> • Truyền dữ liệu ổn định<br>
                • Tương thích với các thiết bị và nền tảng của bên thứ ba<br>
                • Tăng cường bảo mật dữ liệu </div><br>
            <br>
            
            <h3 style="line-height: 2em; font-size: 21px; color: rgb(255, 0, 0);">Thiết kế giải pháp</h3><br>
            
            <div><img alt="" src="/images/gallary/1.7.png" title=""></div><br>
            <br>
            
            <div><img alt="" height="6px" src="/images/gallary/Image_402.png" title="" width="320px"></div>
            <h2 style="font-size: 24px; line-height: 2em;">Giải pháp tắt máy từ xa</h2><br>
            
            <div style="font-size: 18px; line-height: 2em;"> Chức năng tắt máy từ xa là một biện pháp bảo vệ quan trọng chủ yếu nhằm đảm bảo tính toàn vẹn của hệ thống PV trong các tình huống khẩn cấp, chẳng hạn như nguy cơ hỏa hoạn. Trong các hệ thống PV Thương mại &amp; Công nghiệp, nó giúp người vận hành tăng cường và củng cố việc kiểm soát hệ thống và duy trì sự an toàn toàn diện trong các môi trường và điều kiện đầy thách thức. GoodWe hân hạnh giới thiệu Giải pháp tắt máy từ xa.</div><br>
            <br>
            
            <h3 style="line-height: 2em; font-size: 21px; color: rgb(255, 0, 0);">Ưu điểm chính</h3>
            <div style="font-size: 18px; line-height: 2em;"> • Dễ dàng cài đặt<br>
                • Phạm vi 1km<br>
                • Phản hồi nhanh (≤500ms) </div><br>
            <br>
            
            <h3 style="line-height: 2em; font-size: 21px; color: rgb(255, 0, 0);">Thiết kế giải pháp</h3>
            <div><img alt="" src="/images/gallary/1.8.png" title=""></div><br>
            <br>
            
            <div><img alt="" height="6px" src="/images/gallary/Image_402.png" title="" width="385px"></div>
            <h2 style="font-size: 24px; line-height: 2em;">Giải pháp máy phát điện năng lượng mặt trời + diesel</h2><br>
            
            <div style="font-size: 18px; line-height: 2em;"> GoodWe hân hạnh giới thiệu Giải pháp Máy phát điện Năng lượng mặt trời + Diesel. Khi xảy ra sự cố lưới điện, một máy phát điện diesel có thể được sử dụng như một nguồn năng lượng thay thế, cung cấp nguồn điện còn thiếu từ lưới điện công cộng và cho phép các hệ thống PV nối lưới tiếp tục cung cấp năng lượng cho các tải của hệ thống. Việc bổ sung một máy phát điện chạy dầu diesel mang lại lợi ích bổ sung là sử dụng tối đa năng lượng mặt trời, đồng thời giúp giảm chi phí điện một cách hiệu quả. Đây là một giải pháp tối ưu cho những nơi có đặc điểm lưới điện hoạt động không đáng tin cậy.</div><br>
            <br>
            
            <h3 style="line-height: 2em; font-size: 21px; color: rgb(255, 0, 0);">Ưu điểm</h3>
            <div style="font-size: 18px; line-height: 2em;"> • Tự động chuyển đổi<br>
                • Khôi phục nhanh<br>
                • Hoạt động trơn tru</div><br>
            <br>
            
            <h3 style="line-height: 2em; font-size: 21px; color: rgb(255, 0, 0);">Tích hợp bộ điều khiển DEIF</h3>
            <div style="font-size: 18px; line-height: 2em;"> Đối với loại tình huống này, biến tần C&amp;I của Dòng MT GoodWe có thể được cấu hình để phối hợp với Giải pháp Bộ điều khiển nguồn Thông minh DEIF để tự động bật / tắt máy phát điện diesel tùy theo hoàn cảnh từng địa phương và yêu cầu của người dùng.</div><br>
            
            <h3 style="line-height: 2em; font-size: 21px; color: rgb(255, 0, 0);">Các yếu tố giải pháp</h3>
            <div><img alt="" src="/images/gallary/1.9.png" title=""></div><br>
            <br>
            
            <h3 style="line-height: 2em; font-size: 21px; color: rgb(255, 0, 0);">Giải pháp tích hợp Năng lượng mặt trời + DG</h3><br>
            <br>
            
            <div><img alt="" src="/images/gallary/2.7.png" title=""></div><br>
            
            <div style="font-size: 18px; line-height: 2em;"> Vui lòng liên hệ với GoodWe nếu có bất kỳ câu hỏi nào liên quan đến khả năng tương thích của cách sắp xếp này với các dòng biến tần GoodWe khác. Đối với các câu hỏi cụ thể liên quan đến tích hợp bộ điều khiển trong trường hợp này, vui lòng liên hệ trực tiếp với nhà sản xuất DEIF.</div>
            <div><br>
                <br>
                <img alt="" height="6px" src="/images/gallary/Image_402.png" title="" width="325px"></div>
            <h2 style="line-height: 2em; font-size: 24px;">Giải pháp giới hạn công suất đầu ra</h2><br>
            
            <div style="font-size: 18px; line-height: 2em;"> Chức năng Giới hạn Công suất đầu ra là một công cụ quan trọng của các hệ thống PV hiện đại và mục đích của nó là giúp người dùng tăng cường và tối ưu hóa khả năng tự tiêu thụ, giúp họ cũng như tuân thủ các quy định về lưới điện địa phương. GoodWe đã cung cấp Giải pháp Giới hạn Công suất đầu ra cho khách hàng của mình, phù hợp cho các dự án Thương mại &amp; Công nghiệp có công suất tối đa là 4,8MW.</div><br>
            <br>
            
            <h3 style="line-height: 2em; font-size: 21px; color: rgb(255, 0, 0);">Ưu điểm chính</h3>
            <div style="font-size: 18px; line-height: 2em;"> • Cài đặt thuận tiện<br>
                • Cấu hình dễ dàng<br>
                • Giới hạn công suất đầu ra có thể tùy chỉnh đến không hoặc giá trị được chỉ định</div><br>
            <br>
            
            <h3 style="line-height: 2em; font-size: 21px; color: rgb(255, 0, 0);">Các yếu tố giải pháp</h3>
            <h4 style="line-height: 2em;">SEC1000</h4>
            <div style="line-height: 2em;"> Giải pháp này yêu cầu sử dụng Bộ điều khiển năng lượng thông minh GoodWe 1000 (SEC1000). Thiết bị này thực hiện thu thập và phân tích dữ liệu thời gian thực. Ngoài ra, nó cũng giúp đạt được sự phân bổ tối ưu các nguồn lực của hệ thống PV.</div><br>
            
            <div><img alt="" src="/images/gallary/1.10.png" title=""></div><br>
            <br>
            
            <h3 style="line-height: 2em; font-size: 21px; color: rgb(255, 0, 0);">Lợi ích cộng thêm</h3>
            <div style="line-height: 2em;"> Giải pháp này hỗ trợ hoạt động trơn tru của các chức năng bổ sung như giám sát mức tiêu thụ tải. Dữ liệu do hệ thống tạo ra có thể truy cập miễn phí tại Cổng Hệ thống Quản lý Năng lượng Thông minh GoodWe (SEMS).</div><br>
            <br>
            
            <h3 style="line-height: 2em; font-size: 21px; color: rgb(255, 0, 0);">Thiết kế giải pháp</h3><br>
            
            <div><img alt="" src="/images/gallary/2.10.png" title=""></div><br>
            <br>
            
            <div style="line-height: 2em;"> Một thiết bị SEC1000 duy nhất có thể thực hiện chức năng giới hạn công suất đầu ra của tối đa 60 biến tần. Phạm vi truyền thông tối đa lên đến 1000 mét.</div><br>
            <br>
            <br>
            <br>
            <p></p>
            
            
            
                </div>
            </div>
        </section>

        <section id="Spec-Download">
            <p class="sdt_modular_download u-text-1"><a href="" download="GW_Residential Solutions_Brochure-VI.pdf"> Tải Xuong</a> </p>
        </section>

		<!--subscribe start-->
		<section id="subs" class="subscribe">
			<div class="container">
				<div class="subscribe-title text-center">
					<h2>
						Join our Subscribers List to Get Regular Update
					</h2>
					<p>
						Subscribe Now. We will send you Best offer for your Trip 
					</p>
				</div>
				<form>
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
							<div class="custom-input-group">
								<input type="email" class="form-control" placeholder="Enter your Email Here">
								<button class="appsLand-btn subscribe-btn">Subscribe</button>
								<div class="clearfix"></div>
								<i class="fa fa-envelope"></i>
							</div>

						</div>
					</div>
				</form>
			</div>

		</section>
		<!--subscribe end-->
		
		<!-- footer-copyright start -->
		<footer  class="footer-copyright">
			<div class="container">
				<div class="footer-content">
					<div class="row">

						<div class="col-sm-3">
							<div class="single-footer-item">
								<div class="footer-logo">
									<a href="index.html">
										tour<span>Nest</span>
									</a>
									<p>
										best travel agency
									</p>
								</div>
							</div><!--/.single-footer-item-->
						</div><!--/.col-->

						<div class="col-sm-3">
							<div class="single-footer-item">
								<h2>link</h2>
								<div class="single-footer-txt">
									<p><a href="#">home</a></p>
									<p><a href="#">destination</a></p>
									<p><a href="#">spacial packages</a></p>
									<p><a href="#">special offers</a></p>
									<p><a href="#">blog</a></p>
									<p><a href="#">contacts</a></p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->

						</div><!--/.col-->

						<div class="col-sm-3">
							<div class="single-footer-item">
								<h2>popular destination</h2>
								<div class="single-footer-txt">
									<p><a href="#">china</a></p>
									<p><a href="#">venezuela</a></p>
									<p><a href="#">brazil</a></p>
									<p><a href="#">australia</a></p>
									<p><a href="#">london</a></p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->
						</div><!--/.col-->

						<div class="col-sm-3">
							<div class="single-footer-item text-center">
								<h2 class="text-left">contacts</h2>
								<div class="single-footer-txt text-left">
									<p>+1 (300) 1234 6543</p>
									<p class="foot-email"><a href="#">info@tnest.com</a></p>
									<p>North Warnner Park 336/A</p>
									<p>Newyork, USA</p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->
						</div><!--/.col-->

					</div><!--/.row-->

				</div><!--/.footer-content-->
				<hr>
				<div class="foot-icons ">
					<ul class="footer-social-links list-inline list-unstyled">
		                <li><a href="#" target="_blank" class="foot-icon-bg-1"><i class="fa fa-facebook"></i></a></li>
		                <li><a href="#" target="_blank" class="foot-icon-bg-2"><i class="fa fa-twitter"></i></a></li>
		                <li><a href="#" target="_blank" class="foot-icon-bg-3"><i class="fa fa-instagram"></i></a></li>
		        	</ul>
		        	<p>&copy; 2017 <a href="https://www.themesine.com">ThemeSINE</a>. All Right Reserved</p>

		        </div><!--/.foot-icons-->
				<div id="scroll-Top">
					<i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div><!--/.scroll-Top-->
			</div><!-- /.container-->

		</footer><!-- /.footer-copyright-->
		<!-- footer-copyright end -->

        <% include ../shared/user/scripts.ejs %>


	</body>

</html>