<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../shared/user/styles.ejs %>
	<link href="/css/contact.css" rel="stylesheet" type="text/css" />
</head>

<body>
		<div class="fixed-navi">
		<% include ../shared/user/navigation.ejs %>
			</div>
		<!-- contact -->
		<div class="contact">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3924.4369242779158!2d107.10496631442!3d10.386829969104877!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317571d9e5c50a57%3A0x64808fc00a1cb47c!2zMjEyIE5ndXnhu4VuIEjhu691IEPhuqNuaCwgUGjGsOG7nW5nIFRo4buRbmcgTmjhuqV0LCBUaMOgbmggcGjhu5EgVsWpbmcgVOG6p3UsIELDoCBS4buLYSAtIFbFqW5nIFTDoHUsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1626871168988!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
					</div>
					<div class="col-md-5">
						<p style="font-size: 1.3em">Nếu bạn quan tâm đến sản phẩm hoặc bất kì thắc mắc nào, vui lòng chọn liên hệ dưới đây chúng tôi sẽ giải
							đáp cho bạn.
						</p>
						<br>
						<div>
							<form action='#' class="form">
								<div class='field'>
									<input placeholder='Tên của bạn'>
									<label>Tên của bạn</label>
								</div>
								<div class='field'>
									<input placeholder='Email' type='email'>
									<label>Email</label>
								</div>
								<div class='field'>
									<input placeholder='Tin nhắn hỏi đáp..' type='text'>
									<label>Tin nhắn hỏi đáp..</label>
								</div>
								<div class='field form-actions'>
									<button type='submit'>Xác nhận</button>
								</div>
							</form>
						</div>
						<div>
							<div class="map-grid">
								<ul>
									<br>
									<li>
										<p>
											<i class="fa fa-arrow-right" aria-hidden="true"></i>
											Địa chỉ: 212-B18 Nguyễn Hữu Cảnh, Phường Thắng Nhất, Thành phố Vũng Tàu.
										</p>

									</li>
									<br>
									<li>
										<div class="single-footer-txt">
											<p>
												<i class="fa fa-arrow-right" aria-hidden="true"></i>
												Đường dây nóng: &nbsp;&nbsp; <a href="tel:+84971120413"> 0971120413</a>
											</p>
										</div>
									</li>
									<li>
										<div class="single-footer-txt">
											<p>
												<i class="fa fa-arrow-right" aria-hidden="true"></i>
												Hoặc gửi mail về: <a href="mailto:HDTSolar@gmail.com">HDTSolar@gmail.com</a>
											</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!-- /Section -->

		<!-- FOOTER -->
		<% include ../shared/user/footer.ejs %>
</body>

</html>