<!doctype html>
<html class="no-js"  lang="en">

	<head>
        <% include ../shared/user/styles.ejs %>
    </head>

	<body>
		<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
			your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<!-- main-menu Start -->
		<header class="top-area">
			<div class="header-area">
				<div class="container">
					<div class="row">
						<div class="col-sm-2">
							<div class="logo">
								<a href="index.html">
									tour<span>Nest</span>
								</a>
							</div><!-- /.logo-->
						</div><!-- /.col-->
						<div class="col-sm-10">
							<div class="main-menu">
							
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
										<i class="fa fa-bars"></i>
									</button><!-- / button-->
								</div><!-- /.navbar-header-->
								<div class="collapse navbar-collapse">		  
									<ul class="nav navbar-nav navbar-right">
										<li class="smooth-menu"><a href="#home">Về Chúng Tôi</a></li>
										<li class="smooth-menu"><a href="#gallery">Sản Phẩm</a></li>
										<li class="dropdown dropdown-custom"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Giải Pháp<span class="caret"></span></a>
											<ul class="dropdown-menu">
											  <li><a href="/dan-dung">Dân Dụng</a></li>
											  <li><a href="/luu-tru-nang-luong">Lưu Trữ Năng Lượng</a></li>
											  <li><a href="/thuong-mai">Thương Mại</a></li>
											  <li><a href="/gioi-han-cong-suat">Giới Hạn Công Suất</a></li>
											</ul>
										</li>
										<li class="dropdown dropdown-custom"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Hỗ Trợ<span class="caret"></span></a>
											<ul class="dropdown-menu">
											  <li><a href="/bao-hanh">Bảo Hành</a></li>
											</ul>
										</li>
										<li class="smooth-menu"><a href="#blog">Liên Hệ</a></li>
										<li>
											<button class="book-btn">book now
											</button>
										</li><!--/.project-btn--> 
									</ul>
								</div><!-- /.navbar-collapse -->
							</div><!-- /.main-menu-->
						</div><!-- /.col-->
					</div><!-- /.row -->
					<div class="home-border"></div><!-- /.home-border-->
				</div><!-- /.container-->
			</div><!-- /.header-area -->

		</header><!-- /.top-area-->
		<!-- main-menu End -->

		<section id="Banner">
            <div class="news_modular_1">
                <img class="u-image-1" src="/images/gallary/Energy-Storage-Solutions-banner.jpg"></div>
        </section>

        <section id="General-Information-Add-H1s-etc-Manually">
            <div class="warranty_modular_2">
                <div class="center" style="color: #fff;font-size: 18px;line-height: 24px;">
            
            
            
                           <p class="u-text-1"><br>
            <br>
            
            </p><h1 style="text-align: center; line-height: 2em; font-size: 36px;">Giải pháp lưu trữ năng lượng</h1><br>
            <br>
            
            <div><img alt="" height="6px" src="/images/gallary/Image_402.png" title="" width="220px"></div>
            <h2 style="font-size: 24px;">1. Giải pháp kết hợp</h2><br>
            <br>
            
            <table style="width: 100%;">
                <tbody>
                    <tr>
                        <td align="left" style="word-break: break-all;" width="50%"><img alt="" src="/images/gallary/2.1.png" style="float: left;" title="">
                            <div style="line-height: 2em;"> Tích hợp chức năng dự phòng &amp; hòa lưới</div></td>
                        <td align="left" style="word-break: break-all;" width="50%"><img alt="" src="/images/gallary/2.1.png" style="float: left;" title="">
                            <div style="line-height: 2em;"> Đặc biệt được thiết kế cho các hệ thống mới lắp đặt</div></td>
                    </tr>
                </tbody>
            </table><br>
            
            <h3 style="font-size: 21px; line-height: 2em; color: rgb(255, 0, 0);">1.1 Ứng dụng điển hình</h3><br>
            
            <div style="line-height: 2em;"><span style="font-weight: 700; color: rgb(255, 0, 0);">• </span> Nâng cao khả năng tự tiêu thụ: Trong ngày, điện từ mảng PV được sử dụng để tối ưu hóa khả năng tự tiêu thụ. Nguồn điện dư thừa sẽ được dùng để sạc pin, nguồn cung cấp năng lượng cho các tải vào ban đêm. Bằng cách tận dụng lưu trữ, mức tự tiêu thụ có thể đạt tới 95%.<br>
                <span style="color: rgb(255, 0, 0); font-weight: 700;">• </span> Lợi ích từ việc cạo cao điểm: Bằng cách cài đặt thời gian sạc và xả, pin có thể được sạc bằng cách sử dụng điện được tạo ra ở mức thấp điểm và xả để đáp ứng các tải trong giờ cao điểm (nếu quy định của lưới điện cho phép).<br>
                <span style="color: rgb(255, 0, 0); font-weight: 700;">• </span> Cung cấp dự phòng cho các tải quan trọng: Được kết nối với phần dự phòng của biến tần, các phụ tải như tủ lạnh, bộ định tuyến, đèn, máy tính và các thiết bị quan trọng khác có thể được cấp điện khi lưới điện gặp sự cố. Hệ thống có thể tự động chuyển sang chế độ dự phòng trong vòng 10 mili giây.</div><br>
            
            <h4 style="font-weight: bold;">Hệ thống dây và vận hành</h4><br>
            
            <div style="line-height: 2em;"> Bộ biến tần lai ghép là cốt lõi của hệ thống lưu trữ năng lượng và chúng được tích hợp các yếu tố sau vào một sản phẩm: Bộ bắt điểm công suất cực đại MPP, bộ biến tần nguồn, chức năng sạc và xả pin, giao tiếp BMS, chức năng chuyển đổi &amp; sao lưu. Danh mục sản phẩm biến tần lai ghép của GoodWe là sự lựa chọn hoàn hảo cho đa số các nhu cầu dân dụng và thương mại nhỏ.</div><br>
            <br>
            
            <div><img alt="" src="/images/gallary/1.1.png" title=""></div><br>
            
            <h4 style="font-weight: bold;">Chế độ hoạt động</h4><br>
            
            <div style="line-height: 2em;"> Có ba chế độ cơ bản mà người dùng cuối có thể chọn từ Ứng dụng PV Master.<br>
                <span style="font-weight: 700; color: rgb(255, 0, 0);">• </span> Chế độ Chung: Vào ban ngày, năng lượng do hệ thống PV tạo ra được sử dụng theo thứ tự sau: Đầu tiên, cấp cho các tải trong nhà; thứ hai, sạc pin và thứ ba, xuất lượng điện dư ra lưới điện. Vào ban đêm, pin cung cấp năng lượng cho các tải. Nếu nguồn điện từ pin không đủ, hệ thống được thiết kế để tự động chuyển sang dùng lưới điện để giữ cho các tải luôn được cấp điện.<br>
                <span style="color: rgb(255, 0, 0); font-weight: 700;">• </span> Chế độ dự phòng: Trong chế độ này, pin chỉ được sử dụng làm nguồn cung cấp năng lượng dự phòng khi lưới điện bị sự cố và miễn là điện lưới hoạt động, pin sẽ không được sử dụng để cung cấp năng lượng cho tải. pin sẽ được sạc bằng nguồn điện do hệ thống PV tạo ra hoặc từ lưới điện.<br>
                <span style="color: rgb(255, 0, 0); font-weight: 700;">• </span> Chế độ Kinh tế: Khách hàng có thể đặt thời gian sạc và xả pin theo biểu giá cao điểm và thấp điểm của lưới điện và thói quen tiêu thụ điện của hộ gia đình.</div><br>
            
            <h3 style="font-size: 21px; line-height: 2em; color: rgb(255, 0, 0);">1.2 Hệ thống tất cả trong một (Dòng ESA)</h3><br>
            
            <div><img alt="" src="/images/gallary/3.1.png" title=""></div><br>
            <br>
            
            <div style="line-height: 2em;"> GoodWe hân hạnh giới thiệu Dòng sản phẩm ESA, một hệ thống lai ghép "Tất cả trong một" được thiết kế để đơn giản hóa quá trình cài đặt đến mức tối đa. Nó bao gồm các yếu tố sau: một biến tần lai ghép, một bộ pin và một hệ thống dây nối sẵn nằm bên trong một tủ có thiết kế hiện đại; nó cũng bao gồm các thiết bị kết nối và một khe cắm cáp đặt trước. Hệ thống này được ước tính có thể giảm đến 60% chi phí lắp đặt!</div><br>
            
            <h4 style="line-height: 2em; font-weight: bold;">Đặc trưng</h4>
            <div style="line-height: 2em;"><span style="color: rgb(255, 0, 0);">•</span> Thiết bị được cài đặt sẵn: Bộ chuyển mạch DC tích hợp, bộ ngắt AC (Hòa lưới/ Lưu trữ), bộ ngắt pin, bảng chuyển mạch, đầu nối đất và thiết bị truyền thông.<br>
                <span style="color: rgb(255, 0, 0);">•</span> Thiết kế nối sẵn dây: Đồng hồ thông minh, pin và bộ ngắt AC được đấu dây và kết nối sẵn tại nhà máy và tại thời điểm bộ sản phẩm đến tay người dùng cuối, nó đã sẵn sàng được triển khai và lắp đặt. <br>
                <span style="color: rgb(255, 0, 0);">•</span> Khe cắm cáp đặt trước: Là một phần của thiết kế hệ thống, có một khe cắm cáp, nơi có thể đặt các cáp PV và CT bên ngoài vào lưới điện hoặc các tải.<br>
                <span style="color: rgb(255, 0, 0);">•</span> Ngoài ra, hệ thống ESA còn được trang bị bộ chuyển mạch phụ tải AC, được sử dụng để chuyển nguồn cung cấp tải từ dự phòng sang lưới điện; công tắc rẽ nhánh cũng thực hiện bảo vệ tắt nhanh thông qua kết nối của một bộ ngắt bổ sung bên ngoài với một bảng công tắc.</div><br>
            
            <h3 style="color: rgb(255, 0, 0); font-size: 21px; line-height: 2em;">Danh mục biến tần lai ghép GoodWe</h3><br>
            
            <div><img alt="" src="/images/gallary/table1.jpg" title=""></div><br>
            <br>
            <br>
            
            <div><img alt="" height="6px" src="/images/gallary/Image_402.png" title="" width="345px"></div>
            <h2 style="font-size: 24px; font-weight: bold;">2. Giải pháp AC couple retrofit</h2><br>
            <br>
            
            <table style="line-height: 2em; width: 100%;">
                <tbody>
                    <tr>
                        <td align="left" style="word-break: break-all;" width="50%"><img alt="" src="/images/gallary/2.1.png" style="float: left;" title="">
                            <div> Tích hợp chức năng dự phòng &amp; hòa lưới</div></td>
                        <td align="left" style="word-break: break-all;" width="50%"><img alt="" src="/images/gallary/2.1.png" style="float: left;" title="">
                            <div> Chuyển đổi hệ thống hòa lưới thành hệ thống lai ghép</div></td>
                    </tr>
                </tbody>
            </table><br>
            
            <h3 style="color: rgb(255, 0, 0); font-size: 21px; font-weight: 700; line-height: 2em;">2.1 Ứng dụng điển hình</h3><br>
            
            <div style="line-height: 2em;"><span style="color: rgb(255, 0, 0);">• </span> Tăng cường khả năng tự tiêu thụ: Vào ban ngày, điện từ mảng PV được sử dụng để tự tiêu thụ. Phần điện dư được sử dụng để sạc pin, do đó có thể cung cấp năng lượng cho tải vào ban đêm. Việc sử dụng các công nghệ lưu trữ năng lượng có thể mang lại tỷ lệ tự tiêu thụ lên đến 95%.<br>
                <span style="color: rgb(255, 0, 0); font-weight: 700;">• </span> Cung cấp dự phòng cho các phụ tải tới hạn: Khi lưới điện gặp sự cố, chức năng dự phòng của bộ biến tần lai ghép có thể cấp điện cho các tải quan trọng như tủ lạnh, bộ định tuyến, đèn, máy tính và các thiết bị quan trọng khác. Hệ thống tự động chuyển sang chế độ dự phòng trong vòng 10 mili giây.</div><br>
            
            <h4 style="line-height: 2em; font-weight: bold;">Hệ thống dây và vận hành</h4><br>
            
            <div style="line-height: 2em;"> Các bộ biến tần trang bị thêm AC của GoodWe được hình thành bởi các yếu tố chính sau đây thành một khối thống nhất duy nhất: bộ biến tần nguồn, chức năng sạc &amp; xả pin, giao tiếp BMS và chức năng chuyển đổi &amp; sao lưu. Loại biến tần này được thiết kế để giúp dễ dàng chuyển đổi và nâng cấp các hệ thống nối lưới hiện có thành hệ thống hybrid. Nó phù hợp cho cả hệ thống một pha và ba pha, đồng thời nó cũng tương thích với các nguồn điện khác nhau bao gồm máy phát điện năng lượng mặt trời và gió của các thương hiệu khác nhau trong cả kịch bản dân dụng và thương mại.</div><br>
            <br>
            
            <div><img alt="" src="/images/gallary/4.png" title=""></div><br>
            <br>
            
            <h4 style="line-height: 2em; font-weight: bold;">Chế độ hoạt động</h4><br>
            
            <div style="line-height: 2em;"> Tương tự như hệ thống hybrid, cài đặt mặc định trong biến tần trang bị thêm AC kết hợp ưu tiên tạo ra PV để cung cấp năng lượng cho các tải, sau đó sạc pin và cuối cùng xuất bất kỳ nguồn điện dư thừa nào lên lưới. Ngoài ra còn có ba chế độ hoạt động cơ bản có sẵn trong Ứng dụng PV Master. Một điểm khác biệt chính đối với hệ thống hybrid mới được lắp đặt là PV sẽ không hoạt động vào ban ngày nếu bị cúp điện. Điều này là do bộ biến tần nối lưới ban đầu không hoạt động khi lưới điện bị sự cố và nó chỉ là pin cung cấp năng lượng cho các tải quan trọng trong thời gian cúp điện kéo dài.</div><br>
            <br>
            
            <h3 style="font-size: 21px; line-height: 2em; color: rgb(255, 0, 0);">Retrofit của GoodWe dành cho hộ gia đình</h3><br>
            
            <div><img alt="" src="/images/gallary/table2.png" title=""></div><br>
            <br>
            <br>
            <br>
            
            <div><img alt="" height="6px" src="/images/gallary/Image_402.png" title="" width="375px"></div>
            <h2 style="font-size: 24px;">3. Các tình huống hoạt động mở rộng</h2><br>
            
            <div style="line-height: 2em;"> Dựa trên các chức năng và khả năng chính của chúng, bộ biến tần lưu trữ năng lượng GoodWe có thể được hiển thị trên nhiều tình huống. Dưới đây là một số thường xuyên nhất.</div><br>
            <br>
            
            <h3 style="color: rgb(255, 0, 0); font-size: 21px; font-weight: 700; line-height: 2em;">3.1 Kịch bản song song (Chỉ dòng ET)</h3>
            <div style="line-height: 2em;"> Giải pháp song song ba pha biến tần ET mới được thiết kế đặc biệt để đáp ứng nhu cầu ngày càng tăng về hệ thống lưu trữ PV với dung lượng cao hơn, hoàn toàn phù hợp để lắp đặt như các hệ thống lưu trữ thương mại nhỏ. Loại giải pháp này liên quan đến việc tích hợp trên mặt AC của nhiều bộ biến tần lai (tối đa 10 đơn vị) thành một hệ thống thống nhất.</div><br>
            
            <h4 style="font-weight: 700; line-height: 2em;">Hệ thống dây và vận hành</h4>
            <div style="line-height: 2em;"> Nên sử dụng SEC1000 (Bộ điều khiển năng lượng thông minh của GoodWe) để đạt được kết nối thông suốt của tất cả các thiết bị khi làm việc theo kịch bản song song.</div><br>
            <br>
            
            <div><img alt="" src="/images/gallary/5.1.png" title=""></div><br>
            
            <h4 style="font-weight: 700; line-height: 2em;">Chế độ hoạt động</h4><br>
            
            <div style="line-height: 2em;"> Nó tuân theo cùng một nguyên tắc chính của kịch bản song song biến tần: khi có lưới điện, hệ thống PV, pin và tải chia sẻ năng lượng trong một hệ thống thống nhất. Ngược lại, khi sự cố mất điện xảy ra, hệ thống song song chia thành các khối độc lập trong đó PV và pin chỉ cung cấp nguồn điện dự phòng cho các tải tương ứng.</div><br>
            
            <h3 style="color: rgb(255, 0, 0); font-size: 21px; font-weight: 700; line-height: 2em;">3.2 Giải pháp hệ thống chia pha</h3>
            <div style="line-height: 2em;"> Hệ thống chia pha, khác với hầu hết các hệ thống tiêu chuẩn Châu Âu, có kịch bản ứng dụng hoàn toàn khác. Đối với lưới điện như vậy, GoodWe cung cấp giải pháp đồng hồ thông minh có hai CT để tích hợp cả tải 110V và 220V bên lưới (xem bên dưới).</div><br>
            <br>
            
            <div><img alt="" src="/images/gallary/6.1.png" title=""></div><br>
            <br>
            <br>
            
            <div style="line-height: 2em;"> Bộ lưu trữ năng lượng GoodWe dòng ES, EM và EH được áp dụng.</div><br>
            <br>
            
            <h3 style="font-size: 21px; color: rgb(255, 0, 0); line-height: 2em;">3.3 Biến tần một pha trong giải pháp công suất lớn ba pha</h3>
            <div style="line-height: 2em;"> Biến tần hybrid một pha GoodWe có thể hoạt động trên hệ thống lưới điện ba pha, nơi đồng hồ thông minh ba pha được kết hợp để giám sát mức tiêu thụ tải trên cả ba pha (net zero). Hệ thống có thể thực hiện các quyết định theo hướng dữ liệu để kiểm soát việc sạc hoặc xả pin. Giải pháp này có thể áp dụng trong các kết nối ba pha tại nhà, nơi không có yêu cầu không xuất trên cấp pha.</div><br>
            
            <div><img alt="" src="/images/gallary/7.png" title=""></div><br>
            
            <div style="line-height: 2em;"> Bộ lưu trữ năng lượng GoodWe dòng ES, EM và EH có thể được dùng.</div><br>
            
            <h3 style="font-size: 21px; line-height: 2em; color: rgb(255, 0, 0);">3.4 Giải pháp để đạt được công suất năng lượng mặt trời mở rộng</h3>
            <div style="line-height: 2em;"> Việc mở rộng công suất năng lượng mặt trời là một đặc điểm làm cho các hệ thống lưu trữ năng lượng mặt trời trở nên rất hấp dẫn vì chúng giúp giảm đầu tư cần thiết, đồng thời cho phép thích ứng với các mô hình tiêu thụ điện năng cao hơn trong cả hệ thống một pha và ba pha. Loại giải pháp này phù hợp với các dòng GoodWe ES, EM, EH và ET. Nó cũng có thể hoạt động với bất kỳ nhãn hiệu biến tần năng lượng mặt trời nào.</div><br>
            <br>
            
            <h4 style="line-height: 2em;">Hệ thống dây và vận hành</h4><br>
            
            <div><img alt="" src="/images/gallary/8.png" title=""></div><br>
            <br>
            
            <div style="line-height: 2em;"> Giải pháp này tích hợp cả chức năng hybrid và trang bị thêm vào một hệ thống duy nhất. Trong cả hệ thống hòa lưới cũng như lai ghép, năng lượng mặt trời được sử dụng để cung cấp điện cho cả tải dự phòng và sạc pin trước khi cấp điện vào lưới. Bằng cách áp dụng giải pháp như vậy, hệ thống cung cấp nguồn cung đáng tin cậy hơn cho các tải, đồng thời đảm bảo cung cấp đủ năng lượng xanh để sạc pin.</div><br>
            <br>
            <p></p>
            
            
            
                </div>
            </div>
        </section>

        <section id="Spec-Download">
            <p class="sdt_modular_download u-text-1"><a href="" download="GW_Residential Solutions_Brochure-VI.pdf"> Tải thông số kỹ thuật</a> </p>
        </section>

		<!--subscribe start-->
		<section id="subs" class="subscribe">
			<div class="container">
				<div class="subscribe-title text-center">
					<h2>
						Join our Subscribers List to Get Regular Update
					</h2>
					<p>
						Subscribe Now. We will send you Best offer for your Trip 
					</p>
				</div>
				<form>
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
							<div class="custom-input-group">
								<input type="email" class="form-control" placeholder="Enter your Email Here">
								<button class="appsLand-btn subscribe-btn">Subscribe</button>
								<div class="clearfix"></div>
								<i class="fa fa-envelope"></i>
							</div>

						</div>
					</div>
				</form>
			</div>

		</section>
		<!--subscribe end-->
		
		<!-- footer-copyright start -->
		<footer  class="footer-copyright">
			<div class="container">
				<div class="footer-content">
					<div class="row">

						<div class="col-sm-3">
							<div class="single-footer-item">
								<div class="footer-logo">
									<a href="index.html">
										tour<span>Nest</span>
									</a>
									<p>
										best travel agency
									</p>
								</div>
							</div><!--/.single-footer-item-->
						</div><!--/.col-->

						<div class="col-sm-3">
							<div class="single-footer-item">
								<h2>link</h2>
								<div class="single-footer-txt">
									<p><a href="#">home</a></p>
									<p><a href="#">destination</a></p>
									<p><a href="#">spacial packages</a></p>
									<p><a href="#">special offers</a></p>
									<p><a href="#">blog</a></p>
									<p><a href="#">contacts</a></p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->

						</div><!--/.col-->

						<div class="col-sm-3">
							<div class="single-footer-item">
								<h2>popular destination</h2>
								<div class="single-footer-txt">
									<p><a href="#">china</a></p>
									<p><a href="#">venezuela</a></p>
									<p><a href="#">brazil</a></p>
									<p><a href="#">australia</a></p>
									<p><a href="#">london</a></p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->
						</div><!--/.col-->

						<div class="col-sm-3">
							<div class="single-footer-item text-center">
								<h2 class="text-left">contacts</h2>
								<div class="single-footer-txt text-left">
									<p>+1 (300) 1234 6543</p>
									<p class="foot-email"><a href="#">info@tnest.com</a></p>
									<p>North Warnner Park 336/A</p>
									<p>Newyork, USA</p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->
						</div><!--/.col-->

					</div><!--/.row-->

				</div><!--/.footer-content-->
				<hr>
				<div class="foot-icons ">
					<ul class="footer-social-links list-inline list-unstyled">
		                <li><a href="#" target="_blank" class="foot-icon-bg-1"><i class="fa fa-facebook"></i></a></li>
		                <li><a href="#" target="_blank" class="foot-icon-bg-2"><i class="fa fa-twitter"></i></a></li>
		                <li><a href="#" target="_blank" class="foot-icon-bg-3"><i class="fa fa-instagram"></i></a></li>
		        	</ul>
		        	<p>&copy; 2017 <a href="https://www.themesine.com">ThemeSINE</a>. All Right Reserved</p>

		        </div><!--/.foot-icons-->
				<div id="scroll-Top">
					<i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div><!--/.scroll-Top-->
			</div><!-- /.container-->

		</footer><!-- /.footer-copyright-->
		<!-- footer-copyright end -->




		<% include ../shared/user/scripts.ejs %>

	</body>

</html>