<!doctype html>
<html class="no-js"  lang="en">

	<head>
        <% include ../shared/user/styles.ejs %>
    </head>

	<body>
		<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
			your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<!-- main-menu Start -->
		<header class="top-area">
			<div class="header-area">
				<div class="container">
					<div class="row">
						<div class="col-sm-2">
							<div class="logo">
								<a href="index.html">
									tour<span>Nest</span>
								</a>
							</div><!-- /.logo-->
						</div><!-- /.col-->
						<div class="col-sm-10">
							<div class="main-menu">
							
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
										<i class="fa fa-bars"></i>
									</button><!-- / button-->
								</div><!-- /.navbar-header-->
								<div class="collapse navbar-collapse">		  
									<ul class="nav navbar-nav navbar-right">
										<li class="smooth-menu"><a href="#home">Về Chúng Tôi</a></li>
										<li class="smooth-menu"><a href="#gallery">Sản Phẩm</a></li>
										<li class="dropdown dropdown-custom"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Giải Pháp<span class="caret"></span></a>
											<ul class="dropdown-menu">
											  <li><a href="/dan-dung">Dân Dụng</a></li>
											  <li><a href="/luu-tru-nang-luong">Lưu Trữ Năng Lượng</a></li>
											  <li><a href="/thuong-mai">Thương Mại</a></li>
											  <li><a href="/gioi-han-cong-suat">Giới Hạn Công Suất</a></li>
											</ul>
										</li>
										<li class="dropdown dropdown-custom"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Hỗ Trợ<span class="caret"></span></a>
											<ul class="dropdown-menu">
											  <li><a href="/bao-hanh">Bảo Hành</a></li>
											</ul>
										</li>
										<li class="smooth-menu"><a href="#blog">Liên Hệ</a></li>
										<li>
											<button class="book-btn">book now
											</button>
										</li><!--/.project-btn--> 
									</ul>
								</div><!-- /.navbar-collapse -->
							</div><!-- /.main-menu-->
						</div><!-- /.col-->
					</div><!-- /.row -->
					<div class="home-border"></div><!-- /.home-border-->
				</div><!-- /.container-->
			</div><!-- /.header-area -->

		</header><!-- /.top-area-->
		<!-- main-menu End -->

		

		<section id="Banner-with-SEARCH">
            <div class="news_modular_1">
                <img class="u-image-1" src="/images/gallary/warrant-banner.jpg"><a href="" target="_blank">
				<img src="/images/gallary/goodwe-limited-warrantysearch.png" class="warranty_search u-image-10"></a>
            </div>
        </section>

		<section id="warranty-modular-2">
			<div class="warranty_modular_2">
				<div class="center">
				<div class="warranty_list">
						<div class="warranty_text">
							<div class="warranty_redpoint"></div>
							<h3 class="warranty_headline u-text-1">GIỚI THIỆU</h3><hr style="background: rgb(125, 125, 125);border: 0;height: 1px;margin:10px 0;">
						</div>
						<div class="warranty_content" style="display: block;">
							<p class="u-text-2">Công ty TNHH JIANGSU GOODWE POWER SUPPLY TECHNOLOGY (sau đây gọi tắt là GOODWE) đảm bảo rằng, tùy thuộc vào các loại trừ và hạn chế nêu dưới đây, sản phẩm mà GOODWE cung cấp sẽ hoạt động tốt trong thời gian<br>
			<br>
			1) 5 năm * bảo hành của nhà sản xuất đối với các sản phẩm biến tần bao gồm các dòng NS, SS, XS, DNS, DS, DSS, DT, SDT, LVDT, MS, SMT, LVSMT, MT, LVMT, HF, ES, ESA, EM, ET, EH , EHR, BH, BP, BT, SBP.<br>
			<br>
			2) 2 năm bảo hành của nhà sản xuất đối với phụ kiện bao gồm Antenna, Bộ WIFI, EzConverter, EzMeterEzLogger, EzLogger Pro, Homekit, CT, các dòng SEC và SCB.<br>
			được tính từ một trong hai ngày sau đây (thời điểm nào đến trước thì sẽ được xem như ngày bắt đầu):<br>
			1) Ngày lắp đặt sản phẩm lần 1.<br>
			2) 6 tháng sau ngày sản xuất.</p><br><br>
						</div>
					</div><div class="warranty_list">
						<div class="warranty_text">
							<div class="warranty_redpoint"></div>
							<h3 class="warranty_headline u-text-3">LÀM THẾ NÀO ĐỂ YÊU CẦU BẢO HÀNH THEO QUY ĐỊNH BẢO HÀNH CÓ GIỚI HẠN CỦA GOODWE?</h3><hr style="background: rgb(125, 125, 125);border: 0;height: 1px;margin:10px 0;">
						</div>
						<div class="warranty_content">
							<p class="u-text-4">Nếu người dùng muốn yêu cầu bảo hành, vui lòng liên hệ với nhà phân phối tại địa phương nơi bạn mua sản phẩm hoặc đơn vị lắp đặt đã lắp biến tần cho bạn. Nếu bạn không nhận được dịch vụ từ họ hoặc bạn KHÔNG hài lòng với dịch vụ của họ, bạn có thể gửi yêu cầu cho chúng tôi bằng cách tạo phiếu yêu cầu dịch vụ thông qua https://support.goodwe.com/portal/home<br>
			<br>
			Xin lưu ý, để cung cấp một dịch vụ thân thiện và kịp thời, GOODWE đang hợp tác với rất nhiều nhà phân phối và các đơn vị lắp đặt của chúng tôi trên toàn thế giới. Vì vậy, hãy xem họ như là kênh dịch vụ mặc định của GOODWE và sử dụng các kênh dịch vụ này để yêu cầu bảo hành của bạn, GOODWE sẽ hỗ trợ và kiểm tra kênh dịch vụ của chúng tôi để đảm bảo chúng tôi cung cấp dịch vụ tốt cho khách hàng.<br>
			<br>
			Khi liên hệ với nhà phân phối địa phương, những thông tin sau có thể sẽ được sử dụng vì vậy hãy giúp chúng tôi chuẩn bị trước.<br>
			<br>
			1. Thông tin liên lạc của người yêu cầu bồi thường, bao gồm tên người, tên công ty, số điện thoại, địa chỉ email và địa chỉ giao hàng.<br>
			2. Tất cả thông tin về (các) sản phẩm bị lỗi, bao gồm (các) mô-đun sản phẩm, (các) số sê-ri, ngày lắp đặt và ngày hỏng hóc.<br>
			3. Thông tin lắp đặt, bao gồm nhãn hiệu, kiểu máy và số lượng tấm PV; nếu sản phẩm bị lỗi là một hệ thống lưu trữ năng lượng, thì nhãn hiệu và model của pin cũng cần thiết.<br>
			4. Thông báo lỗi trên màn hình LCD (nếu có) và thông tin bổ sung liên quan đến lỗi.<br>
			5. Mô tả các hoạt động được thực hiện trước khi xảy ra lỗi và thông tin chi tiết về các yêu cầu trước đó (nếu có)<br>
			GOODWE có thể sắp xếp một cuộc kiểm tra tại chỗ để tìm ra nguồn gốc của các lỗi này. Bên yêu cầu bảo hành có trách nhiệm cấp quyền truy cập, thời gian và sự an toàn cho việc kiểm tra của kỹ thuật viên từ GOODWE hoặc bên thứ ba được ủy quyền. GOODWE có quyền không kiểm tra tận nơi nếu kỹ thuật viên của GOODWE cho rằng làm như vậy là không an toàn.</p><br><br>
						</div>
					</div><div class="warranty_list">
						<div class="warranty_text">
							<div class="warranty_redpoint"></div>
							<h3 class="warranty_headline u-text-5">KHẮC PHỤC</h3><hr style="background: rgb(125, 125, 125);border: 0;height: 1px;margin:10px 0;">
						</div>
						<div class="warranty_content">
							<p class="u-text-6">Nếu nhận được khiếu nại trong thời hạn bảo hành và sản phẩm được phát hiện là đã không được bảo hành, GOODWE sẽ có toàn quyền lựa chọn<br>
			<br>
			1. Khắc phục sự cố bằng cách thay đổi cấu hình hoặc cập nhật phần mềm.<br>
			2. Sửa chữa sản phẩm bằng cách thay thế bằng phụ tùng thay thế.<br>
			3. Đổi sản phẩm với một sản phẩm mới hoặc đã được tân trang lại, có chức năng tương đương hoặc hơn sản phẩm gốc, hoặc model nâng cấp có chức năng tương đương hoặc có chức năng nâng cấp so với sản phẩm gốc. Nếu thiết bị được thay thế trong thời hạn bảo hành, thời gian bảo hành còn lại sẽ tự động được chuyển cho sản phẩm thay thế. Nếu thời hạn bảo hành còn lại ít hơn một năm sau khi thay thế, thì thời hạn bản hành này sẽ được gia hạn thành đủ một năm.<br>
			4. Nếu được chứng minh rằng sự cố xảy ra do lỗi cài đặt, GOODWE sẽ hướng dẫn người dùng liên hệ với đơn vị lắp đặt sản phẩm đầu tiên, trong trường hợp này, đơn vị lắp đặt sẽ chịu trách nhiệm cung cấp giải pháp khắc phục sự cố trước khi Goodwe can thiệp.<br>
			<br>
			Tất cả các bộ phận của sản phẩm hoặc thiết bị khác mà GOODWE thay thế sẽ trở thành tài sản của GOODWE. Nếu sản phẩm được phát hiện không thuộc trong quy định Bảo hành có giới hạn này, GOODWE có quyền tính phí sửa chữa. Khi sửa chữa hoặc thay thế sản phẩm, GOODWE có thể sử dụng các sản phẩm mới, tương đương với hàng mới hoặc hàng tân trang.</p><br><br>
						</div>
					</div><div class="warranty_list">
						<div class="warranty_text">
							<div class="warranty_redpoint"></div>
							<h3 class="warranty_headline u-text-7">PHẠM VI BẢO HÀNH</h3><hr style="background: rgb(125, 125, 125);border: 0;height: 1px;margin:10px 0;">
						</div>
						<div class="warranty_content">
							<p style="margin-top:8px;margin-bottom:8px" class="u-text-8">Trừ khi có một số thỏa thuận đặc biệt/ duy nhất giữa GOODWE và khách hàng, chế độ bảo hành tiêu chuẩn của GOODWE chỉ bao gồm chi phí lao động và vật liệu để thiết bị hoạt động lại bình thường. Tại Úc, Liên minh Châu Âu, Ấn Độ, Thổ Nhĩ Kỳ và Vương quốc Anh, không bao gồm các đảo và các vùng lãnh thổ nước ngoài của họ, chi phí vận chuyển, bao gồm cả lô hàng, thuế, hải quan và thuế của các mặt hàng thay thế đều được bảo hành có giới hạn của GOODWE. Tất cả các chi phí khác bao gồm nhưng không giới hạn ở việc bồi thường thiệt hại trực tiếp hoặc gián tiếp phát sinh từ thiết bị lỗi hoặc các cơ sở khác của hệ thống PV hoặc tổn thất lượng điện phát ra trong thời gian sản phẩm ngừng hoạt động KHÔNG nằm trong phạm vi được bảo hành có giới hạn của GOODWE.</p><br><br>
						</div>
					</div><div class="warranty_list">
						<div class="warranty_text">
							<div class="warranty_redpoint"></div>
							<h3 class="warranty_headline u-text-9">CÁC TRƯỜNG HỢP NGOÀI BẢO HÀNH</h3><hr style="background: rgb(125, 125, 125);border: 0;height: 1px;margin:10px 0;">
						</div>
						<div class="warranty_content">
							<p style="margin-top:8px;margin-bottom:8px" class="u-text-10">Các trường hợp khiến thiết bị bị lỗi sau sẽ KHÔNG nằm trong giới hạn bảo hành của GOODWE.<br>
			<br>
			1. Hao mòn thông thường (bao gồm nhưng không giới hạn, hao mòn của pin).<br>
			2. Lỗi xảy ra khi sản phẩm đã hết thời hạn bảo hành (không bao gồm các thỏa thuận bổ sung gia hạn bảo hành).<br>
			3. Lỗi hoặc hư hỏng do cài đặt hoặc vận hành, bảo trì sai không theo hướng dẫn của GOODWE do đơn vị cài đặt không được ủy quyền thực hiện.<br>
			4. Người/ công ty bên thứ 3 không được ủy quyền của GOODWE tháo gỡ, sửa chữa hoặc điều chỉnh. Sản phẩm bị sửa đổi, thay đổi thiết kế hoặc các bộ phận thay thế không được GOODWE chấp thuận.<br>
			5. Lỗi hoặc hư hỏng do các yếu tố không thể lường trước, yếu tố nhân tạo hoặc các trường hợp bất khả kháng bao gồm nhưng không giới hạn do bão, lũ lụt, quá áp, sâu bệnh, xử lý không phù hợp, sử dụng sai, bỏ bê, cháy, vô nước, sét hoặc các điều kiện khí hậu tự nhiên khác.<br>
			6. Phá hoại, va chạm, nhãn, đánh dấu không thể phục hồi hoặc nhiễm bẩn hoặc trộm cắp.<br>
			7. Sử dụng không tuân thủ các quy định an toàn (VDE, IEC, v.v.).<br>
			8. Lỗi hoặc hư hỏng do các nguyên nhân khác không liên quan đến chất lượng sản phẩm.<br>
			9. Vết rỉ xuất hiện trên vỏ của thiết bị do môi trường khắc nghiệt gây ra. Các lỗi hoặc hư hỏng do gần biển / nước mặn hoặc môi trường khắc nghiệt khác hoặc các điều kiện môi trường mà không có xác nhận / chấp thuận bằng văn bản của GOODWE trước khi lắp đặt.<br>
			10. Hỏng hóc và ảnh hưởng bên ngoài.</p><br><br>
						</div>
					</div><div class="warranty_list">
						<div class="warranty_text">
							<div class="warranty_redpoint"></div>
							<h3 class="warranty_headline u-text-11">TRƯỜNG HỢP KHÔNG ĐƯỢC BẢO HÀNH</h3><hr style="background: rgb(125, 125, 125);border: 0;height: 1px;margin:10px 0;">
						</div>
						<div class="warranty_content">
							<p class="u-text-12">Đối với các lỗi xảy ra sau khi hết thời hạn bảo hành hoặc trong thời hạn bảo hành nhưng thuộc các trường hợp ngoại lệ bảo hành nêu trên, GOODWE gọi nó là trường hợp không được bảo hành. Đối với tất cả các trường hợp ngoài bảo hành, GOODWE có thể tính phí dịch vụ tại chỗ, các linh kiện, chi phí nhân công và phí hậu cần cho khách hàng, có thể là một trong số/ tất cả các chi phí sau:<br>
			<br>
			1. Phí dịch vụ tận nơi: chi phí đi lại và thời gian để kỹ thuật viên cung cấp dịch vụ tại chỗ và chi phí nhân công cho kỹ thuật viên sửa chữa, bảo trì, cài đặt (phần cứng hoặc phần mềm) và gỡ lỗi sản phẩm.<br>
			2. Phí linh kiện/ vật liệu: chi phí của các linh kiện/ vật liệu thay thế (bao gồm bất kỳ phí vận chuyển/ quản trị nào có thể áp dụng).<br>
			3. Phí hậu cần: chi phí giao hàng và các chi phí phát sinh khác khi sản phẩm bị lỗi được gửi từ người dùng đến GOODWE hoặc/ và sản phẩm đã sửa chữa được gửi từ GOODWE đến người dùng.</p><br><br>
						</div>
					</div><div class="warranty_list">
						<div class="warranty_text">
							<div class="warranty_redpoint"></div>
							<h3 class="warranty_headline u-text-13">PHẠM VI ĐỊA LÝ</h3><hr style="background: rgb(125, 125, 125);border: 0;height: 1px;margin:10px 0;">
						</div>
						<div class="warranty_content">
							<p style="margin-top:8px;margin-bottom:8px" class="u-text-14">Điều khoản và điều kiện bảo hành có giới hạn của GOODWE chỉ áp dụng cho các thiết bị được mua ban đầu từ các kênh được ủy quyền của GOODWE và được lắp đặt tại điểm đến xác định trong thị trường quốc tế trừ khi có các điều khoản và điều kiện bảo hành được quy định đặc biệt giữa GOODWE và người mua trực tiếp. Đối với các thiết bị được bán cho một quốc gia/ khu vực nhưng được lắp đặt ở quốc gia/ khu vực khác, bảo hành sẽ không có giá trị nếu không có xác nhận/ chấp thuận bằng văn bản của GOODWE trước khi lắp đặt.</p><br>
						</div>
					</div><div class="warranty_list">
						<div class="warranty_text">
							<div class="warranty_redpoint"></div>
							<h3 class="warranty_headline u-text-15">GIỚI HẠN TRÁCH NHIỆM PHÁP LÝ CỦA GOODWE</h3><hr style="background: rgb(125, 125, 125);border: 0;height: 1px;margin:10px 0;">
						</div>
						<div class="warranty_content">
							<p style="margin-top:10px;margin-bottom:10px" class="u-text-16">Bảo hành có giới hạn này là biện pháp khắc phục duy nhất và độc quyền của người dùng với GOODWE và trách nhiệm duy nhất và độc quyền của GOODWE đối với các lỗi của sản phẩm. Bảo hành có giới hạn này thay thế tất cả các bảo hành và trách nhiệm pháp lý khác của GOODWE, dù bằng miệng, bằng văn bản, (không bắt buộc) theo luật định, hợp đồng, bằng văn bản hoặc bằng cách khác, bao gồm nhưng không giới hạn và được luật hiện hành cho phép, bất kỳ điều kiện, bảo đảm hoặc điều khoản ngụ ý nào đến chất lượng thỏa mãn hoặc phù hợp với mục đích Tuy nhiên, Bảo hành có giới hạn này sẽ không loại trừ hoặc hạn chế bất kỳ quyền hợp pháp (theo luật định) nào của khách hàng theo luật quốc gia hiện hành. Trong phạm vi cho phép của (các) luật hiện hành, GOODWE không chịu bất kỳ trách nhiệm pháp lý nào đối với bất kỳ mất mát hoặc hư hỏng hoặc hỏng hóc dữ liệu nào, đối với bất kỳ tổn thất nào về lợi nhuận, mất việc sử dụng sản phẩm hoặc chức năng, kinh doanh thua lỗ, mất hợp đồng, mất doanh thu hoặc mất khoản tiết kiệm dự kiến, tăng chi phí hoặc cho bất kỳ mất mát hoặc thiệt hại gián tiếp nào, mất mát hoặc hư hỏng do hậu quả hoặc mất mát hoặc thiệt hại đặc biệt, hoặc mất mát hoặc thiệt hại mang tính trừng phạt. Trong phạm vi luật hiện hành cho phép, trách nhiệm của GOODWE sẽ được giới hạn trong giá trị mua của sản phẩm. Các giới hạn trên sẽ không áp dụng trong trường hợp GOODWE sơ suất hoặc cố ý có hành vi sai trái hoặc trong trường hợp gây tử vong hoặc thương tích cá nhân do sơ suất đã được chứng minh của GOODWE.<br>
			<br>
			* bảo hành của nhà sản xuất là một lời hứa bảo hành cơ bản từ GOODWE cho người dùng. Ở một số quốc gia/ quận, người dùng cuối có thể nhận được một số bảo hành bổ sung (không ít hơn bảo hành của nhà sản xuất) do nhà phân phối địa phương của GOODWE cung cấp, vui lòng kiểm tra hoặc yêu cầu nhà phân phối địa phương nếu có. Xin lưu ý rằng tuyên bố bảo hành có giới hạn của GOODWE này có thể KHÔNG phải là phiên bản mới nhất, vui lòng tham khảo phiên bản mới nhất của bảo hành có giới hạn của GOODWE bằng cách truy cập trang web toàn cầu của chúng tôi qua https://en.goodwe.com/warranty.asp</p><br><br>
						</div>
					</div>
			
				<script>
					$(function(){                         
						var init = 0 
						$('.warranty_content').eq(init).show()
						$('.warranty_list').on('click',function(){
							var current = $('.warranty_list').index(this)
							if(current == init){
								$('.warranty_content').eq(current).toggle(500) 
								init = current                
							}     
						})
					})
				</script><script>
					$(function(){                         
						var init = 1 
						
						$('.warranty_list').on('click',function(){
							var current = $('.warranty_list').index(this)
							if(current == init){
								$('.warranty_content').eq(current).toggle(500) 
								init = current                
							}     
						})
					})
				</script><script>
					$(function(){                         
						var init = 2 
						
						$('.warranty_list').on('click',function(){
							var current = $('.warranty_list').index(this)
							if(current == init){
								$('.warranty_content').eq(current).toggle(500) 
								init = current                
							}     
						})
					})
				</script><script>
					$(function(){                         
						var init = 3 
						
						$('.warranty_list').on('click',function(){
							var current = $('.warranty_list').index(this)
							if(current == init){
								$('.warranty_content').eq(current).toggle(500) 
								init = current                
							}     
						})
					})
				</script><script>
					$(function(){                         
						var init = 4 
						
						$('.warranty_list').on('click',function(){
							var current = $('.warranty_list').index(this)
							if(current == init){
								$('.warranty_content').eq(current).toggle(500) 
								init = current                
							}     
						})
					})
				</script><script>
					$(function(){                         
						var init = 5 
					  
						$('.warranty_list').on('click',function(){
							var current = $('.warranty_list').index(this)
							if(current == init){
								$('.warranty_content').eq(current).toggle(500) 
								init = current                
							}     
						})
					})
				</script><script>
					$(function(){                         
						var init = 6 
						
						$('.warranty_list').on('click',function(){
							var current = $('.warranty_list').index(this)
							if(current == init){
								$('.warranty_content').eq(current).toggle(500) 
								init = current                
							}     
						})
					})
				</script><script>
					$(function(){                         
						var init = 7 
						
						$('.warranty_list').on('click',function(){
							var current = $('.warranty_list').index(this)
							if(current == init){
								$('.warranty_content').eq(current).toggle(500) 
								init = current                
							}     
						})
					})
				</script>
					<!-- <div class="warranty_change">
			
						<div class="warranty_change_list on">WARRANTY EXPIRATION</div>
						<div class="warranty_change_list">STANDARD WARRANTY</div><div class="warranty_change_list">EXTENDED WARRANTY</div><div class="warranty_change_list">SPARE PARTS AVAILABILITY WARRANTY</div><div class="warranty_change_list">WARRANTY CONDITIONS</div><div class="warranty_change_list">WARRANTY EXCEPTION</div><div class="warranty_change_list">SERVICE AFTER WARRANTY EXPIRATION</div><div class="warranty_change_list">GEOGRAPHICAL SCOPE</div><div class="warranty_change_list">FURTHER LEGAL INSTRUCTIONS</div>
					</div>
					<div class="warranty_change_show">
						<div class="warranty_show_list">
							FURTHER LEGAL INSTRUCTIONS			</div><div class="warranty_show_list">
							FURTHER LEGAL INSTRUCTIONS			</div><div class="warranty_show_list">
							FURTHER LEGAL INSTRUCTIONS			</div><div class="warranty_show_list">
							FURTHER LEGAL INSTRUCTIONS			</div><div class="warranty_show_list">
							FURTHER LEGAL INSTRUCTIONS			</div><div class="warranty_show_list">
							FURTHER LEGAL INSTRUCTIONS			</div><div class="warranty_show_list">
							FURTHER LEGAL INSTRUCTIONS			</div><div class="warranty_show_list">
							FURTHER LEGAL INSTRUCTIONS			</div>		</div> -->
					<!-- <script type="text/javascript">
						var d_city=document.querySelectorAll(".warranty_change .warranty_change_list");
						var d_add=document.querySelectorAll(".warranty_change_show .warranty_show_list");
						d_city[0].className="warranty_change_list on"
						d_add[0].className="warranty_show_list show"
						for (var i=0;i<d_city.length;i++) {
							(function(i){
								d_city[i].onclick=function(){
								for(var j=0;j<d_add.length;j++){
									d_city[j].className="warranty_change_list",
									d_add[j].className="warranty_show_list";
								}
									this.className="warranty_change_list on",
									d_add[i].className="warranty_show_list show";
								}
							})(i)
						}
					</script> -->
					
					<sectionec id="Download">
					<p class="u-text-1"><a class="warranty_change_list" style="color:#fff;font-size:20px;" href="/Public/Home/GOODWE Limited Warranty-VI.pdf" download="GOODWE Limited Warranty-VI.pdf">Bảo hành toàn cầu</a></p>
					<!--<a class="warranty_change_list" style="color:#fff;font-size:20px;" href="/Public/Home/GOODWE WARRANTY for AUSTRALIA.PDF" download="GOODWE WARRANTY for AUSTRALIA.pdf">Australia Warranty</a>-->
			
			
			</sectionec>
			
			<sectionec id="Contact-Form">
			
					<div class="form_title" style="clear: both;" id="goodwecontactform">
						<h2 class="u-text-205">Thông tin liên hệ</h2>
			</div>
			<div class="GoodWeContactFormGraciasMessage"></div>
			<script>
															//<![CDATA[
															function Validate_Consulta() 
																{ 
																errfound = false; 
							if (!ValidLength(document.ConsultaForm.CLI_NOM.value,1))
														error(document.ConsultaForm.CLI_NOM,"Bạn đã quên viết tên của mình");
							if (!ValidLength(document.ConsultaForm.CLI_PAI.value,1))
														error(document.ConsultaForm.CLI_PAI,"Bạn đã quên viết đất nước của bạn");
							if (!ValidLength(document.ConsultaForm.CLI_EMAIL.value,1)) 
														{
														document.ConsultaForm.CLI_EMAIL.value='';
														error(document.ConsultaForm.CLI_EMAIL,"Bạn đã quên viết địa chỉ email của mình ..."); 
														}	
													if (!ValidEmail(document.ConsultaForm.CLI_EMAIL.value)) 
														error(document.ConsultaForm.CLI_EMAIL,"電子メールの形式が正しくありません"); 
							if (!ValidLength(document.ConsultaForm.CLI_TEL.value,1)) 
														error(document.ConsultaForm.CLI_TEL,"Định dạng của email của bạn là không chính xác");  
			
							if (!ValidLength(document.ConsultaForm.comentarios.value,1)) 
														error(document.ConsultaForm.comentarios,"Bạn đã quên viết bình luận của bạn"); 
							if (!ValidLength(document.ConsultaForm.codigo.value,1))
														error(document.ConsultaForm.codigo,"Bạn đã quên nhập Mã xác minh"); 
													if (document.ConsultaForm.codigo.value!="4575")
														error(document.ConsultaForm.codigo,"Bạn chưa nhập mã xác minh chính xác");
			
			
							if (document.ConsultaForm.privacidad.checked == false)
														error(document.ConsultaForm.privacidad,"Bạn chưa chấp nhận Chính sách bảo mật của chúng tôi...");										
			
																return !errfound; /* true if there are no errors */ 
																}
															//]]>
														</script>
			<form onsubmit="return Validate_Consulta();" method="post" name="ConsultaForm" action="" class="u-clearfix u-form-custom-backend u-form-spacing-15 u-form-vertical u-inner-form u-inner-form-1" redirect="true">
			
			<input type="hidden" name="a" value="consulta">
			<input type="hidden" name="tipo" value="contacto">
			<input type="hidden" name="cf" value="/xxxxx.asp">
			<input type="hidden" name="cfanchor" value="goodwecontactform">
			<input type="hidden" name="cid" value="">
			<input type="hidden" name="vercode" value="08">
			<input type="hidden" name="artimg" value="">
			<input type="hidden" name="CLI_TIPO" value="1">
			<input type="hidden" name="CLI_DES" value="CLI_NOM,CLI_EMAIL,CLI_TEL,comentarios,privacidad,CLI_PAI">
			
			
			
						<div class="nre">
							<div class="nre_list">
								<p class="u-text-605">
			<input class="value" name="CLI_NOM" placeholder="Tên của bạn *" type="text"> </p>
							</div>
							<div class="nre_list">
								<p class="u-text-665">
			<input class="value" name="CLI_PAI" placeholder="Quốc gia của bạn *" type="text"> </p>
							</div>
							<div class="nre_list">
								<p class="u-text-606">
			<input class="value" name="CLI_EMAIL" placeholder="Email của bạn *" type="text"> </p>
							</div>
						</div>
						<div class="nre_list_tel">
							<p class="u-text-607">
			<input class="value" name="CLI_TEL" placeholder="Số điện thoại của bạn *" type="text"> </p>
						</div>
						<div class="nre_list_text">
							<p class="u-text-608">
			<textarea name="comentarios" id="" cols="120" rows="5" class="text" placeholder="Bình luận của bạn *"></textarea></p>
						</div><br>
			<p class="u-text-688" style="color:white;text-decoration:none;">Nhập Mã xác nhận: * 
			<input size="7" value="" name="codigo" style="margin:0 10px;padding:3px;text-align:center;color:black;"><img class="u-image-99" title="Mã xác minh" alt="Mã xác minh" src="/web/images/08.bmp" style="margin:0 0 -10px 10px;"> </p>
			
			<br>
			<input type="checkbox" id="agree-1579" name="privacidad" value="1" class="u-agree-checkbox">
																<label for="agree-1579" class="u-agree-label u-label" style="color:white;text-decoration:none;">Tôi chấp nhận các <a href="/chinh-sach-bảo-mật.asp" style="color:red" target="_blank">Chính sách bảo mật</a> của GOODWE</label>
			
			<br>
						<p class="u-text-609">
			<input class="submit" name="Submit" type="submit" value="GỬI TIN NHẮN"> </p>
			</form>
				</sectionec></div>
			</div>
		</section>
		
		<!--subscribe start-->
		<section id="subs" class="subscribe">
			<div class="container">
				<div class="subscribe-title text-center">
					<h2>
						Join our Subscribers List to Get Regular Update
					</h2>
					<p>
						Subscribe Now. We will send you Best offer for your Trip 
					</p>
				</div>
				<form>
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
							<div class="custom-input-group">
								<input type="email" class="form-control" placeholder="Enter your Email Here">
								<button class="appsLand-btn subscribe-btn">Subscribe</button>
								<div class="clearfix"></div>
								<i class="fa fa-envelope"></i>
							</div>

						</div>
					</div>
				</form>
			</div>

		</section>
		<!--subscribe end-->
		
		<!-- footer-copyright start -->
		<footer  class="footer-copyright">
			<div class="container">
				<div class="footer-content">
					<div class="row">

						<div class="col-sm-3">
							<div class="single-footer-item">
								<div class="footer-logo">
									<a href="index.html">
										tour<span>Nest</span>
									</a>
									<p>
										best travel agency
									</p>
								</div>
							</div><!--/.single-footer-item-->
						</div><!--/.col-->

						<div class="col-sm-3">
							<div class="single-footer-item">
								<h2>link</h2>
								<div class="single-footer-txt">
									<p><a href="#">home</a></p>
									<p><a href="#">destination</a></p>
									<p><a href="#">spacial packages</a></p>
									<p><a href="#">special offers</a></p>
									<p><a href="#">blog</a></p>
									<p><a href="#">contacts</a></p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->

						</div><!--/.col-->

						<div class="col-sm-3">
							<div class="single-footer-item">
								<h2>popular destination</h2>
								<div class="single-footer-txt">
									<p><a href="#">china</a></p>
									<p><a href="#">venezuela</a></p>
									<p><a href="#">brazil</a></p>
									<p><a href="#">australia</a></p>
									<p><a href="#">london</a></p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->
						</div><!--/.col-->

						<div class="col-sm-3">
							<div class="single-footer-item text-center">
								<h2 class="text-left">contacts</h2>
								<div class="single-footer-txt text-left">
									<p>+1 (300) 1234 6543</p>
									<p class="foot-email"><a href="#">info@tnest.com</a></p>
									<p>North Warnner Park 336/A</p>
									<p>Newyork, USA</p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->
						</div><!--/.col-->

					</div><!--/.row-->

				</div><!--/.footer-content-->
				<hr>
				<div class="foot-icons ">
					<ul class="footer-social-links list-inline list-unstyled">
		                <li><a href="#" target="_blank" class="foot-icon-bg-1"><i class="fa fa-facebook"></i></a></li>
		                <li><a href="#" target="_blank" class="foot-icon-bg-2"><i class="fa fa-twitter"></i></a></li>
		                <li><a href="#" target="_blank" class="foot-icon-bg-3"><i class="fa fa-instagram"></i></a></li>
		        	</ul>
		        	<p>&copy; 2017 <a href="https://www.themesine.com">ThemeSINE</a>. All Right Reserved</p>

		        </div><!--/.foot-icons-->
				<div id="scroll-Top">
					<i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div><!--/.scroll-Top-->
			</div><!-- /.container-->

		</footer><!-- /.footer-copyright-->
		<!-- footer-copyright end -->




		
		<% include ../shared/user/scripts.ejs %>


	</body>

</html>