<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html class="no-js"  lang="en">

	<head>
    <% include ../shared/user/styles.ejs %>
	</head>

	<body>
		<% include ../shared/user/navigation.ejs %>
	
		<section class="news">
			<div class="container">
				 <div class="row row-custom mt-10">
						<div class="col-sm-4 p-5">
							 <a href="#">
									<div class="news-item">
										 <img src="/images/news/img_new_01.jpg" alt="">
										 <div class="news-desc">
												<h2 class="news-title">6kW Burkina Faso, Africa</h2>
												<p class="news-detail">
													 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
													 standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a 
													 type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
													 It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop 
													 publishing software like Aldus PageMaker including versions of Lorem Ipsum.
												</p>
							 <a href="#">
							 <div class="btn-viewDetail">
							 <span>View Details</span>
							 </div>
							 </a>
							 </div>
							 </div>
							 </a>
						</div>
						<div class="col-sm-4 p-5">
							 <a href="#">
									<div class="news-item">
										 <img src="/images/news/img_new_02.jpg" alt="">
										 <div class="news-desc">
												<h2 class="news-title">6kW Burkina Faso, Africa</h2>
												<p class="news-detail">
													 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
													 standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a 
													 type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
													 It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop 
													 publishing software like Aldus PageMaker including versions of Lorem Ipsum.
												</p>
							 <a href="#">
							 <div class="btn-viewDetail">
							 <span>View Details</span>
							 </div>
							 </a>
							 </div>
							 </div>
							 </a>
						</div>
						<div class="col-sm-4 p-5">
							 <a href="#">
									<div class="news-item">
										 <img src="/images/news/img_new_03.jpg" alt="">
										 <div class="news-desc">
												<h2 class="news-title">6kW Burkina Faso, Africa</h2>
												<p class="news-detail">
													 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
													 standard dummy text ever since the 1500s
												</p>
							 <a href="#">
							 <div class="btn-viewDetail">
							 <span>View Details</span>
							 </div>
							 </a>
							 </div>
							 </div>
							 </a>
						</div>
				 </div>
				 <div class="row row-custom mt-10">
						<div class="col-sm-4 p-5">
							 <a href="#">
									<div class="news-item">
										 <img src="/images/news/img_new_04.jpg" alt="">
										 <div class="news-desc">
												<h2 class="news-title">6kW Burkina Faso, Africa</h2>
												<p class="news-detail">
													 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
													 standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a 
													 type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
													 It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop 
													 publishing software like Aldus PageMaker including versions of Lorem Ipsum.
												</p>
							 <a href="#">
							 <div class="btn-viewDetail">
							 <span>View Details</span>
							 </div>
							 </a>
							 </div>
							 </div>
							 </a>
						</div>
				 </div>
			</div>
	 </section>
		<% include ../shared/user/footer.ejs %>
		<% include ../shared/user/scripts.ejs %>
	</body>
</html>