<!doctype html>
<html class="no-js"  lang="en">

	<head>
        <% include ../shared/user/styles.ejs %>
    </head>

	<body>
		<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
			your browser</a> to improve your experience and security.</p>
		<![endif]-->

		<!-- main-menu Start -->
		<header class="top-area">
			<div class="header-area">
				<div class="container">
					<div class="row">
						<div class="col-sm-2">
							<div class="logo">
								<a href="index.html">
									tour<span>Nest</span>
								</a>
							</div><!-- /.logo-->
						</div><!-- /.col-->
						<div class="col-sm-10">
							<div class="main-menu">
							
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
										<i class="fa fa-bars"></i>
									</button><!-- / button-->
								</div><!-- /.navbar-header-->
								<div class="collapse navbar-collapse">		  
									<ul class="nav navbar-nav navbar-right">
										<li class="smooth-menu"><a href="#home">Về Chúng Tôi</a></li>
										<li class="smooth-menu"><a href="#gallery">Sản Phẩm</a></li>
										<li class="dropdown dropdown-custom"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Giải Pháp<span class="caret"></span></a>
											<ul class="dropdown-menu">
											  <li><a href="/dan-dung">Dân Dụng</a></li>
											  <li><a href="/luu-tru-nang-luong">Lưu Trữ Năng Lượng</a></li>
											  <li><a href="/thuong-mai">Thương Mại</a></li>
											  <li><a href="/gioi-han-cong-suat">Giới Hạn Công Suất</a></li>
											</ul>
										</li>
										<li class="dropdown dropdown-custom"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Hỗ Trợ<span class="caret"></span></a>
											<ul class="dropdown-menu">
											  <li><a href="/bao-hanh">Bảo Hành</a></li>
											</ul>
										</li>
										<li class="smooth-menu"><a href="#blog">Liên Hệ</a></li>
										<li>
											<button class="book-btn">book now
											</button>
										</li><!--/.project-btn--> 
									</ul>
								</div><!-- /.navbar-collapse -->
							</div><!-- /.main-menu-->
						</div><!-- /.col-->
					</div><!-- /.row -->
					<div class="home-border"></div><!-- /.home-border-->
				</div><!-- /.container-->
			</div><!-- /.header-area -->

		</header><!-- /.top-area-->
		<!-- main-menu End -->

		<section id="Banner">
            <div class="news_modular_1">
                <img class="u-image-1" src="/images/gallary/Power-Limit-Solutions-banner.jpg"></div>
        </section>

        <section id="General-Information-Add-H1s-etc-Manually">
            <div class="warranty_modular_2">
                <div class="center" style="color: #fff;font-size: 18px;line-height: 24px;">
            
            
            
                           <p class="u-text-1"><br>
            <br>
            
            </p><h1 style="text-align: center; line-height: 2em; font-size: 36px;">Giải pháp giới hạn công suất</h1><br>
            <br>
            <img alt="" height="6" src="/images/gallary/Image_402.png" title="" width="300">
            <h2 style="font-size: 24px; line-height: 2em;">GIẢI PHÁP GIỚI HẠN CÔNG<br>
                SUẤT CHO BIẾN TẦN HÒA LƯỚI</h2><br>
            <br>
            <img alt="" src="/images/gallary/10.png" title=""><br>
            <br>
            
            <h3 style="font-size: 21px; line-height: 2em;">Giới hạn công suất đầu ra</h3><br>
            <br>
            
            <table style="border-collapse: collapse; border-spacing: 0px; width: 100%;">
                <tbody>
                    <tr>
                        <td style="overflow-wrap: break-word !important; word-break: break-all; width: 30%;" valign="top"><img alt="" src="/images/gallary/11.jpg" title=""></td>
                        <td align="left" style="overflow-wrap: break-word !important; word-break: break-all; width: 70%;" valign="middle"><span style="color: rgb(255, 0, 0);">●</span> Giới hạn công suất đầu ra biến tần, áp dụng cho trường hợp DC oversizing và không kết nối tải<br>
                            <br>
                            <span style="color: rgb(255, 0, 0);">●</span> Tỷ lệ phần trăm giới hạn là của Công suất đầu ra tối đa của biến tần<br>
                            <br>
                            <span style="color: rgb(255, 0, 0);">●</span> Phần trăm giới hạn phải được cài đặt trên màn hình của biến tần<br>
                            <br>
                            <span style="color: rgb(255, 0, 0);">●</span> Không cần thiết bị bổ sung</td>
                    </tr>
                </tbody>
            </table><br>
            <img alt="" src="/images/gallary/12.png" title=""><br>
            <br>
            
            <h3 style="font-size: 21px; line-height: 2em;">Giới hạn công suất đầu ra<span style="color: rgb(255, 0, 0);"> HỆ THỐNG MỘT PHA</span></h3><br>
            <br>
            
            <table style="border-collapse: collapse; border-spacing: 0px; width: 100%;">
                <tbody>
                    <tr>
                        <td style="overflow-wrap: break-word !important; word-break: break-all; width: 30%;" valign="top"><img alt="" src="/images/gallary/14.png" title=""></td>
                        <td align="left" style="overflow-wrap: break-word !important; word-break: break-all; width: 70%;" valign="middle"><span style="color: rgb(255, 0, 0);">●</span> Có thể áp dụng cho hệ thống một pha có tải được kết nối <br>
                            <br>
                            <span style="color: rgb(255, 0, 0);">●</span> Tỷ lệ phần trăm giới hạn là của phần điện năng được xuất vào lưới<br>
                            <br>
                            <span style="color: rgb(255, 0, 0);">●</span> Phần trăm giới hạn phải được cài đặt trên màn hình của biến tần<br>
                            <br>
                            <span style="color: rgb(255, 0, 0);">●</span> Cần một thiết bị bổ sung để thực hiện chức năng này</td>
                    </tr>
                </tbody>
            </table><img alt="" src="/images/gallary/15.png" title=""><br>
            
            <h3 style="font-size: 21px; line-height: 2em;">Giới hạn công suất đầu ra<span style="color: rgb(255, 0, 0);"> HỆ THỐNG BA PHA - Điện vào lưới bằng 0</span></h3><img alt="" src="/images/gallary/17.png" title=""><br>
            
            <div style="line-height: 2em;"><span style="color: rgb(255, 0, 0);">●</span> Áp dụng cho hệ thống ba pha có điện vào lưới bằng 0 và kết nối tải<br>
                <span style="color: rgb(255, 0, 0);">●</span> Trên hệ thống biến tần đơn, tỷ lệ phần trăm giới hạn xuất được cài đặt trên màn hình biến tần<br>
                <span style="color: rgb(255, 0, 0);">●</span> Cần một thiết bị bổ sung để thực hiện chức năng này<br>
                <span style="color: rgb(255, 0, 0);">●</span> Trên hệ thống nhiều biến tần, tỷ lệ phần trăm giới hạn xuất được cài đặt trên phần mềm có tên Promate</div><br>
            <br>
            
            <h3 style="font-size: 21px; line-height: 2em;">Giới hạn công suất đầu ra<span style="color: rgb(255, 0, 0);"> HỆ THỐNG BA PHA – Điện vào lưới giới hạn</span></h3><br>
            <br>
            <img alt="" src="/images/gallary/17.png" title=""><br>
            
            <div style="line-height: 2em;"><span style="color: rgb(255, 0, 0);">●</span> Cho phép đưa lượng điện giới hạn vào lưới điện trên hệ thống ba pha có tải được kết nối<br>
                <span style="color: rgb(255, 0, 0);">●</span> Trên hệ thống biến tần đơn, tỷ lệ phần trăm giới hạn xuất được cài đặt trên màn hình biến tần<br>
                <span style="color: rgb(255, 0, 0);">●</span> Cần một thiết bị bổ sung để thực hiện chức năng này<br>
                <span style="color: rgb(255, 0, 0);">●</span> Trên hệ thống nhiều biến tần, tỷ lệ phần trăm giới hạn xuất được cài đặt trên phần mềm có tên Promate</div><br>
            <br>
            
            <h3 style="font-size: 21px; line-height: 2em;">Giới hạn công suất đầu ra<span style="color: rgb(255, 0, 0);"> HỆ THỐNG BA PHA – Điện vào lưới trên mỗi pha bằng 0</span></h3><br>
            <br>
            <img alt="" src="/images/gallary/20.png" title=""><br>
            
            <div style="line-height: 2em;"><span style="color: rgb(255, 0, 0);">●</span> Áp dụng cho điện ba pha vào lưới bằng 0 trên mỗi hệ thống pha với tải được kết nối<br>
                <span style="color: rgb(255, 0, 0);">●</span> Trên hệ thống biến tần ba pha đơn, tỷ lệ phần trăm giới hạn xuất được cài đặt trên màn hình biến tần<br>
                <span style="color: rgb(255, 0, 0);">●</span> Cần một thiết bị bổ sung và chương trình đặc biệt để thực hiện chức năng này<br>
                <span style="color: rgb(255, 0, 0);">●</span> Trên hệ thống nhiều biến tần, tỷ lệ phần trăm giới hạn xuất được cài đặt trên phần mềm có tên Promate</div><br>
            <br>
            <br>
            <br>
            <img alt="" height="6" src="/images/gallary/Image_402.png" title="" width="500">
            <h2 style="font-size: 24px; line-height: 2em;">CÁCH ĐỂ ĐẠT ĐƯỢC CHỨC NĂNG GIỚI HẠN CÔNG<br>
                SUẤT ĐẦU RA CHO TỪNG TRƯỜNG HỢP KHÁC NHAU</h2><br>
            
            <h3 style="font-size: 21px; line-height: 2em;">Cách phân biệt Biến tần có ARC (Chống dòng điện ngược) hoặc không có Chức năng ARC</h3><br>
            <br>
            <img alt="" class="u-image-66" src="/images/gallary/19.png"><br>
            <br>
            
            <h4 style="font-size: 20px; line-height: 2em; color: rgb(255, 0, 0);">Các kiểu kết hợp chức năng cho nhà máy này</h4>
            <div style="line-height: 2em;"><span style="color: rgb(255, 0, 0);">1</span> ARC + DRED / Tắt máy từ xa<br>
                <span style="color: rgb(255, 0, 0);">2</span> Chỉ tắt máy từ xa<br>
                <span style="color: rgb(255, 0, 0);">3</span> Không kết hợp<br>
                <span style="color: rgb(255, 0, 0);">4</span> Trên các biến tần một pha, chức năng ARC không tương thích với chức năng CCA của Tigo. Trên biến tần ba pha, các chức năng này có thể được áp dụng đồng thời.</div><br>
            <br>
            
            <h3 style="font-size: 21px; line-height: 2em;">Biến tần NS / DNS đơn kết hợp Giải pháp ARC</h3><br>
            <br>
            <img alt="" src="/images/gallary/20.png" title=""><br>
            <br>
            
            <div style="line-height: 2em;"><span style="color: rgb(255, 0, 0);">●</span> Đối với CT90, dòng điện qua các tải không được vượt quá 90A. Thiết bị này chỉ có ở GoodWe.<br>
                <span style="color: rgb(255, 0, 0);">●</span> Tùy chọn tiêu chuẩn CT90-5 bao gồm 5 mét cáp CT. CT90-30 với 30 mét cáp CT là tùy chọn.<br>
                </div><br>
            <br>
            
            <h3 style="font-size: 21px; line-height: 2em;">Biến tần NS / DNS đơn không kết hợp giải pháp ARC</h3><br>
            <br>
            <img alt="" src="/images/gallary/22.png" title=""><br>
            <br>
            
            <div style="line-height: 2em;"><span style="color: rgb(255, 0, 0);">●</span> GM1000 là cần thiết và chỉ có ở GoodWe. Dòng điện qua các tải phải nhỏ hơn 120A.<br>
                <span style="color: rgb(255, 0, 0);">●</span> Đầu nối GM1000 RJ45 có thể được tháo ra và thay thế bằng cáp RS485 (RS485 A đến 2 cổng của GM1000, RS485 B đến 1 cổng của GM1000). Sau khi đã kết nối GM1000, việc giám sát của RS485 sẽ không thể thực hiện được. WiFi hoặc LAN có sẵn.<br>
                </div><br>
            <br>
            
            <h3 style="font-size: 21px; line-height: 2em;">Biến tần XS / MS đơn kết hợp giải pháp ARC</h3><br>
            <br>
            <img alt="" src="/images/gallary/23.png" title=""><br>
            <br>
            
            <div style="line-height: 2em;"><span style="color: rgb(255, 0, 0);">●</span> CT90 là cần thiết và chỉ có ở GoodWe. Dòng điện qua các tải phải nhỏ hơn 90A.<br>
                <span style="color: rgb(255, 0, 0);">●</span> CT90-5 với 5 mét cáp CT là tiêu chuẩn, CT90-30 với 30 mét cáp CT là tùy chọn. Biến tần XS / MS không có chức năng ARC không thể đạt được chức năng giới hạn công suất đầu ra.<br>
                </div><br>
            <br>
            
            <h3 style="font-size: 21px; line-height: 2em;">Một SDT G1 / SDT G2 / DT kết hợp Giải pháp Biến tần ARCor SMT / MT</h3><br>
            <br>
            <img alt="" src="/images/gallary/24.png" title=""><br>
            <br>
            
            <div style="line-height: 2em;"><span style="color: rgb(255, 0, 0);">●</span> GM3000 là cần thiết và chỉ có ở GoodWe. Dòng điện qua các tải phải nhỏ hơn 120A trên mỗi pha.<br>
                <span style="color: rgb(255, 0, 0);">●</span> Đầu nối GM3000 RJ45 có thể được tháo ra và thay thế bằng cáp RS485 (RS485 A đến 2 cổng của GM3000, RS485 B đến 1 cổng của GM3000).<br>
                <span style="color: rgb(255, 0, 0);">●</span> SDT G2 không có chức năng ARC không thể đạt được chức năng giới hạn công suất đầu ra.<br>
                <span style="color: rgb(255, 0, 0);">●</span> Vì dòng điện đầu ra của GW80K-MT &amp; GW80KLBF-MT cao hơn 120A, giải pháp cho hai mẫu này nên là SEC1000.<br>
                </div><br>
            <img alt="" src="/images/gallary/25.png" title=""><br>
            <br>
            <br>
            
            <div style="line-height: 2em;"><span style="color: rgb(255, 0, 0);">●</span> Đường kính CT của CT90 / GM1000 / GM3000 là 16mm<br>
                <span style="color: rgb(255, 0, 0);">●</span> Thời gian phản ứng của CT90 / GM1000 / GM3000 dưới 100 mili giây<br>
                <span style="color: rgb(255, 0, 0);">●</span> Dòng điện tối đa cho CT90 là 90A. Dòng điện tối đa cho GM1000 và GM3000 là 120A trên mỗi pha. Nếu tổng dòng điện các tải hoặc dòng ngắt chính cao hơn 90A hoặc 120A, bạn phải chọn SEC1000 thay vì CT90 / GM1000 / GM3000.<br>
                </div><br>
            <br>
            
            <h3 style="font-size: 21px; line-height: 2em;">Biến tần SDT G1 / DT đơn không kết hợp giải pháp ARC</h3><br>
            <img alt="" src="/images/gallary/26.png" title=""><br>
            <br>
            
            <div style="line-height: 2em;"><span style="color: rgb(255, 0, 0);">●</span> SEC1000 là cần thiết và chỉ có ở GoodWe. Tỷ lệ CT phải là 250 / 5A trên mỗi pha.<br>
                <span style="color: rgb(255, 0, 0);">●</span> Có thể mua CT từ GoodWe hoặc các bên thứ ba khác.<br>
                </div><br>
            <br>
            
            <h3 style="font-size: 21px; line-height: 2em;">Giải pháp tình huống nhiều biến tần SDT G1 / SDT G2 / DT / SMT / MT</h3><br>
            <img alt="" src="/images/gallary/27.png" title=""><br>
            <br>
            
            <table style="border-collapse: collapse; border-spacing: 0px; width: 100%;">
                <tbody>
                    <tr>
                        <td style="overflow-wrap: break-word !important; word-break: break-all; width: 30%;" valign="top"><img alt="" src="/images/gallary/28.png" title=""></td>
                        <td align="left" style="overflow-wrap: break-word !important; word-break: break-all; width: 70%;" valign="middle"><span style="color: rgb(255, 0, 0);">●</span> Cần có SEC1000 và chỉ có ở GoodWe. Tỷ lệ CT XXX / 5 phải dựa trên điều kiện thực tế.<br>
                            <br>
                            <span style="color: rgb(255, 0, 0);">●</span> Có thể mua CT từ GoodWe hoặc các bên thứ ba khác.<br>
                            <br>
                            </td>
                    </tr>
                </tbody>
            </table><br>
            <br>
            
            <h3 style="font-size: 21px; line-height: 2em;">Cài đặt phần mềm Promate để bật chức năng giới hạn công suất đầu ra cho nhiều biến tần</h3><br>
            
            <table style="border-collapse: collapse; border-spacing: 0px; width: 100%; line-height: 2em;">
                <tbody>
                    <tr>
                        <td align="left" style="overflow-wrap: break-word !important; word-break: break-all; width: 50%;" valign="middle"> 1. Chọn "EzLogger Pro"<br>
                            2. Chờ cho đến khi màn hình hiển thị "Connection Succeed” và Số sê-ri &amp; Phiên bản<br>
                            3. Bấm ‘Refresh’ để kiểm tra số sê-ri biến tần<br>
                            4. Hướng dẫn cấu hình việc giám sát<br>
                            a. Đặt thông số hệ thống và tỷ lệ CT<br>
                            b. Chọn "Export Enab"<br>
                            c. Thông tin về nguồn, dòng điện và pha sẽ được hiển thị </td>
                        <td style="overflow-wrap: break-word !important; word-break: break-all; width: 50%;" valign="top"><img alt="" src="/images/gallary/29.png" title=""></td>
                    </tr>
                </tbody>
            </table><br>
            <br>
            <br>
            <br>
            <img alt="" height="6" src="/images/gallary/Image_402.png" title="" width="340">
            <h2 style="font-size: 24px; line-height: 2em;">GIẢI PHÁP GIỚI HẠN CÔNG SUẤT<br>
                ĐẦU RA CỦA BIẾN TẦN LAI GHÉP</h2><br>
            
            <h3 style="font-size: 21px; line-height: 2em;">Sơ đồ hệ thống biến tần lai ghép (hybrid)</h3><br>
            <br>
            <img alt="" src="/images/gallary/30.png" title=""><br>
            <br>
            
            <div style="line-height: 2em;"><span style="color: rgb(255, 0, 0);">●</span> Chỉ có biến tần hybrid được tích hợp chức năng giới hạn công suất đầu ra<br>
                <span style="color: rgb(255, 0, 0);">●</span> Cần có đồng hồ thông minh GoodWe<br>
                <span style="color: rgb(255, 0, 0);">●</span> Cần được đặt trong cài đặt nâng cao của PV Master<br>
                </div><br>
            <br>
            
            <h3 style="font-size: 21px; line-height: 2em;">Giới hạn công suất xuất đầu ra không cân bằng trên mỗi pha cho dòng ET</h3><br>
            <br>
            <img alt="" src="/images/gallary/31.png" title=""><br>
            <br>
            
            <div style="line-height: 2em;"><span style="color: rgb(255, 0, 0);">●</span> Chỉ có biến tần ET được tích hợp chức năng giới hạn công suất đầu ra không cân bằng<br>
                <span style="color: rgb(255, 0, 0);">●</span> Tối đa công suất không cân bằng trên mỗi pha là 3,3KW cho GW10K-ET<br>
                <span style="color: rgb(255, 0, 0);">●</span> Cần có đồng hồ thông minh GoodWe<br>
                <span style="color: rgb(255, 0, 0);">●</span> Giới hạn công suất không cân bằng trên mỗi pha không chỉ là đầu ra lưới foron mà còn có sẵn cho đầu ra dự phòng<br>
                <span style="color: rgb(255, 0, 0);">●</span> Cần được đặt trong cài đặt nâng cao của PV Master<br>
                </div><br>
            <br>
            <br>
            <br>
             <p></p>
            
            
            
                </div>
            </div>
        </section>

        <section id="Spec-Download">
            <p class="sdt_modular_download u-text-1"><a href="" download="GW_Residential Solutions_Brochure-VI.pdf"> Tải thông số kỹ thuật</a> </p>
        </section>

		<!--subscribe start-->
		<section id="subs" class="subscribe">
			<div class="container">
				<div class="subscribe-title text-center">
					<h2>
						Join our Subscribers List to Get Regular Update
					</h2>
					<p>
						Subscribe Now. We will send you Best offer for your Trip 
					</p>
				</div>
				<form>
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
							<div class="custom-input-group">
								<input type="email" class="form-control" placeholder="Enter your Email Here">
								<button class="appsLand-btn subscribe-btn">Subscribe</button>
								<div class="clearfix"></div>
								<i class="fa fa-envelope"></i>
							</div>

						</div>
					</div>
				</form>
			</div>

		</section>
		<!--subscribe end-->
		
		<!-- footer-copyright start -->
		<footer  class="footer-copyright">
			<div class="container">
				<div class="footer-content">
					<div class="row">

						<div class="col-sm-3">
							<div class="single-footer-item">
								<div class="footer-logo">
									<a href="index.html">
										tour<span>Nest</span>
									</a>
									<p>
										best travel agency
									</p>
								</div>
							</div><!--/.single-footer-item-->
						</div><!--/.col-->

						<div class="col-sm-3">
							<div class="single-footer-item">
								<h2>link</h2>
								<div class="single-footer-txt">
									<p><a href="#">home</a></p>
									<p><a href="#">destination</a></p>
									<p><a href="#">spacial packages</a></p>
									<p><a href="#">special offers</a></p>
									<p><a href="#">blog</a></p>
									<p><a href="#">contacts</a></p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->

						</div><!--/.col-->

						<div class="col-sm-3">
							<div class="single-footer-item">
								<h2>popular destination</h2>
								<div class="single-footer-txt">
									<p><a href="#">china</a></p>
									<p><a href="#">venezuela</a></p>
									<p><a href="#">brazil</a></p>
									<p><a href="#">australia</a></p>
									<p><a href="#">london</a></p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->
						</div><!--/.col-->

						<div class="col-sm-3">
							<div class="single-footer-item text-center">
								<h2 class="text-left">contacts</h2>
								<div class="single-footer-txt text-left">
									<p>+1 (300) 1234 6543</p>
									<p class="foot-email"><a href="#">info@tnest.com</a></p>
									<p>North Warnner Park 336/A</p>
									<p>Newyork, USA</p>
								</div><!--/.single-footer-txt-->
							</div><!--/.single-footer-item-->
						</div><!--/.col-->

					</div><!--/.row-->

				</div><!--/.footer-content-->
				<hr>
				<div class="foot-icons ">
					<ul class="footer-social-links list-inline list-unstyled">
		                <li><a href="#" target="_blank" class="foot-icon-bg-1"><i class="fa fa-facebook"></i></a></li>
		                <li><a href="#" target="_blank" class="foot-icon-bg-2"><i class="fa fa-twitter"></i></a></li>
		                <li><a href="#" target="_blank" class="foot-icon-bg-3"><i class="fa fa-instagram"></i></a></li>
		        	</ul>
		        	<p>&copy; 2017 <a href="https://www.themesine.com">ThemeSINE</a>. All Right Reserved</p>

		        </div><!--/.foot-icons-->
				<div id="scroll-Top">
					<i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div><!--/.scroll-Top-->
			</div><!-- /.container-->

		</footer><!-- /.footer-copyright-->
		<!-- footer-copyright end -->

        <% include ../shared/user/scripts.ejs %>


	</body>

</html>